@{
    string title = ViewBag.title !=""? ViewBag.title: "微信弹幕墙";
    Layout = "~/plugins/Innocellence.Activity/Views/Shared/_ScreenLayout.cshtml";
}

@section Header{
     <link rel="stylesheet" href="~/plugins/Innocellence.Activity/Content/wall.css" />
}

<div class="box">
    <input type="hidden" id="summary_id" value="@ViewBag.keyWord" />
    <input type="hidden" id="appId" value="@ViewBag.appId" />
    <input type="hidden" id="type" value="@ViewBag.type">

    <div class="s-scrren">
        <div class="s-header container">
            <div class="header-title col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <span>@title</span>
            </div>
            <div class="logo col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
                <img src="~/plugins/Innocellence.Activity/Content/img/logo_white.png" width="80" height="40" style="margin-top: 15px"/>
            </div>
        </div>
        <div class="slider container nopadding-lr" id="rcslider">
            <ul class="rcslider-top"></ul>
        </div>
    </div>
</div>

@section scripts_Foot{
    <script type="text/javascript">

        $(function () {
            var b;
            var visNum;
            if (window.outerHeight <= 768) {
                visNum = 5;
            } else {
                visNum = 8;
            }
            //循环向下滚动实现
            //$(".slider").slide({ titCell: "", mainCell: "ul.rcslider-top", autoPage: true, effect: "topLoop", autoPlay: true, vis: visNum, opp: true });

            //如果第一次刷新，则去后台取已显示过且审批通过的数据回来
            $.ajax({
                type: "Get",
                cache: false,
                url: "GetInitialQuestiones",
                data: { appId: $('#appId').val(), keyWord: $("#summary_id").val() },
                success: function (data) {
                    var len = $('#rcslider .item').length;
                    $.each(data, function (i, item) {
                        if (item != null) {
                            render(item);
                        }
                    });
                    //$(".slider").slide({ titCell: "", mainCell: "ul.rcslider-top", autoPage: true, effect: "topLoop", autoPlay: true, vis: visNum, opp: true });
                }
            });

            b = setInterval(function () {
                $.ajax({
                    type: "get",
                    cache: false,
                    url: "GetQuestiones",
                    data: { appId: $('#appId').val(), keyWord: $("#summary_id").val() },
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item != null) {
                                render(item);
                                //var currentHeight = $('.rcslider-top').css("height").replace("px", "");
                                //$('.rcslider-top').css("height",((currentHeight + 105) + "px"));
                            }
                        });
                        //if (data.length > 0) {
                        //    $(".slider").slide({ titCell: "", mainCell: "ul.rcslider-top", autoPage: true, effect: "topLoop", autoPlay: true, vis: visNum, opp: true });
                        //}
                    }
                });

                $.ajax({
                    type: "get",
                    cache: false,
                    url: "GetCancelQuestiones",
                    data: { appId: $('#appId').val(), keyWord: $("#summary_id").val() },
                    success: function (data) {
                        $.each(data, function (i, item) {
                            removeItem(item);
                        });
                        //if (data.length > 0) {
                        //    $(".slider").slide({ titCell: "", mainCell: "ul.rcslider-top", autoPage: true, effect: "topLoop", autoPlay: true, vis: visNum, opp: true });
                        //}
                    }
                });

            }, 5000);

            //弹幕主函数
            //function controller() {
            //    var e = window.event.keyCode;
            //    //按下空格键则停止
            //    if (e == 32) {
            //        clearInterval(b);
            //        return false;
            //    }
            //}

            function emojiFactory(cont) {
                var emoji = [{ "emojCode": "[微笑]", "target": "1.gif" }, { "emojCode": "[撇嘴]", "target": "2.gif" }, { "emojCode": "[色]", "target": "3.gif" }, { "emojCode": "[发呆]", "target": "4.gif" }, { "emojCode": "[得意]", "target": "5.gif" }, { "emojCode": "[流泪]", "target": "6.gif" }, { "emojCode": "[害羞]", "target": "7.gif" }, { "emojCode": "[闭嘴]", "target": "8.gif" }, { "emojCode": "[睡]", "target": "9.gif" }, { "emojCode": "[大哭]", "target": "10.gif" }, { "emojCode": "[尴尬]", "target": "11.gif" }, { "emojCode": "[发怒]", "target": "12.gif" }, { "emojCode": "[调皮]", "target": "13.gif" }, { "emojCode": "[呲牙]", "target": "14.gif" }, { "emojCode": "[惊讶]", "target": "15.gif" }, { "emojCode": "[难过]", "target": "16.gif" }, { "emojCode": "[酷]", "target": "17.gif" }, { "emojCode": "[冷汗]", "target": "18.gif" }, { "emojCode": "[折磨]", "target": "19.gif" }, { "emojCode": "[吐]", "target": "20.gif" }, { "emojCode": "[偷笑]", "target": "21.gif" }, { "emojCode": "[可爱]", "target": "22.gif" }, { "emojCode": "[白眼]", "target": "23.gif" }, { "emojCode": "[傲慢]", "target": "24.gif" }, { "emojCode": "[饥饿]", "target": "25.gif" }, { "emojCode": "[困]", "target": "26.gif" }, { "emojCode": "[惊恐]", "target": "27.gif" }, { "emojCode": "[流汗]", "target": "28.gif" }, { "emojCode": "[憨笑]", "target": "29.gif" }, { "emojCode": "[大兵]", "target": "30.gif" }, { "emojCode": "[奋斗]", "target": "31.gif" }, { "emojCode": "[咒骂]", "target": "32.gif" }, { "emojCode": "[疑问]", "target": "33.gif" }, { "emojCode": "[嘘]", "target": "34.gif" }, { "emojCode": "[晕]", "target": "35.gif" }, { "emojCode": "[抓狂]", "target": "36.gif" }, { "emojCode": "[衰]", "target": "37.gif" }, { "emojCode": "[骷髅]", "target": "38.gif" }, { "emojCode": "[敲打]", "target": "39.gif" }, { "emojCode": "[再见]", "target": "40.gif" }, { "emojCode": "[擦汗]", "target": "41.gif" }, { "emojCode": "[抠鼻]", "target": "42.gif" }, { "emojCode": "[鼓掌]", "target": "43.gif" }, { "emojCode": "[溴大了]", "target": "44.gif" }, { "emojCode": "[坏笑]", "target": "45.gif" }, { "emojCode": "[左哼哼]", "target": "46.gif" }, { "emojCode": "[右哼哼]", "target": "47.gif" }, { "emojCode": "[哈欠]", "target": "48.gif" }, { "emojCode": "[鄙视]", "target": "49.gif" }, { "emojCode": "[委屈]", "target": "50.gif" }, { "emojCode": "[快哭了]", "target": "51.gif" }, { "emojCode": "[阴险]", "target": "52.gif" }, { "emojCode": "[亲亲]", "target": "53.gif" }, { "emojCode": "[吓]", "target": "54.gif" }, { "emojCode": "[可怜]", "target": "55.gif" }, { "emojCode": "[菜刀]", "target": "56.gif" }, { "emojCode": "[西瓜]", "target": "57.gif" }, { "emojCode": "[啤酒]", "target": "58.gif" }, { "emojCode": "[篮球]", "target": "59.gif" }, { "emojCode": "[乒乓]", "target": "60.gif" }, { "emojCode": "[咖啡]", "target": "61.gif" }, { "emojCode": "[饭]", "target": "62.gif" }, { "emojCode": "[猪头]", "target": "63.gif" }, { "emojCode": "[玫瑰]", "target": "64.gif" }, { "emojCode": "[凋谢]", "target": "65.gif" }, { "emojCode": "[嘴唇]", "target": "66.gif" }, { "emojCode": "[爱心]", "target": "67.gif" }, { "emojCode": "[心碎]", "target": "68.gif" }, { "emojCode": "[蛋糕]", "target": "69.gif" }, { "emojCode": "[闪电]", "target": "70.gif" }, { "emojCode": "[炸弹]", "target": "71.gif" }, { "emojCode": "[刀]", "target": "72.gif" }, { "emojCode": "[足球]", "target": "73.gif" }, { "emojCode": "[瓢虫]", "target": "74.gif" }, { "emojCode": "[便便]", "target": "75.gif" }, { "emojCode": "[月亮]", "target": "76.gif" }, { "emojCode": "[太阳]", "target": "77.gif" }, { "emojCode": "[礼物]", "target": "78.gif" }, { "emojCode": "[拥抱]", "target": "79.gif" }, { "emojCode": "[强]", "target": "80.gif" }, { "emojCode": "[弱]", "target": "81.gif" }, { "emojCode": "[握手]", "target": "82.gif" }, { "emojCode": "[胜利]", "target": "83.gif" }, { "emojCode": "[抱拳]", "target": "84.gif" }, { "emojCode": "[勾引]", "target": "85.gif" }, { "emojCode": "[拳头]", "target": "86.gif" }, { "emojCode": "[差劲]", "target": "87.gif" }, { "emojCode": "[爱你]", "target": "88.gif" }, { "emojCode": "[NO]", "target": "89.gif" }, { "emojCode": "[YES]", "target": "90.gif" }, { "emojCode": "[爱情]", "target": "91.gif" }, { "emojCode": "[飞吻]", "target": "92.gif" }, { "emojCode": "[跳跳]", "target": "93.gif" }, { "emojCode": "[发抖]", "target": "94.gif" }, { "emojCode": "[怄火]", "target": "95.gif" }, { "emojCode": "[转圈]", "target": "96.gif" }, { "emojCode": "[磕头]", "target": "97.gif" }, { "emojCode": "[回头]", "target": "98.gif" }, { "emojCode": "[跳绳]", "target": "99.gif" }, { "emojCode": "[挥手]", "target": "100.gif" }, { "emojCode": "[激动]", "target": "101.gif" }, { "emojCode": "[街舞]", "target": "102.gif" }, { "emojCode": "[献吻]", "target": "103.gif" }, { "emojCode": "[左太极]", "target": "104.gif" }, { "emojCode": "[右太极]", "target": "105.gif" }];
                $.each(emoji, function (i, value) {
                    if (cont.indexOf(value.emojCode) >= 0) {
                        cont = cont.replace(eval('/\\' + value.emojCode + '/g'), '<img src="/plugins/Innocellence.Activity/Content/face/' + value.target + '"/>');
                    }
                });
                return cont;
            }

            function render(item) {
                var pic = item.WeixinPic == null || item.WeixinPic == "" ? "/Content/img/icon_avatar_default.png" : item.WeixinPic;
                var name = item.WeixinName;
                if ($('#type').val() == "0") {
                    //代表匿名弹幕
                    pic = "/Content/img/icon_avatar_default.png";
                    name = "匿名";
                }
                var tmpl = '<li id="item_' + item.Id + '"><div class="item"><div class="col-md-2 col-lg-2 asker text-center">' +
                    '<img class="img-responsive" src="' + pic + '"/>' + '<h4>' + name + '</h4></div>' +
                    '<div class="col-md-10 col-lg-10 question">' + emojiFactory(item.FeedBackContent) + '</div><div class="clearfix"></div></div></li>';

                $('.rcslider-top').prepend(tmpl);
                $('#item_' + item.Id).fadeIn(500);
            }

            function removeItem(item) {
                $('#item_' + item.Id).fadeOut(500);
                $('#item_' + item.Id).remove();
                //var currentHeight = $('.rcslider-top').css("height").replace("px", "");
                //$('.rcslider-top').css("height", (currentHeight - 105 + "px"));
            }

        });
    </script>
}
