@using System.Linq;

@section easyui_css{
    <link rel="stylesheet" href="~/styles/EasyUI/easyui.css" type="text/css" />
}
<style>
    .tree:before {
        display: none;
    }

    .addUser-title {
        padding: 20px 15px;
        font-size: 16px;
    }

    .ms-choice {
        display: block;
        height: 34px !important;
        padding: 0;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid #d5d5d5 !important;
        text-align: left;
        white-space: nowrap;
        line-height: 34px !important;
        color: #858585 !important;
        text-decoration: none;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
        background-color: #fff;
    }

        .ms-choice > div {
            top: 5px !important;
            background-size: 40px 40px !important;
        }

    .selected-tag {
        display: inline-block;
        padding: 2px 6px;
        margin-right: 8px;
        margin-bottom: 10px;
        border: 1px solid #ee4b46;
        color: #ee4b46;
    }
    /*.multiselect {
        display: none;
    }*/
    .dataTables_paginate {
        text-align: right;
        width: 120%;
        float: right;
    }
</style>
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a id="a_address_book" data-toggle="tab" href="#div_address_book">通讯录</a></li>
        <li role="presentation"><a id="a_tag" href="../Tagmanage/index">标签</a></li>
    </ul>
</div>
<div class="tab-content bg-white">
    <div class="tab-pane fade in active" id="div_address_book">
        <div class="row">
            <div class="col-md-4 col-lg-4" style="overflow: auto;">
                <form class="form-inline" id="SearchForm" method="post">
                    <input type="hidden" name="DeptId" id="DeptId" />
                    <div class="form-group">
                        <input class="form-control" style="width:240px;" type="text" id="SearchCondition" name="SearchCondition" placeholder="WWID / 姓名 / 邮箱 / 手机 / 微信号">
                        <input class="form-control" type="text" id="TestEmpty" name="TestEmpty" placeholder="TestEmpty" style="display:none">
                        <a href="#" class="btn btn-sm" id="btnSearch">搜索</a>
                    </div>
                </form>
                <div class="tree" style="height: 550px;margin-top:13px;">
                    <div class="widget-content nopadding">
                        <table id="DepartmentTree"></table>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-8">
                <div class="form-group pull-right">
                    @*<a href="javascript:void(0);" type="button" id="update_userlist" class="btn btn-warning btn-sm" title="Update Userlist">
                            <i class="fa fa-refresh"></i>Update UserList
                        </a>*@
                    @{
                        var User = Session["UserInfo"] as Infrastructure.Web.Domain.Entity.SysUser;
                    }
                    @if (User != null && User.Menus != null && User.Menus.Where(p => p.MenuName == "同步成员" & p.MenuGroup == "System Admin").Count() > 0)
                    {
                        <a href="#" class="btn btn-warning btn-sm" id="btnSync" title="同步成员">
                            <i class="fa fa-refresh"></i>同步成员
                        </a>
                    }
                    @if (User != null && User.Menus != null && User.Menus.Where(p => p.MenuName == "添加成员" & p.MenuGroup == "System Admin").Count() > 0)
                    {
                        <a href="#" class="btn btn-success btn-sm" id="btnAdd" title="添加成员">
                            <i class="fa fa-plus"></i>添加成员
                        </a>
                    }
                    @if (User != null && User.Menus != null && User.Menus.Where(p => p.MenuName == "批量添加成员" & p.MenuGroup == "System Admin").Count() > 0)
                    {
                        <a href="#" class="btn btn-success btn-sm" id="add_Batch" title="批量添加成员" data-toggle="modal" data-target="#BatchModal">
                            <i class="fa fa-plus"></i>批量添加成员
                        </a>
                    }
                </div>
                <div class="clearfix"></div>
                <div class="table-box" style="margin-top:0px; padding: 0;">
                    <div class="widget-content nopadding">
                        <table id="address_book_data_table" class="table table-striped table-bordered table-hover data-table">
                            <thead>
                                <tr>
                                    <th style="display:none"></th>@*<input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />*@
                                    <th style="width: 10%;">员工编号</th>
                                    <th style="width: 10%;">姓名</th>
                                    <th style="width: 10%;">手机</th>
                                    <th style="width: 10%;">邮箱</th>
                                    <th style="width: 10%;">部门</th>
                                    <th style="width: 5%">状态</th>
                                    <th style="width: 5%;">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Begain-->
        @*用户详细信息*@
        <div class="modal fade" id="UserInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">用户信息：</h4>
                    </div>
                    <div class="modal-body">
                        <input id="usertag-user-openid" type="hidden" />
                        <div class="row" id="user-details-info" style="margin-left:30px;">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="ModalTable" tabindex="-1" role="dialog" aria-labelledby="modal-title">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="PostUser" id="ff" method="get" class="form-horizontal" datasource="Get">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modal-title">用户信息</h4>
                        </div>

                        <div class="modal-body" style="padding:initial">
                            <input type="hidden" id="ID" name="ID" />
                            <input type="hidden" id="UserId" name="UserId" data-bind="value: UserId" />
                            <input type="hidden" id="Status" name="Status" data-bind="value: Status" />
                            <input type="hidden" id="Avatar" name="Avatar" data-bind="value: Avatar" />
                            @*<div class="form-group">
                                    <label class="col-sm-3 control-label">UserID :</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="UserId" name="UserId" class="form-control" placeholder="User ID" data-bind="value: UserId"
                                               validate="{required:true,maxlength:30,messages:{required:'Please input your WeChatUserID.', maxlength:'This UserId is too long.'}}" />
                                    </div>
                                    <div class="col-sm-1 require">*</div>
                                </div>*@
                            <div class="addUser-title">基本信息</div>
                            <div style="border-bottom:1px solid #e5e5e5;">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">姓名 :</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="name" name="UserName" class="form-control" placeholder="请填写姓名" data-bind="value: UserName"
                                               validate="{required:true,maxlength:30,messages:{required:'Please input your Name.', maxlength:'This name is too long.'}}" />
                                    </div>
                                    <div class="col-sm-1 require">*</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">部门 :</label>
                                    <div class="col-sm-7">
                                        <select id="department" name="departmentAll" class="easyui-combotree" data-options="url:'../Department/GetListTree',method:'get',cascadeCheck:false" style="width:100%;" multiple="multiple" data-bind="value: DepartmentIds"></select>
                                    </div>
                                    <div class="col-sm-1 require">*</div>
                                </div>
                            </div>
                            <div class="addUser-title">身份验证信息 （以下三种信息不可同时为空）<span class="require">*</span></div>
                            <div style="border-bottom:1px solid #e5e5e5;">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">微信 :</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="weixinid" name="WeiXinId" placeholder="" data-bind="value: WeiXinId" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">手机 :</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="mobile" name="Mobile" placeholder="" data-bind="value: Mobile"
                                               validate="{required:false,phoneCN:true,maxlength:11,messages:{required:'Please input your mobile.', maxlength:'This mobile is too long.', phoneCN:'Please check mobile format.'}}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">邮箱 :</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="email" name="Email" placeholder="" data-bind="value: Email"
                                               validate="{required:true,maxlength:150,email:true,messages:{required:'Please input your email.', maxlength:'This eamil is too long.',email:'Please check this eamil format.'}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="addUser-title">其他属性信息</div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">性别 :</label>
                                <div class="col-sm-7">
                                    <select id="gender" name="Gender" class="form-control" data-bind="value: Gender" validate="{required:false}">
                                        <option value="" selected="selected" disabled="disabled" style="display:none;">请选择</option>
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">职位 :</label>
                                <div class="col-sm-7">
                                    <input type="text" id="position" name="Position" class="form-control" placeholder="" data-bind="value: Position" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">职级 :</label>
                                <div class="col-sm-7">
                                    <input type="text" id="gradeCode" name="GradeCode" class="form-control" placeholder="" data-bind="value: GradeCode" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">英文名 :</label>
                                <div class="col-sm-7">
                                    <input type="text" id="enName" name="EnName" class="form-control" placeholder="" data-bind="value: EnName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">城市City :</label>
                                <div class="col-sm-7">
                                    <input type="text" id="city" name="City" class="form-control" placeholder="" data-bind="value: City" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">生日 :</label>
                                <div class="col-sm-7">
                                    <input type="datetime" id="birthday" name="Birthday" class="form-control" placeholder="" data-bind="value: Birthday">
                                    @*<input type="text" id="birthday" name="Birthday" class="form-control" placeholder="" data-bind="value: Birthday" />*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">上级编号 :</label>
                                <div class="col-sm-7">
                                    <input type="text" id="directManagerID" name="DirectManagerID" class="form-control" placeholder="" data-bind="value: DirectManagerID" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">CompanyID :</label>
                                <div class="col-sm-7">
                                    <input type="text" id="companyID" name="CompanyID" class="form-control" placeholder="" data-bind="value: CompanyID" />
                                </div>
                            </div>
                            @*<div class="form-group">
                                    <label class="col-sm-3 control-label">HR系统编号 :</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="hrCode" name="HrCode" class="form-control" placeholder="" data-bind="value: HrCode" />
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <label class="col-sm-3 control-label">员工编号 :</label>
                                <div class="col-sm-7">
                                    <input type="text" id="employeeNo" name="EmployeeNo" class="form-control" placeholder="" data-bind="value: EmployeeNo" />
                                </div>
                                <div class="col-sm-1 require">*</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">员工状态 :</label>
                                <div class="col-sm-7">
                                    <select id="employeeStatus" name="EmployeeStatus" class="form-control" data-bind="value: EmployeeStatus" validate="{required:false}">
                                        <option value="0" selected="selected" disabled="disabled" style="display:none;">请选择</option>
                                        <option value="1">在职</option>
                                        <option value="2">离职</option>
                                        <option value="3">实习生</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">工会成员 :</label>
                                <div class="col-sm-7">
                                    <select id="LabourUnionStatus" name="LabourUnionStatus" class="form-control" data-bind="value: LabourUnionStatus" validate="{required:false}">
                                        <option value="" selected="selected" disabled="disabled" style="display:none;">请选择</option>
                                        <option value="Y">Y</option>
                                        <option value="N">N</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户标签 :</label>
                                <div class="col-sm-7">
                                    <select id="userTags" name="UserTags" style="width:336px;" multiple="multiple">
                                        @foreach (var tag in ViewBag.TagList)
                                        {
                                            <option value="@tag.tagid">@tag.tagname</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div id="departmentTags" class="form-group" style="display:none">
                                <label class="col-sm-3 control-label">部门标签 :</label>
                                <div id="departmentTagsZone" class="col-sm-7">

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="BatchModal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-title">批量添加成员</h4>
                    </div>
                    <div class="modal-body">
                        <div class="guide">
                            <p>
                                请遵循我们提供的模板信息填写通讯录，然后上传Excel文件，
                                上传成功后，文件中的成员信息会自动导入到通讯录中.
                                <br />
                                <a href="/Plugins/Innocellence.WeChatMain/ReferenceDoc/batch_user_sample.xlsx" target="_blank" type="button"><b>下载模板</b></a>
                            </p>
                        </div>

                        @*<div class="optype">
                                <select class="chosen-select form-control form-control" name="OPType" id="OPType" data-placeholder="Choose a State...">
                                    <option value="1">增量更新成员</option>
                                    <option value="2">全量覆盖成员</option>
                                </select>
                            </div>*@

                        <div class="upload_csv">
                            <div id="uploader" class="wu-example">
                                <!--用来存放文件信息-->
                                <div id="thelist" class="uploader-list"></div>
                                <div class="btns">
                                    <div id="picker" class="pull-left" style="margin-right:15px;">选择文件</div>
                                    <button id="ctlBtn" class="btn btn-md" disabled>开始上传</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="DeptEditModel" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="blue bigger">部门信息</h4>
                    </div>
                    <div class="widget-body nopadding">
                        <form action="../Department/PostDept" id="DeptEditForm" method="get" class="form-horizontal" datasource="../Department/Get">
                            <input type="hidden" id="ID" name="ID" />
                            @*<div class="form-group">
                                    <label class="col-sm-3 control-label">id :</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="deptid" class="form-control" placeholder="id" data-bind="value: id" validate="{required:true}" />
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <label class="col-sm-3 control-label">部门名称:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="name" class="form-control" placeholder="dept Name" data-bind="value: name" validate="{required:true}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">父级部门 :</label>
                                <div class="col-sm-9">
                                    <select id="parentid" name="parentid" class="easyui-combotree" data-options="url:'../Department/GetListTree',method:'get'" style="width: 200px;" data-bind="value: parentid"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">优先级 :</label>
                                <div class="col-sm-9">
                                    <input type="text" name="order" class="form-control" placeholder="order" data-bind="value: order" validate="{required:true}" />
                                </div>
                            </div>

                            <div class="clearfix form-actions">
                                <button type="submit" class="btn btn-success"><i class="ace-icon fa fa-check bigger-110"></i>保存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="mm" class="easyui-menu" style="width: 120px; display:none">
            <div id="idArea" data-options="iconCls:'icon-remove'"></div>
            <div onclick="append()" data-options="iconCls:'icon-remove'">添加</div>
            <div onclick="removeit()" data-options="iconCls:'icon-remove'">移除</div>
            <div onclick="editit()" data-options="iconCls:'icon-remove'">编辑</div>
        </div>
    </div>
</div>
@section scripts_Foot
{
    <link rel="stylesheet" href="~/styles/ui.jqgrid.css" />
    <link rel="stylesheet" href="~/styles/jquery-ui.css" />
    @*<link href="~/Scripts/multiple-select-master/multiple-select.css" rel="stylesheet">
        <script src="~/Scripts/multiple-select-master/multiple-select.js"></script>*@
    <script src="~/Scripts/jqGrid/jquery.jqGrid.src.js"></script>
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script>
        strAction = 'User';
        var treeEdit;
        var uploader;
        var BASE_URL = '/';
        $(document).ready(function () {
            //datepicker plugin
            $('#birthday').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'yyyy/mm/dd',
                minDate: -10,
                maxDate: "+1M +10D",
                todayBtn: "linked",
                clearBtn: true
            });
            $('#userTags').multiselect({ minimumCountSelected: Infinity });
            LEAP.Common.MainPop.options.dataTable = $('#address_book_data_table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": {
                    "url": "GetList",
                    "data": function (d) {
                        ajaxData(d, "SearchForm", LEAP.Common.MainPop.options.dataTable);
                    }
                },
                "paging": true,
                // "info": false,
                "SearchForm": "SearchForm",
                "aoColumns": [
                    {
                        "mDate": 'Checkbox',
                        "bSortable": false,
                        "sClass": "sTdCheckbox",
                        "visible": false
                    },
                    {
                        "mData": 'EmployeeNo',
                        "bSortable": false,
                        "sClass": ""
                    },
                    {
                        "mData": 'UserName',
                        "bSearchable": false,
                        "bSortable": false
                    },
                    {
                        "mData": 'Mobile',
                        "bSortable": false,
                        "sClass": ""
                    },
                    {
                        "mData": 'Email',
                        "bSearchable": false,
                        "bSortable": false
                    },
                    {
                        "mData": 'DisplayDepartmentNames',
                        "bSortable": false,
                        "sClass": ""
                    },
                    {
                        "mData": 'Status',
                        "bSortable": true,
                    },
                    {
                        "mDate": 'Opretion',
                        "bSearchable": false,
                        "bSortable": false
                    }
                ],
                "columnDefs": jQuery.extend(true, datatableSetting.columnDefs, [
                    {
                        "targets": 0,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        "targets": 2,
                        "render": function (data, type, full, meta) {
                            if (full.Avatar != null) {
                                return '<div><img src="' + full.Avatar + '" class="face"/><a data-toggle="modal" data-target="#UserInfo" data-userId="' + full.Id + '" onclick="SycUserInfo(this)"><span>' + ((data == "" || data == null) ? "未知" : data) + '</span></a></div>';
                            } else {
                                return '<div><img src="/Content/img/icon_avatar_default.png" class="face"/><a data-toggle="modal" data-target="#UserInfo" data-userId="' + full.Id + '" onclick="SycUserInfo(this)"><span>' + ((data == "" || data == null) ? "未知" : data) + '</span></a></div>';
                            }
                        }
                    },
                    {
                        "targets": 6,
                        "render": function (data, type, full, meta) {
                            switch (data) {
                                case 1:
                                    return '';
                                    break;
                                case 2:
                                    return '<span class="status"><i class="fa fa-lock"></i></span>';
                                    break;
                                case 4:
                                    return '<span class="status"><i class="fa fa-question"></i></span>';
                                    break;
                            }
                            return '未知';
                        }
                    }, {
                        "targets": 7,
                        "render": function (data, type, full, meta) {
                            return '<a href="javascript:void(0);" onclick="LEAP.Common.MainPop.RowClick(\'' + full.Id + '\',1)" class="artDailog btn btn-info  btn-xs" style="margin-right:5px;" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>' +
                                '<a href="javascript:void(0);" onclick="LEAP.Common.MainPop.RowClick(\'' + full.UserId + '\',2,null,\'Delete?' + (new Date()).getTime() + '\')" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="tooltip" data-placement="top" title="删除">' +
                                '<i class="fa fa-trash-o"></i></a>';
                        }
                    }
                ]),

                fnDrawCallback: function () {
                    $('ul.pagination').append("<li class='paginate_button'><input type='text' style='width:30px;float:left' id='go_page'></li><li class='paginate_button'><a class='gotopage'>Go</a></li>")
                    $('.gotopage').click(function () {
                        console.log($('#address_book_data_table').dataTable())
                        $('#address_book_data_table').dataTable().api().page(parseInt($('#go_page').val()) - 1).draw(false)
                    })
                    $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
                }
            }));

            LEAP.Common.MainPop.options.afterShowModal = function () {
                var Id = $('#ID').val();
                if (Id != "0") {
                    //如果ID有值则将UserID和WeixinId俩列设为只读
                    $('#UserId').attr('readonly', 'readonly');
                    $('#weixinid').attr('readonly', 'readonly');
                } else {
                    $('#Status').val(4);
                    $('#UserId').attr('readonly', false);
                    $('#weixinid').attr('readonly', false);
                    $('#departmentTagsZone').html('');
                    $('#departmentTags').hide();
                }
                $('#userTags').multiselect('deselectAll', false);
                $('#userTags').multiselect('refresh');
            };

            LEAP.Common.MainPop.options.afterBindData = function (o) {
                if (o) {
                    //    if (o.gender == "" && o.gender == 0) {
                    //    $('#gender option:first').attr('selected', true);
                    //}
                    ////未关注的可以修改微信ID，已关注的不让修改
                    if (o.Status == 4) {
                        $('#weixinid').attr('readonly', false);
                    }
                    if (o.TagList) {
                        for (var i in o.TagList) {
                            $('#userTags').multiselect('select', o.TagList[i]);
                        }
                    }
                    $('#departmentTagsZone').html('');
                    if (o.DepartmentTagList) {
                        $('#departmentTags').show();
                        for (var it in o.DepartmentTagList) {
                            var selectedTag = '<div class="selected-tag" id="department_tag_' + it + '" value="' + it + '">' + o.DepartmentTagList[it] + '</div> ';
                            $('#departmentTagsZone').append(selectedTag);
                        }
                    }
                    else {
                        $('#departmentTags').hide();
                    }
                }
            };

            $('#DataTables_Table_0_wrapper > .row:first-child').remove();
            CreateTree();
            //LEAP.Common.MainPop.options.fnAfterSuccess = AfterSuccess;
            //treeEdit = LEAP.Common.MainPop;
            treeEdit = $("#DeptEditModel").formPopup({ fnAfterSuccess: AfterSuccess });

            //强制更新用户list statc变量
            $('#update_userlist').click(function () {

                $.ajax({
                    type: "Get",
                    url: "UpdateUserlist",
                    success: function (data) {
                        artDialog.alert("Update Successful !")
                        LEAP.Common.MainPop.options.dataTable.fnDraw();
                    }
                });

            });
            $('#btnSync').click(function () {
                $.ajax({
                    type: "Get",
                    url: "SyncMember",
                    success: function () {
                        artDialog.confirm("同步完成。是否刷新页面以查看最新结果？", function () {
                            location.reload(true);
                        });
                    }
                });
            });
            $('#ModalTable').on('shown.bs.modal', function () {
                $('.textbox.easyui-fluid.combo').css('width', '100%');
                $('.textbox.easyui-fluid.combo input').css('width', '100%');
            });
            $('#BatchModal').on('shown.bs.modal', function () {
                //实例化uploader对象
                if (uploader) {
                    //第二次打开重置下
                    uploader.reset();
                    var $list = $('#thelist');
                    $list.html('');
                    $('#ctlBtn').prop('disabled', 'true');
                    $('#ctlBtn').removeClass('btn-success');
                } else {
                    var $list = $('#thelist');
                    var $btn = $('#ctlBtn');
                    var state = 'pending';
                    uploader = WebUploader.create({
                        //处理文件的服务端
                        server: '../UserWeChat/batchuser',
                        // Swf文件路径
                        swf: '../scripts/webuploader/Uploader.swf',
                        pick: { id: '#picker', multiple: false },
                        accept: [
                            {
                                title: 'Excel',
                                extensions: 'xlsx',
                                mimeTypes: 'xlsx/*'
                            }
                        ],
                        disableGlobalDnd: true,
                        dnd: '#uploader .uploader-list',
                        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                        resize: false,

                        fileNumLimit: 1,
                        fileSizeLimit: 5 * 1024 * 1024, // 200 M
                        fileSingleSizeLimit: 1 * 1024 * 1024, // 50 M

                    });
                    $btn.on('click', function () {
                        if (state === 'uploading') {
                            uploader.stop();
                        } else {
                            uploader.upload();
                        }
                    });
                    uploader.on('all', function (type) {
                        if (type === 'startUpload') {
                            state = 'uploading';
                        } else if (type === 'stopUpload') {
                            state = 'paused';
                        } else if (type === 'uploadFinished') {
                            state = 'done';
                        }

                        if (state === 'uploading') {
                            // $btn.text('paused');
                        } else {
                            $btn.text('开始上传');
                        }
                    });

                    uploader.on('uploadBeforeSend', function (obj, data) {
                        data.OPType = 1;
                    });

                    //uploader.on('beforeFileQueued', function (file) {
                    //    uploader.reset();
                    //    return true;
                    //});

                    //显示用户的选择--WebUploader
                    uploader.on('fileQueued', function (file) {
                        $list.append('<div id="' + file.id + '" class="item">' +
                            '<h4 class="info">' + file.name + '</h4>' +
                            '<p class="state">等待上传...</p>' +
                            '</div>');
                        $('#ctlBtn').prop('disabled', '');
                        $('#ctlBtn').addClass('btn-success');
                    });

                    //文件上传进度显示
                    uploader.on('uploadProgress', function (file, percentage) {
                        var $li = $('#' + file.id),
                            $percent = $li.find('.progress .progress-bar');

                        // 避免重复创建
                        if (!$percent.length) {
                            $percent = $('<div class="progress progress-striped active">' +
                                '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                                '</div>' +
                                '</div>').appendTo($li).find('.progress-bar');
                        }

                        $li.find('p.state').text('uploading...');

                        $percent.css('width', percentage * 100 + '%');
                    });

                    //成功错误处理
                    uploader.on('uploadSuccess', function (file) {
                        uploader.reset();
                        var $list = $('#thelist');
                        $list.html('');
                        //close modal
                        $('#BatchModal').modal('hide');
                        //popup dialog
                        var d = dialog({
                            title: 'message',
                            content: '批量添加成员成功. 请点击按钮查询结果.',
                            okValue: '查看结果',
                            ok: function () {
                                window.location.href = "/WechatMain/UserWechat/JobList";
                            },
                            cancelValue: '关闭',
                            cancel: function () {
                                $('#DepartmentTree').html('');
                                CreateTree();
                            }
                        });
                        d.showModal();
                        //artDialog.confrim('<br/><a href="/" class="btn btn-info btn-sm"><i class="fa fa-eye"></i>&nbsp;&nbsp;View Result</a>');
                        //refresh datatable
                        LEAP.Common.MainPop.options.dataTable.fnDraw();
                    });

                    uploader.on('uploadAccept', function (block, ret, fn) {
                        if (ret.error) {
                            fn(ret.error.message);
                        }
                    });

                    uploader.on('uploadError', function (file, code) {
                        uploader.reset();
                        var $list = $('#thelist');
                        $list.html('');
                        artDialog.alert(code);
                        $('#ctlBtn').prop('disabled', 'true');
                        $('#ctlBtn').removeClass('btn-success');
                    });

                    uploader.on('error', function (type) {
                        uploader.reset();
                        var $list = $('#thelist');
                        $list.html('');
                        switch (type) {
                            case "Q_EXCEED_NUM_LIMIT":
                                //artDialog.alert('文件已更换!');
                                break;
                            case "F_EXCEED_SIZE":
                            case "Q_EXCEED_SIZE_LIMIT":
                                artDialog.alert('文件过大, 请重新选择!');
                                break;
                            case "Q_TYPE_DENIED":
                                artDialog.alert('不支持的文件类型! ');
                                break;
                            default:
                                artDialog.alert('Error: ' + type);
                                break;
                        }
                    });

                    uploader.on('uploadComplete', function (file) {
                        $('#' + file.id).find('.progress').fadeOut();
                    });
                }
            }); //upload initial when modal show.
            $('#txtSearch').on("change", function (e) {
                //防止ID为空发出无效请求
                if ($(this).val() == null || $(this).val() == "") {
                    //artDialog.alert("Please enter a LiilyID");
                    return false;
                };
                $.ajax({
                    type: "Get",
                    url: "../Tagmanage/GetListByCondation",
                    data: { "txtSearch": $('#txtSearch').val() },
                    success: function (data) {
                        if (data.data != null) {
                            $('.user-list').append('<div class="user-item" data-id="' + data.data.userid + '">'
                                + '<img src="' + data.data.avatar + '" class="img-responsive" name="userImg" width="28" height="28" style="display:inline-block"/>'
                                + '<span class="user-name">' + data.data.name + '</span>'
                                + ' <span class="remove"><i class="fa fa-close"></i></span>'
                                + '</div>');

                            //点击close移除item
                            $('.remove').click(function () {
                                $(this).parent('.user-item').remove();
                            });
                        } else {
                            artDialog.alert("Invalid UserId!");
                            return false;
                        }
                    }
                });
            });
        });

        //点击姓名获取信息
        function SycUserInfo(obj) {
            var userId = jQuery(obj).data("userid");
            $.ajax({
                url: "http://" + window.location.host + "/WechatMain/UserWechat/Get",
                type: "post",
                data: { "Id": userId },
                datatype: "json",
                success: function (result) {
                    $("#user-details-info").html('');
                    if (result !== null) {
                        //var newTime = new Date(result.Data.SubScribeTime * 1000)
                        var html = '<div class="row user-info-item" > <img class="img-header"  src="' + ((result.Avatar == null || result.Avatar == "") ? "/images/icon_avatar_default.png" : result.Avatar) + '" style="max-width:120px"/>&nbsp&nbsp&nbsp ' + (result.UserName == null ? "未知" : result.UserName) + '</div>';
                        html = html + '<div class="row user-info-item"> 邮箱：' + (result.Email == null ? "" : result.Email) + '</div>';
                        html = html + '<div class="row user-info-item"> 手机：' + (result.Mobile == null ? "" : result.Mobile) + '</div>';
                        html = html + '<div class="row user-info-item"> 微信 :' + (result.WeiXinId == null ? "" : result.WeiXinId) + '</div>';
                        html = html + '<div class="row user-info-item"> 地区：' + (result.City == null ? "" : result.City) + '</div>';
                        html = html + '<div class="row user-info-item"> 员工编号：' + (result.EmployeeNo == null ? "" : result.EmployeeNo) + '</div>';
                        html = html + '<div class="row user-info-item"> CompanyID：' + (result.CompanyID == null ? "" : result.CompanyID) + '</div>';
                        html = html + '<div class="row user-info-item"> 部门 ：' + (result.DisplayDepartmentNames == null ? "" : result.DisplayDepartmentNames) + '</div>';
                        html = html + '<div class="row user-info-item"> 职位 ：' + (result.Position == null ? "" : result.Position) + '</div>';
                        html = html + '<div class="row user-info-item"> 在职状态 ：' + checkEmStatus(result.EmployeeStatus) + '</div>';
                        html = html + '<div class="row user-info-item"> 工会成员 :' + (result.LabourUnionStatus == null ? "" : result.LabourUnionStatus) + '</div>';
                        html = html + '<div class="row user-info-item"> 上级编号 ：' + (result.DirectManagerID == null ? "" : result.DirectManagerID) + '</div>';
                        html = html + '<div class="row user-info-item"> 关注状态 ：' + checkStatus(result.Status) + '</div>';

                        //html = html + '<div class="row user-info-item"> 用户编号：' + (result.Data.CustomerNO == null ? "" : result.Data.CustomerNO) + '</div>';
                        //html = html + '<div class="row user-info-item"> 关注时间：' + newTime.format('yyyy-MM-dd') + '</div>';
                        //if (result.Data.IsCanceled) {
                        //    var caneldate = new Date(result.Data.UnSubScribeTime)
                        //    html = html + '<div class="row user-info-item"> 关注状态：该用户已取消关注</div>';
                        //    if (result.Data.UnSubScribeTime !== null) {
                        //        html = html + '<div class="row user-info-item"> 取关时间：' + caneldate.format('yyyy-MM-dd') + '</div>';
                        //    }
                        //}



                        $("#user-details-info").append(html);
                    }
                },
                error: function (msg) {
                    //alert("error" + msg);
                }
            });
        }
        var checkEmStatus = function (status) {
            switch (status) {
                case 1: return "在职";
                case 2: return "离职";
                case 3: return "实习";
                default: return "未知"

            }
        }
        var checkStatus = function (sta) {
            switch (sta) {
                case 1: return '已关注';
                case 2: return '<i class="fa fa-lock"></i>';
                case 4: return '<i class="fa fa-question"></i>';
                default: return "未知"
            }
        }

        //删除某标签下的成员
        function delTagMember(Id) {
            var d = dialog({
                title: 'Delete Member',
                content: '<p><i class="fa fa-alert"></i><span>你确定从这个标签中移除该成员吗?</span></p>',
                okValue: 'Yes',
                ok: function () {
                    $.ajax({
                        type: "get",
                        url: "../Tagmanage/delTagmember?time=" + (new Date()).getTime(),
                        data: { "userId": Id, "tagId": $('#TagId').val() },
                        success: function (data) {
                            if (data != null) {
                                //LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
                                LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                                LEAP.Common.MainPop.options.dataTable.fnDraw();
                            } else {
                                return false;
                            }
                        }
                    });
                    return true;
                },
                cancelValue: 'No',
                cancel: function () { }
            });

            d.showModal();
        }

        //去除数组中重复的项
        function unique(obj) {
            var res = [];
            var json = {};
            for (var i = 0; i < obj.length; i++) {
                if (!json[obj[i]]) {
                    res.push(obj[i]);
                    json[obj[i]] = 1;
                }
            }
            return res;
        }

        function AfterSuccess() {
            var t = $('#DepartmentTree');
            //t.tree('reload');

            window.location.reload();
        }

        function editit() {
            var t = $('#DepartmentTree');
            var node = t.tree('getSelected');
            treeEdit.ShowUpdateInfo(node.id);
        }

        function append() {
            var t = $('#DepartmentTree');
            var node = t.tree('getSelected');

            treeEdit.ShowUpdateInfo();

            //t.tree('append', {
            //    parent: (node ? node.target : null),
            //    data: [{
            //        text: 'new item1'
            //    }, {
            //        text: 'new item2'
            //    }]
            //});
        }

        function removeit() {
            var node = $('#DepartmentTree').tree('getSelected');
            // $('#DepartmentTree').tree('remove', node.target);
            treeEdit.fnDelete([{ Id: node.id }], '../Department/Delete?' + (new Date()).getTime() + '');
        }

        function collapse() {
            var node = $('#DepartmentTree').tree('getSelected');
            $('#DepartmentTree').tree('collapse', node.target);
        }

        function expand() {
            var node = $('#DepartmentTree').tree('getSelected');
            $('#DepartmentTree').tree('expand', node.target);
        }

        //在search之前得先选择Tag
        function BeforeSearch() {
            if ($('#SearchCondition').val() == "" || $('#SearchCondition').val() == null) {
                artDialog.alert("请输入搜索条件 (WWID / 姓名 / 邮箱 / 手机 / 微信账号).");
                return false;
            }

            if ($('.nav-tabs li.active a').prop('id') == 'a_address_book') {
                if ($('#DeptId').val() == "" || $('#DeptId').val() == null) {
                    //artDialog.alert("请先从左侧列表中选择一个部门.");
                    //return false;
                    $('#DeptId').val($('#DepartmentTree').tree("getRoot").id)
                }
            }
            else {
                if ($('#TagId').val() == "" || $('#TagId').val() == null) {
                    artDialog.alert("请先从左侧列表中选择一个标签.");
                    return false;
                }
            }

            return true;
        }

        function CreateTree() {
            $('#DepartmentTree').tree({
                url: '../Department/GetListTree?t=' + (new Date()).getTime(),
                method: 'get',
                animate: true,
                onClick: function (node) {
                    $("#DeptId").val(node.id);
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                    LEAP.Common.MainPop.options.dataTable.fnDraw();
                },
                onContextMenu: function (e, node) {
                    e.preventDefault();
                    $(this).tree('select', node.target);
                    // 追加ID表示
                    $('#mm').find('#idArea').html("ID:&nbsp;" + node.id);
                    $('#mm').menu('show', {
                        left: e.pageX,
                        top: e.pageY
                    });
                }
            });
        }
    </script>
}

