.icon_filetype {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 28px 40px;
}

.filetype_doc, .filetype_docx {
    background-image: url(/images/style-old-global_801b41ce.png);
    background-position: -450px -320px;
}

.filetype_zip {
    background-image: url(/images/style-old-global_801b41ce.png);
    background-position: -1040px -80px;
}

.filetype_txt {
background-image: url(/images/style-old-global_801b41ce.png);
background-position: -450px -160px;
}

.filetype_video {
    background-image: url(/images/style-old-global_801b41ce.png);
    background-position: 0 -80px;
}

.filetype_ppt, .filetype_pptx {
    background-image: url(/images/style-old-global_801b41ce.png);
    background-position: 0px -423px;
}

.filetype_xls, .filetype_xlsx {
    background-image: url(/images/style-old-global_801b41ce.png);
    background-position: -80px -423px;
}

.filetype_pdf {
    background-image: url(/images/style-old-global_801b41ce.png);
    background-position: -160px -423px;
}

.filetype_others, .filetype_psd, .filetype_xml {
    background-image: url(/images/style-old-global_801b41ce.png);
    background-position: -240px -423px;
}

.mc_detail {
   /* display: inline-block;*/
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
}

.file_detail_info {
    padding: 2px 0 0 0px;
}

.file_detail_info .name {
    max-height: 36px;
    color: #222;
    line-height: 1.3;
}

.file_detail_info .size {
    margin-top: 5px;
    display: block;
}

.gray {
    color: #75777A;
}

.icon_filetype {
    float: left;
}



