@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>访问出错</h1>
    <p class="lead">访问出错，请查看日志！</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
