@{
    ViewBag.Title = "DoctorHistory列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td {
        padding: 5px!important;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <form class="form-inline" id="SearchForm" method="post">
            <div class="form-group">
                <div class="form-group">
                    <input class="form-control" type="text" name="Name" placeholder="名称">
                </div>
                <a href="javascript:void(0)" class="btn  btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="按条件搜索">
                    <i class="fa fa-search"></i>
                </a>
            </div>
            <div class="form-group pull-right" style="margin-left:5px">
                @*<a href="/plugins/innocellence.wx.tools/content/PollingAcountingTemplate.xlsx" id="downloadTemplateBtn" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="下载得分统计模板">
                        <i class="fa fa-file-excel-o"></i>
                    </a>*@
                <a href="/LccpBackendAdmin/doctorhistory/edithistory" id="addBtn" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="添加">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </form>

        <div class="widget-box">
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width: 5%">旧医生ID</th>
                            <th style="width: 10%">旧医生HcpId</th>
                            <th style="width: 8%">旧医生OpenId</th>
                            <th style="width: 5%">新医生Id</th>
                            <th style="width: 10%">新医生HcpId</th>
                            <th style="width: 8%">新医生OpenId</th>
                            <th style="width: 5%">状态</th>
                            <th style="width: 15%">记录</th>
                            <th style="width: 15%">系统记录</th>
                            <th style="width: 7%">创建时间</th>
                            <th style="width: 7%">更新时间</th>
                            <th style="width: 5%">操作</th>
    @*<th style="width: 1%">有效否</th>
    <th style="width: 1%">修改</th>
    <th style="width: 1%">删除</th>*@
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>

</div>
<input value="@ViewBag.AppId" style="display:none;" class="hidden-input"/>
@section scripts_Foot
{
    <script type="text/javascript">
        $(document).ready(function() {

            var taskproject = @Html.Raw(Json.Encode(ViewBag.TaskProjects));

            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": { "url": "/DoctorHistory/GetList" },
                "aoColumns": [
                    //{
                    //    "mData": "Id",
                    //    "bSearchable": false,
                    //    "bSortable": false
                    //    //"sClass": "sTdCheckbox"
                    //},
                    {
                        "mData": "LoserDctrId",
                        "bSearchable": false,
                        "bSortable": false
                    },
                    {
                        "mData": "LoserHcpId",
                        "bSearchable": false,
                        "bSortable": false
                    },
                     {
                         "mData": "LoserOpenId",
                         "bSearchable": false,
                         "bSortable": false
                     },
                      {
                          "mData": "WinnerDctrId",
                          "bSearchable": false,
                          "bSortable": false
                      },
                        {
                            "mData": "WinnerHcpId",
                            "bSearchable": false,
                            "bSortable": false
                        },
                        {
                            "mData": "WinnerOpenId",
                            "bSearchable": false,
                            "bSortable": false
                        },
                        {
                            "mData": "Status",
                            "bSearchable": false,
                            "bSortable": false
                        },
                        {
                            "mData": "Notes",
                            "bSearchable": false,
                            "bSortable": false
                        },
                        {
                            "mData": "Comment",
                            "bSearchable": false,
                            "bSortable": false
                        },
                        {
                            "mData": "CreateTime",
                            "bSearchable": false,
                            "bSortable": false
                        },
                        {
                            "mData": "UpdateTime",
                            "bSearchable": false,
                            "bSortable": false
                        }

                ],
                "columnDefs":
                    jQuery.extend(true, datatableSetting.columnDefs, [                        
                       {
                           "targets": 0,
                           "render": function (data, type, full, meta) {
                               return data;
                           }
                       },
                       {
                           "targets": 11,
                           "render": function (data, type, full, meta) {
                               return '<a href="/LccpBackendAdmin/doctorhistory/edithistory?id=' + full.Id + '" id="addBtn" class="btn btn-success  btn-xs  pull-left" data-toggle="tooltip" data-placement="top" style="margin: 2px;" title="">修改</a>';
                           }
                       }
                    ]),

                fnDrawCallback:
                         function () { $('[data-toggle="tooltip"]').tooltip(); }
            }));

        });


        function ChangeVoteStatus(id, obj, url) {
            $.ajax({
                type: 'Get',
                url: url + '?Id=' + id,
                cache: false
            }).done(function(data) {
                artDialog.alert(data.Message);
                LEAP.Common.MainPop.options.dataTable.fnDraw(true);
            });
        }
        function DeleteStatus(id, obj, url) {
            artDialog.width = 250;
            artDialog.height = 250;
                artDialog.confirm("是否确定删除?", 
                function () {
                    $.ajax({
                        type: 'Get',
                        url: url + '?Id=' + id,
                        cache: false
                    }).done(function(data) {
                        artDialog.alert(data.Message);
                        LEAP.Common.MainPop.options.dataTable.fnDraw(true);
                    });
                });

            
        }

        function mstime(mss) {
            //var days = parseInt(mss / (1000 * 60 * 60 * 24));
            var hours = parseInt(mss / ( 60 * 60));
            var minutes = parseInt((mss % ( 60 * 60)) / (60));
            var seconds = parseInt(mss % 60)
            var ref = "";
            if (hours < 10) {
                ref += "0" + hours + ":"
            } else {
                ref += hours + ":"
            }
            if (minutes < 10) {
                ref += "0" + minutes + ":"
            } else {
                ref += minutes + ":"
            }
            if (seconds < 10) {
                ref += "0" + seconds
            } else {
                ref += seconds
            }

            return ref;
        }

    </script>
}