@{
    ViewBag.Title = "项目估算列表";
}

<body>
    <div id="toolbar" class="btn-group">
        <button id="btn_load" type="button" class="btn btn-default btn-load">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Load
        </button>
        <button id="btn_save" type="button" class="btn btn-default btn-save">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Save
        </button>

    </div>

    <div class="widget-box">
        <div class="widget-content nopadding">
            <div class="table table-bordered data-table" id="table">
                @*<thead>
                        <tr>
                            <th style="width: 5%">Id</th>
                            <th style="width: 30%">ProjectGid</th>
                            <th style="width: 10%">RoleTitle</th>
                            <th style="width: 10%">RoleRate</th>
                            <th style="width: 10%">Effort</th>
                            <th style="width: 10%">RateEffort</th>

                        </tr>
                    </thead>*@
            </div>
        </div>
    </div>


</body>

@section scripts_Foot
{
    <script language="javascript">
        var roleTitles = [];
        $(document).ready(function () {
            var roleTitlesRaw = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.RoleTitles));
            roleTitlesRaw.forEach(function(item, index, arr){
                roleTitles.push({
                    id: item.Id,
                    name: item.Title
                });
            });
            initTable();
        });

        function initTable() {
            var container = document.getElementById('table')
            var load = document.getElementById('btn_load')
            var save = document.getElementById('btn_save')
            var projectGid = getQueryVariable('projectGid');

            table = jexcel(container, {
                url: '../EstimateEffortApi/GetData?projectGid=' + projectGid,
                tableWidth: "100%",
                tableHeight: "100%",
                footers: [['Total', '=SUMCOL(TABLE(), COLUMN())', '=SUMCOL(TABLE(), COLUMN())', '=SUMCOL(TABLE(), COLUMN())']],
                columns: [
                    {
                        type: 'hidden',
                        width: '80px',
                        title: 'Id',
                        name: 'Id'
                    },
                    {
                        type: 'hidden',
                        width: '120px',
                        title: 'ProjectGid',
                        name: 'ProjectGid'
                    },
                    {
                        type: 'hidden',
                        width: '120px',
                        title: 'ProjectId',
                        name: 'ProjectId'
                    },
                    {
                        type: 'hidden',
                        width: '80px',
                        title: 'EmployeeId',
                        name: 'EmployeeId'
                    },
                    {
                        type: 'hidden',
                        width: '80px',
                        title: 'EmployeeGid',
                        name: 'EmployeeGid'
                    },
                    {
                        type: 'dropdown',
                        width: '250px',
                        title: 'Role',
                        name: 'RoleId',
                        source: roleTitles,
                        multiple: false,
                        align: 'left'
                    },
                    {
                        type: 'hidden',
                        width: '80px',
                        title: 'RoleTitle',
                        name: 'RoleTitle'
                    },
                    {
                        type: 'text',
                        width: '80px',
                        title: 'Role Rate',
                        name: 'RoleRate'
                    },
                    {
                        type: 'text',
                        width: '80px',
                        title: 'Effort',
                        name: 'Effort',
                        align: 'right'
                    },
                    {
                        type: 'text',
                        width: '100px',
                        title: 'Rate Effort',
                        name: 'RateEffort',
                        align: 'right'
                    },
                ],
                //updateTable: function (instance, cell, col, row, val, label, cellName) {
                //    // Number formating
                //    if (col == 9) {
                //        // Get text
                //        txt = cell.innerText;
                //        // Format text
                //        a = parseInt(txt);
                //        b = a.toLocaleString();
                //        // Update cell value
                //        cell.innerHTML = b;
                //    }

                //    //// Total row
                //    //if (row == 9) {
                //    //    if (col < 3) {
                //    //        cell.innerHTML = '';
                //    //    }

                //    //    if (col == 2) {
                //    //        cell.innerHTML = 'Total';
                //    //        cell.style.fontWeight = 'bold';
                //    //    }

                //    //    cell.className = '';
                //    //    cell.style.backgroundColor = '#f46e42';
                //    //    cell.style.color = '#ffffff';
                //    //}
                //}
            });


            //Handsontable.dom.addEvent(save, 'click', function () {
            //    // save all cell's data
            //    var data1 = hot.getData();
            //    // 组合数据给后台传
            //    var dataList = [];
            //    var projectGid = getQueryVariable('projectGid');

            //    data1.forEach(function (currentValue, index, arr) {
            //        if (currentValue[0] == 2147483647) {
            //            return;
            //        }
            //        var d = {
            //            Id: currentValue[0],
            //            RoleId: currentValue[1],
            //            RoleTitle: currentValue[2],
            //            RoleRate: currentValue[3],
            //            Effort: currentValue[4],
            //            RateEffort: currentValue[5],
            //            projectGid: projectGid
            //        };
            //        dataList.push(d);
            //    });

            //    $.ajax({
            //        url: '../EstimateEffortApi/SaveData',
            //        method: 'POST',
            //        dataType: "json",
            //        data: {
            //            estimateEffortViews: dataList
            //        },
            //        success: function (res) {
            //            alert(JSON.stringify(res));
            //        }
            //    });
            //    //$.ajax('SaveData', 'POST', JSON.stringify({ data: hot.getData() }), function (res) {
            //    //    var response = JSON.parse(res.response);

            //    //    if (response.status === '200') {
            //    //        exampleConsole.innerText = 'Data saved';
            //    //    }
            //    //    else {
            //    //        exampleConsole.innerText = 'Save error';
            //    //    }
            //    //});
            //});

        }
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return (false);
        }

        // A custom method to SUM all the cells in the current column
        var SUMCOL = function (instance, columnId) {
            var total = 0;
            for (var j = 0; j < instance.options.data.length; j++) {
                if (Number(instance.records[j][columnId - 1].innerHTML)) {
                    total += Number(instance.records[j][columnId - 1].innerHTML);
                    console.warn(b);
               }
            }
            return total;
        }
    </script>
}