
<script src="/Scripts/history/lib/layer/layer.js"></script>
<script src="/Scripts/chosen/chosen.jquery.js"></script>
<script src="/Scripts/MenuManagement/app.js"></script>
<!--<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css"/>-->
<link rel="stylesheet" href="/Scripts/chosen/chosen.css"/>
<!--<link rel="stylesheet" href="Scripts/autoReplay/dist/css/bootstrap-multiselect.css"/>-->
<link rel="stylesheet" href="/styles/MenuManagement.css"  >
<style>
    .btn{
    line-height:3px;
    }
    </style>
<div>
    <div class="menu_list">
        <div class="left_header">
            <span class="page_title">菜单管理</span>
            <div class="bar_right ">
                <button id="add_menu_button" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <div class="left_content">
            <p class="gray text_center">可创建最多 3 个一级菜单，每个一级菜单下可创建最多 5 个二级菜单。</p>

            <ul id="root_ul" class="list-group">


            </ul>
            <div>
                <button id="menu_submit" class="btn btn-primary" type="button">保存</button>
                
            </div>
        </div>

    </div>
    <div class="menu_preview">
        <div class="right_header">
            预览
        </div>
        <div class="right_content">
            <div class="preview_background">
                <div class="core_preview">


                </div>
            </div>
        </div>


    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">编辑菜单</h4>
                </div>
                <div class="modal-body" id="modal-body">
                    <input type="hidden" id="modal_id">
                    <div class="row">
                        <div class="col-sm-3 text-edit">菜单类型:</div>
                        <div class="col-sm-9">
                            <select id="modal_select" name="modal_select">
                                <option value="null">请选择类型</option>
                                <option value="click">菜单Key</option>
                                <option value="view">跳转到网页</option>
                                <option value="view-news-list">跳转到图文列表</option>
                            </select>
                        </div>
                    </div>

                    <div class="row modal_select hide">
                        <div class="col-sm-3 text-edit">选择口令:</div>
                        <div class="col-sm-9">
                            <select id="key_select" data-placeholder="请选择口令" >
                               
                                
                            </select>
                        
                        </div>
                    </div>
                    <div class="modal_select hide">
                        <div class="row">
                            <div class="col-sm-3 text-edit">Url:</div>
                            <div class="col-sm-9">
                                <input type="text" id="url_input" style="width:70%;"/>
                            </div>
                        </div>


                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" id="modal_submit" class="btn btn-primary">保存</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>