<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-8">
    <form id="bigForm" name="bigForm" class="form-horizontal">
        <input id="hiddenAppId" type="hidden" name="appidhid" value="2">
        <input id="AjaxUrl" type="hidden" name="ajaxurl">
        <input id="config" type="hidden" name="config">
        <input id="tagShow" type="hidden" name="tagShow">
        <div class="box">
            <div class="box-header"><h4><i class="halflings-icon th"></i><span class="break"></span>发送给：</h4></div>
            <div class="box-content"><input id="mainGroup" type="hidden" name="name" value="">
                <div id="mainGroupShow"></div>
                <div class="mask"></div>
                <div class="w_bar">
                    <div class="forShowName">
                        <div class="Showspan"></div>
                    </div>
                    <a id="do_add" href="#" class="do_add">+</a><a id="do_all" href="#" class="do_all">全选成员</a></div>
            </div>
        </div>
    </form>
</div>
</body>
</html>