@{
    ViewBag.Title = "错误页";
}

@section Header{
     <link rel="stylesheet" href="~/plugins/Innocellence.Activity/Content/style.css" />
}   

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <img src="~/Content/img/smiley.png" class="img-responsive" height="100%" style="margin:5px auto;"/>
    <h3>Sorry, Please contact system administrator.</h3>
</div>



