@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="form-group col-sm-5">
        <div class="col-sm-2">
            <label>从</label>
        </div>
        <div class="col-sm-10">
            <div data-date-format="yyyy-mm-dd" class="input-append date date-picker" style="display:inline-block;">
                <div class="input-group">
                    <input type="datetime" name="BeginDate" id="BeginDate" class="form-control" placeholder="Begin Date" />
                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                </div>
            </div>
        </div>
    </div>
    

    <div class="form-group col-sm-5">
        <div class="col-sm-2">
            <label>至</label>
        </div>
        <div class="col-sm-10">
            <div data-date-format="yyyy-mm-dd" class="input-append date date-picker" style="display:inline-block;">
                <div class="input-group">
                    <input type="datetime" name="EndDate" id="EndDate" class="form-control" placeholder="结束日期" />
                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <button id="submit">确定</button>
    </div>
</div>

<div class="jumbotron" style="clear:both">

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px"></div>
    <!-- ECharts单文件引入 -->
  
    <script type="text/javascript">
        // 路径配置
        var GetPie = function () {
            require.config({
                paths: {
                    // echarts: 'http://echarts.baidu.com/build/dist'
                    echarts: '../../scripts/build/dist/'
                }
            });

            // 使用
            require(
                [
                    'echarts',
                    'echarts/chart/pie' // 使用饼状图就加载pie模块，按需加载
                ],
                function (ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('main'));

                    var options = {
                        title: {
                            text: 'APP访问量',
                            subtext: '某一阶段',
                            x: 'center'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            orient: 'vertical',
                            x: 'left',
                            data: []
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                mark: { show: true },
                                dataView: { show: true, readOnly: false },
                                magicType: {
                                    show: true,
                                    type: ['pie', 'funnel'],
                                    option: {
                                        funnel: {
                                            x: '25%',
                                            width: '50%',
                                            funnelAlign: 'left',
                                            max: 1548
                                        }
                                    }
                                },
                                restore: { show: true },
                                saveAsImage: { show: true }
                            }
                        },
                        calculable: true,
                        series: [
                            {
                                name: '访问来源',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '60%'],
                                data: []
                            }
                        ]
                    };

                    //// 为echarts对象加载数据
                    //myChart.setOption(option); //通过Ajax获取数据
                    var begindate = $('#BeginDate').val();
                    var enddate = $('#EndDate').val();
                    $.ajax({
                        type: "post",

                        async: false, //同步执行
                        url: "Statistics",
                        data: { state: '2', begindate: begindate, enddate: enddate },

                        dataType: "json", //返回数据形式为json

                        success: function (result) {

                            if (result) {

                                //将返回的category和series对象赋值给options对象内的category和series

                                var data1 = options.series[0].data;
                                for (var i = 0; i <= result.Data.length - 1; i++) {
                                    data1.push({ name: result.Data[i].Sereisname, value: result.Data[i].Sereisvalue || 0 });
                                    options.legend.data.push(result.legend[i]);
                                }

                                //options.series.data = result.series;

                                //options.legend.data = result.legend;

                                myChart.hideLoading();

                                myChart.setOption(options);

                            }

                        },

                        error: function (errorMsg) {

                            alert("不好意思，图表请求数据失败啦!");

                        }

                    });
                }
            );
        };
    </script>

    <script>
        $('#submit').click(function () {
            if ($('#BeginDate').val() >= $('#EndDate').val()) {
                alert("开始日期需晚于结束日期");
                return false;
            } else {
                GetPie();
            }
           
        });
        //datepicker plugin
        $(document).ready(function () {
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true,
                dateFormat: 'yyyy-mm-dd',
                minDate: -10,
                maxDate: "+1M +10D",
            });
        });
    </script>
</div>



