
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-hans" version="XHTML+RDFa 1.0"
      dir="ltr"
      xmlns:content="http://purl.org/rss/1.0/modules/content/"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      xmlns:og="http://ogp.me/ns#"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:sioc="http://rdfs.org/sioc/ns#"
      xmlns:sioct="http://rdfs.org/sioc/types#" op
      xmlns:skos="http://www.w3.org/2004/02/skos/core#"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/Scripts/assets/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>稳糖社区</title>
    <link type="text/css" rel="stylesheet" href="/Scripts/assets/css/reset-min.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/Scripts/assets/css/style.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/Scripts/assets/css/mobile.cascading-list.css" media="all" />
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/assets/js/1.9.0.js?obmskp"></script>
    <script type="text/javascript" src="/Scripts/assets/js/jquery.validate.min.js?obmskp"></script>
    <script type="text/javascript" src="/Scripts/assets/js/jquery.mobile-events.min.js"></script>
    <script type="text/javascript" src="/Scripts/assets/js/mobile.cascading-list.js?obmskp"></script>
    <script type="text/javascript" src="/Scripts/assets/js/append.js?obmskp"></script>
    <script type="text/javascript" src="/Scripts/assets/js/jweixin-1.0.0.js?obmskp"></script>
    @RenderSection("scripts_head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
