@{
    Layout = "~/plugins/Innocellence.WeChat/Views/Shared/_wxLayout.cshtml";
}
@section Header{
    <link rel="stylesheet" href="~/Content/Site.css" />
}
<div class="text-center">
    <img class="warningImg" src="~/Content/img/warning.png">
    <h4> @T("此文章的预览已过期")</h4>
</div>

