@model Innocellence.WeChat.Domain.ModelsView.ArticleInfoView
@{
    ViewBag.Title = @Model.ArticleTitle;
    ViewBag.Activemenu = @Model.ArticleTitle;
    Layout = "~/plugins/Innocellence.WeChat/Views/Shared/_wxLayout.cshtml";
}
@section Header{
    <link rel="stylesheet" href="~/Plugins/Innocellence.WeChat//Content/style.css">
}

<div class="detail col-xs-12" style="padding-top:12px;">
  
    @if (!String.IsNullOrEmpty(Model.ArticleContent))
    {
            <div class="detail-content">
                @Html.Raw(Model.ArticleContent)
            </div>
    }
  
</div>

@section scripts_Foot{
   <script src="~/Scripts/Common/ImgPreview.js" type="text/javascript"></script>
}