@{
    Layout = "~/plugins/Innocellence.WeChat/Views/Shared/_wxLayout.cshtml";
}
@section Header{
    <link rel="stylesheet" href="~/Content/Site.css" />
}
<div class="text-center">
    <div class="smiley"></div>
    <h4><i class="fa fa-exclamation-triangle"></i> @T("此文章的预览已过期")</h4>
</div>

