@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>WeChat Admin Platform Login</title>

    <meta name="description" content="Static &amp; Dynamic Tables" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"><!--bootstrap cdn-->
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"><!--font-awesome cdn-->

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/Styles/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Styles/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="~/Styles/webAdmin/Site.css" />
    <link rel="stylesheet" href="~/Styles/ui-dialog.css" />
    <link rel="stylesheet" href="~/Styles/layout/layout.css"/>
  
    <!--<link rel='shortcut icon' href="~/Content/img/logo_icon.ico" />-->
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/styles/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/styles/ace-ie.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/Scripts/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="/Scripts/html5shiv.js"></script>
    <script src="/Scripts/respond.js"></script>
    <![endif]-->

    <!-- basic scripts -->
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/Scripts/jquery1x.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
 
    <script src="//cdn.bootcss.com/jquery-placeholder/2.3.0/jquery.placeholder.min.js"></script><!--jquery-placeholder cdn-->
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!--bootstrap cdn-->
    <script src="~/Scripts/jquery.metadata.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/common/Common.js"></script>
    <script src="~/Scripts/common/dialog-min.js"></script>
    <script src="~/Scripts/common/view.min.js"></script>
    <script type="text/javascript">
        $(function() {
            view.menuModule().clearActiveMenu();
        });
    </script>
</head>
<body class="login-layout light-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                        	<a href="#" class="logo logo-login"></a>
                            @*<h4 class="blue" id="id-company-text">&copy; Innocellence and Company</h4>*@
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="visible">
                                <div class="widget-body">
                                    <!--<div class="widget-main">-->
                                        <div class="space-6"></div>

                                        <form id="fmLogin" action="~/account/login" method="post">
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control login-input" name="UserName" value="" placeholder="用户名" validate="{required:true}" />
                                                        <i class="ace-icon fa login-icon fa-user"></i>
                                                    </span>
                                                </label>
                                               
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control login-input" name="Password" value="" placeholder="密码" validate="{required:true}" />
                                                        <i class="ace-icon fa login-icon fa-lock"></i>
                                                    </span>
                                                </label>
                                                                                                                                           
                                                <!--<label class="inline">
													<input type="checkbox" class="ace" name="RememberMe" value="true" />
													<span class="lbl">&nbsp;下次自动登录</span>
												</label>-->
												
												<div class="space"></div>
                                                
                                                <div class="clearfix">
                                                    <!--<label class="inline hidden">
                                                        <input type="checkbox" class="ace" name="RememberMe" value="true" />
                                                        <span class="lbl"> Remember Me</span>
                                                    </label>-->

                                                    <button type="button" name="Login" id="Login" class="btn-block btn btn-lg btn-primary">
                                                        <span class="bigger-110">登录</span>
                                                    </button>
                                                    <div class="pull-right hidden"><a class="forget-password" href="">忘记密码？</a></div>
                                                </div>

                                                <div class="space-4"></div>
                                                <div style="color: #999; font-size: 13px;">注：建议在Windows系统下使用Chrome浏览器登录</div>
                                            </fieldset>
                                        </form>


                                    <!--</div>--><!-- /.widget-main -->

                                    <div class="toolbar clearfix hidden">
                                        <div>
                                            <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                                <i class="ace-icon fa fa-arrow-left"></i>
                                                I forgot my password
                                            </a>
                                        </div>

                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->

                            <div id="forgot-box" class="forgot-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header red lighter bigger">
                                            <i class="ace-icon fa fa-key"></i>
                                            Retrieve Password
                                        </h4>

                                        <div class="space-6"></div>
                                        <p>
                                            Enter your email and to receive instructions
                                        </p>

                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="form-control" placeholder="Email" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>

                                                <div class="clearfix">
                                                    <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                                        <span class="bigger-110">Send Me!</span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div><!-- /.widget-main -->

                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            Back to login
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.forgot-box -->


                        </div><!-- /.position-relative -->

                        <!--<div class="navbar-fixed-top align-right">
                            <br />
                            &nbsp;
                            <a id="btn-login-dark" href="#">Dark</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a id="btn-login-blur" href="#">Blur</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a id="btn-login-light" href="#">Light</a>
                            &nbsp; &nbsp; &nbsp;
                        </div>-->
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <div class="footer">
			<!--<span class="pull-left">Innocellence eWechart Backend System</span>-->
			<span class="pull-right" > &copy; @DateTime.Now.Year.ToString() Innocellence System Pte.Ltd. All rights reserved</span>
	</div>
    <!-- basic scripts -->
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });


        $.metadata.setType("attr", "validate");

        $('#fmLogin').on('keydown', function (envent) {
            if (event.which == 13) {
                $('#Login').trigger('click');
            }

        });

        jQuery(function ($) {
            $('input, textarea').placeholder();//inital input placeholder.
            $('#Login').on("click", function (e) {
                e.preventDefault();
                var validator = $('#fmLogin').validate();
                if (!validator.form()) { return false; }
                var postData = $('#fmLogin').serializeArray();

                $.post("/Account/Login", postData, function (data) {
                    if (ReturnValueFilter(data)) {
                        window.location.href = "/";
                    } else { return false; }
                });
            });
        });


        //you don't need this, just used for changing background
        jQuery(function ($) {
            $('#btn-login-dark').on('click', function (e) {
                $('body').attr('class', 'login-layout');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'blue');

                e.preventDefault();
            });
            $('#btn-login-light').on('click', function (e) {
                $('body').attr('class', 'login-layout light-login');
                $('#id-text2').attr('class', 'grey');
                $('#id-company-text').attr('class', 'blue');

                e.preventDefault();
            });
            $('#btn-login-blur').on('click', function (e) {
                $('body').attr('class', 'login-layout blur-login');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'light-blue');

                e.preventDefault();
            });

        });
    </script>
</body>
</html>
