<!DOCTYPE html>
<html lang="en">
<head>
    <title>WeChat Admin</title>
    <script language="javascript">
        function submitForm() {
            var myForm = document.forms['form'];
            myForm.submit();
        }
    </script>
</head>

<body class="no-skin" onload="submitForm()">
    @RenderBody()
</body>
</html>
