@{
    ViewBag.Title = "项目估算列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td {
        padding: 5px !important;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <form class="form-inline" id="SearchForm" method="post">
            <div class="form-group">
                <div class="form-group">
                    <input class="form-control" type="text" name="ProjectName" placeholder="名称">
                </div>
                <a href="javascript:void(0)" class="btn  btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="按条件搜索">
                    <i class="fa fa-search"></i>
                </a>
            </div>
        </form>

        <div class="widget-box">
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width: 5%">ID</th>
                            <th style="width: 15%">Role</th>
                            <th style="width: 15%">Rate</th>
                            <th style="width: 15%">Effort</th>
                            <th style="width: 15%">Rate Effort</th>
                            <th style="width: 5%">操作</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>

</div>
<input value="@ViewBag.AppId" style="display:none;" class="hidden-input" />
@section scripts_Foot
{
    <script type="text/javascript">
        $(document).ready(function () {

            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": { "url": "GetList" },
                "aoColumns": [
                    {
                        "mData": "Id",
                        "bSearchable": true,
                        "bSortable": true
                        //"sClass": "sTdCheckbox"
                    },
                    {
                        "mData": "RoleTitle",
                        "bSearchable": true,
                        "bSortable": true
                        //"sClass": "sTdCheckbox"
                    },
                    {
                        "mData": "RoleRate",
                        "bSearchable": true,
                        "bSortable": true
                        //"sClass": "sTdCheckbox"
                    },
                    {
                        "mData": "Effort",
                        "bSearchable": false,
                        "bSortable": false
                        //"sClass": "sTdCheckbox"
                    },
                    {
                        "mData": "RateEffort",
                        "bSearchable": false,
                        "bSortable": false
                        //"sClass": "sTdCheckbox"
                    }
                ],
                "columnDefs":
                    jQuery.extend(true, datatableSetting.columnDefs, [
                        {
                            "targets": 5,
                            "render": function (data, type, full, meta) {
                                return '<a href="delete?sIds=' + full.Id + '" id="addBtn" class="btn btn-success  btn-xs  pull-left" data-toggle="tooltip" data-placement="top" style="margin: 2px;" title="" target="_blank">delete</a>'+
                                '<a href="edit?id=' + full.Id + '" id="addBtn" class="btn btn-success  btn-xs  pull-left" data-toggle="tooltip" data-placement="top" style="margin: 2px;" title="" target="_blank">edit</a>';
                            }
                        }

                    ]),

                fnDrawCallback:
                    function () { $('[data-toggle="tooltip"]').tooltip(); }
            }));

        });

    </script>
}