@model Innocellence.Activity.Contracts.ViewModel.PollingView
@{
    ViewBag.Title = "有奖问答";
    Layout = "~/plugins/Innocellence.CA/Views/Shared/_wxLayout.cshtml";
}
@section Header{
    <link rel="stylesheet" href="~/plugins/Innocellence.CA/Content/style.css?v=20170703" />
}
@section scripts_Foot{
    <script src="~/plugins/Innocellence.Activity/Content/js/FrontPolling.js?v=20170703"></script>
}
<div id="wxQA">

    <div class="panel panel-default">
        <div class="panel-heading" style="font-size:20px">@Model.Name</div>
        <div class="panel-body polling_middle_have_vote">
            您已参与
        </div>
    </div>

</div>


