﻿@using Innocellence.Activity.Entity
@model Innocellence.Activity.Contracts.ViewModel.PollingView
@{
    ViewBag.Title = "有奖问答/投票";
    Layout = null;
}
<div id="WxDeleted">
    <div class="panel panel-default">
        <div class="panel-body polling_middle_have_vote">
            此投票不存在或者已删除
        </div>
        <div class="panel-body polling_grey_submit">
            提交
        </div>
    </div>
</div>


