@model Innocellence.Activity.Contracts.ViewModel.PollingView
@{
    ViewBag.Title = "有奖问答";
    Layout = null;
}
<div id="wxQA">

    <div class="panel panel-default">
        <div class="panel-heading" style="font-size:20px">@Model.Name</div>
        <div class="panel-body polling_middle_have_vote">
            您已参与
        </div>
    </div>
</div>


