@{
    Layout = "~/plugins/Innocellence.CA/Views/Shared/_wxLayout.cshtml";
}
@section Header{
    <link rel="stylesheet" href="~/Content/Site.css" />
}
<div class="text-center">
    <div class="smiley"></div>
    <h4><i class="fa fa-exclamation-triangle"></i> @T("此活动不存在或者已删除")</h4>
</div>

