<input type="hidden" id="AppId" value="@ViewBag.AppId" />

@{
    <link rel="stylesheet" href="~/Plugins/Innocellence.WechatMain/Content/tag.css" />
    <script src="/Scripts/wechatab/lib/layer/layer.js"></script>
    <script src="/Scripts/wechatab/dist/wechatab.js"></script>
    <script src="/Scripts/jsviews.min.js"></script>
    <script src="/Scripts/p.list.bind.js"></script>
    <script src="/Scripts/pages.js"></script>
    <script src="/Scripts/jquery.colorbox.js"></script>
    <link href="~/Plugins/Innocellence.WechatMain/Content/FileManage.css" rel="stylesheet" />
    Script.Include("~/Plugins/Innocellence.WechatMain/Scripts/jquery.ui.widget.js");
    Script.Include("~/Plugins/Innocellence.WechatMain/Scripts/jquery.iframe-transport.js");
    Script.Include("~/Plugins/Innocellence.WechatMain/Scripts/jquery.fileupload.js");
    Style.Include("~/Plugins/Innocellence.WechatMain/Scripts/jquery.fileupload.css");
    <link href="/Scripts/fileupload/webuploader/webuploader.css" rel="stylesheet">
    <link href="/styles/file-type.css" rel="stylesheet">
    <script src="/Scripts/fileupload/powerWebUpload.js"></script>


}
<div class="subpage-title">
    <div class="pull-left">
        素材管理
    </div>
    <div class="clear"></div>
</div>

<style>
    .row {
        clear: both;
    }

    .preview-box .preview-list ul li.default-item .default-text-box {
        height: 190px;
        width: 100%;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        box-sizing: border-box;
        color: #777;
        cursor: pointer;
    }

    .video_unit {
        position: relative;
        width: 358px;
        padding: 10px 0;
        border: 1px solid #c2c2c2;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: #fff;
    }

    .preview-box {
        width: 450px;
        height: 390px;
        background: #ffffff;
        overflow: auto;
    }

    .btn-primary {
        cursor: pointer;
    }

    .upload-input {
        height: 40px;
    }
</style>

<div class="message_list" style="margin-top: 65px;">
    <div class="message_bar" style="padding: 0 10px;">
        <div class="float-right js_create">
            <a class="btn btn-white btn-primary " data-toggle="modal" data-placement="top"
               title="新建素材" id="UploadBtn" data-target="#ImageUploadModal">
                <i class="fa fa-image"></i>&nbsp;新建素材
            </a>
        </div>
        <!-- <div class="float-right"><a id="js_upload_material" class="btn mb_btn float-right" href="javascript:;">上传素材</a></div> -->
        <ul class="js_toolbar message_filetype_items">
            <li data-type="image" class="active"><a href="javascript:;">图片</a></li>
            <li data-type="audio" class=""><a href="javascript:;">语音</a></li>
            <li data-type="video" class=""><a href="javascript:;">视频</a></li>
            <li data-type="file" class=""><a href="javascript:;">文件</a></li>
            <div class="clear"></div>
        </ul>
    </div>
</div>

<div id="ImageList" class="widget-box" style="margin-top: 0px;">
    <div class="widget-content nopadding box-add">
        <div id="tbody_image"></div>
        <div class="clear"></div>
    </div>
    <div class="row">
        <div class="col-xs-6"></div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers" id="data_table_test_paginate">
                <ul class="pagination" id="page_image"></ul>
            </div>
        </div>
    </div>
</div>

<div id="AudioList" class="widget-box " style="margin-top: 0px;display:none">
    <div class="widget-content nopadding box-add">
        <div id="tbody_audio"></div>
    </div>
    <div class="row">
        <div class="col-xs-6"></div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers" id="data_table_test_paginate">
                <ul class="pagination" id="page_audio"></ul>
            </div>
        </div>
    </div>
</div>

<div id="VideoList" class="widget-box " style="margin-top: 0px;display:none;">
    <div class="widget-content nopadding box-add">
        <div id="tbody_video"></div>
        <div class="clear"></div>
    </div>
    <div class="row">
        <div class="col-xs-6"></div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers" id="data_table_test_paginate">
                <ul class="pagination" id="page_video"></ul>
            </div>
        </div>
    </div>
</div>

<div id="FileList" class="widget-box " style="margin-top: 0px;display:none;">
    <div class="widget-content nopadding box-add">
        <div id="tbody_file"></div>
        <div class="clear"></div>
    </div>
    <div class="row">
        <div class="col-xs-6"></div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers" id="data_table_test_paginate">
                <ul class="pagination" id="page_file"></ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ImageUploadModal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title">图片素材</h4>
            </div>
            <div class="modal-body">
                <div id="picUploader" class="wu-example">
                    <input id="Img-upload-input" class="form-control upload-input" accept="image/png,image/jpeg" type="file" name="file"
                           onchange="" />
                    <div id="Img-progress-bar" class="progress" style="margin-bottom: 0px;margin-top:5px;">
                        <div class="bar progress-bar" style="width: 0%;"></div>
                    </div>
                </div>
                <div class="controls col-md-9 col-md-offset-3">
                    <input class="form-control" type="hidden" id="image-src" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="ImageReviewModal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title">Picture Review</h4>
            </div>
            <div class="modal-body">
                <div id="picUploader" class="wu-example">
                    <div id="picReview" class="uploader-list">
                        <div class="file-item thumbnailreview">
                            <img id="picReviewSrc" style="display: block; height: auto;width: auto; max-width: 100%;"
                                 onerror="this.src = '/Content/img/smiley.png'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="VideoUploadModal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title">视频素材</h4>
            </div>
            <div class="modal-body" style="height:500px;">
                <div>
                    <div id="video-input" style="float:left;width:400px;">
                        <div class="control-group">
                            <div class="controls">
                                <p class="help-block">视频 (格式支持mp4，文件大小不超过10M)</p>
                                <span class="btn btn-white btn-primary fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i><span>增加视频</span>
                                    <input id="video-upload-input" accept="video/mp4,audio/mp4" type="file" name="file"
                                           class="uploader_video">
                                </span>
                                <div id="video-cover-progress-bar" class="progress1">
                                    <div style="width: 0%;height: 18px;background: green;display:none"
                                         class="bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <p class="help-block">视频封面<sup>*</sup></p><span class="btn btn-white btn-primary fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i><span>增加封面</span>
                                    <input id="video-cover-upload-input" type="file" name="file" class="uploader_image">
                                </span>
                                <div id="video-cover-progress-bar" class="progress1">
                                    <div style="width: 0%;height: 18px;background: green;display:none"
                                         class="bar"></div>
                                </div>

                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <p class="help-block">标题<sup>*</sup></p>
                                <input id="video_title" type="text" name="" class="">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <p class="help-block">简介(选填)</p>
                                <textarea id="video_summary" name=""
                                          style="width:400px;height:100px"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="main-preview" style="float:left;">
                        <div class="preview-box type4" style="padding-left: 20px;">
                            <div class="preview-list">
                                <ul>
                                    <li class="default-item">
                                        <p id="video_title_display">标题</p>
                                        <div class="default-img-box">

                                        </div>
                                        <p id="video_display" class="default-text-box">
                                            <video controls="controls" style="height:190px;width:100%;display:none;" id="video_src" poster="" src=""></video><span class="placeholder_text_video">视频预览区域</span>
                                        </p>
                                        <p id="video_summary_display">简介</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="video_data" />
                    <button style="float:right;margin-right:20px;" id="video_submit_button" type="button" class="btn btn-primary">确认新建</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AudioUploadModal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title">语音素材</h4>
            </div>
            <div class="modal-body">
                <div id="picUploader" class="wu-example">
                    <input id="audio-upload-input" class="form-control upload-input" accept="audio/mpeg" type="file" name="file"
                           onchange="" />
                    <input id="audio-upload-input-hidden" type="hidden" />
                    <div id="audio-progress-bar" class="progress" style="margin-bottom: 0px;margin-top:5px;">
                        <div class="bar progress-bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FileUploadModal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title">文件素材</h4>
            </div>
            <div class="modal-body">
                <div id="picUploader" class="wu-example">
                    <input id="file-upload-input" class="form-control upload-input" type="file" name="file"
                           onchange="" />
                    <input id="file-upload-input-hidden" type="hidden" />
                    <div id="file-progress-bar" class="progress" style="margin-bottom: 0px;margin-top:5px;">
                        <div class="bar progress-bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts_Foot
{
    <script type="text/javascript">

        var appId;

        var currentType = "image";

        var htmlStr = '<ul class="ace-thumbnails clearfix">'
                + '<li>'
                + '<div class="material-listimg">'
                + '<div class="material-img">'
                + '<a title="{{: AttachmentTitle}}" data-rel="colorbox" data-toggle="modal" data-placement="top" title="Picture Review" data-target="#ImageReviewModal" onclick="ChangeReviewPic(this)">'
                + '<img  alt="" src="{{: ThumbUrl}}" originalUrl="{{: AttachmentUrl}}" />'
                + '</a>'
                + '</div>'
                + '</div>'
                + '<div class="tools tools-bottom">'
                + '<a href="javascript:void(0)" originalUrl="{{: AttachmentUrl}}" onclick="DoDownload(this, \'{{: Id}}\', \'{{: Extension}}\')">'
                + '<i class="ace-icon fa fa-download"></i>'
                + '</a>'
                + '<a href="javascript:void(0)" onclick="DoEdit(this, {{: Id}})">'
                + '	<i class="ace-icon fa fa-pencil"></i>'
                + '</a>'
                + '<a href="javascript:void(0)" onclick="DoDelete({{: Id}})">'
                + '	<i class="ace-icon fa fa-trash-o bigger-120 "></i>'
                + '</a>'
                + '</div>'
                + '</li>'
                + '<div style="height: 35px;">'
                + '<div class="material-picname text-center widthBreak" itemId="{{: Id}}">{{: AttachmentTitle}}</div>'
                + '<input itemId="{{: Id}}" class="material-change-picname" style="display:none; type="text" name="" id="" value="{{: AttachmentTitle}}" />'
                + '</div>'
                + '</ul>';


        var videoHtml = '<ul class="ace-thumbnails clearfix">'
                + '<li style="width:160px;height:170px; border: 1px solid #ccc;">'
                + '<div style="width:150px;">'
                + '<div class="material-img">'
                + '<p class="intercept">{{: AttachmentTitle}}</p><div class="default-img-box"><video src="/{{: AttachmentUrl}}" poster="{{: ThumbUrl}}" controls="controls"></video></div><p>{{: Description}}</p>'
                + '</div>'
                + '</div>'
                + '<div class="tools tools-bottom">'
                + '<a href="javascript:void(0)" originalUrl="{{: AttachmentUrl}}" onclick="DoDownload(this, \'{{: Id}}\', \'{{: Extension}}\')">'
                + '<i class="ace-icon fa fa-download"></i>'
                + '</a>'
                + '<a href="javascript:void(0)" onclick="DoEditVideo(this, \'{{: Id}}\',\'{{: AttachmentTitle}}\',\'{{: AttachmentUrl}}\',\'{{: ThumbUrl}}\',\'{{: Description}}\')">'
                + '	<i class="ace-icon fa fa-pencil"></i>'
                + '</a>'
                + '<a href="javascript:void(0)" onclick="DoDelete({{: Id}})">'
                + '	<i class="ace-icon fa fa-trash-o bigger-120 "></i>'
                + '</a>'
                + '</div>'
                + '</li>'
                + '<div class="clear"></div>'
                + '</ul>';


        var fileHtml = '<ul class="ace-thumbnails clearfix" >'
                + '<li style="width:160px;height:136px; border: 1px solid #ccc;">'
                + '<div style="text-align":"center">'
                + '<div class="file_unit" >'
                + '<a class="icon_filetype filetype_{{: Extension.split(".")[1]}}" href="/{{: AttachmentUrl}}" target="_blank"></a>'
                + '</div>'
                + '</div>'
                + '<div class="tools tools-bottom">'
                + '<a href="javascript:void(0)" originalUrl="{{: AttachmentUrl}}" onclick="DoDownload(this, \'{{: Id}}\', \'{{: Extension}}\')">'
                + '<i class="ace-icon fa fa-download"></i>'
                + '</a>'
                + '<a href="javascript:void(0)" onclick="DoEdit(this, {{: Id}})">'
                + '	<i class="ace-icon fa fa-pencil"></i>'
                + '</a>'
                + '<a href="javascript:void(0)" onclick="DoDelete({{: Id}})">'
                + '	<i class="ace-icon fa fa-trash-o bigger-120 "></i>'
                + '</a>'
                + '</div>'
                + '</li>'
                + '<div style="height: 35px;">'
                + '<div class="material-picname text-center widthBreak" itemId="{{: Id}}">{{: AttachmentTitle}}</div>'
                + '<input itemId="{{: Id}}" class="material-change-picname" style="display:none; type="text" name="" id="" value="{{: AttachmentTitle}}" />'
                + '</div>'
                + '</ul>';


        var audioHtml = '<div class="material-voice"><div class="item"><div class="item-left"><div class="item-left"><div class="voice-bg"><div class="chart-icon play"></div><span class="item-right"></span><div class="clear"></div><audio class="audio"><source src="/{{: AttachmentUrl}}" type="audio/ogg"><source src="/{{: AttachmentUrl}}" type="audio/mpeg"></audio></div></div><div class="item-left" itemId="{{: Id}}">{{: AttachmentTitle}}</div><div class="item-left"><input itemId="{{: Id}}" type="text" class="material-change-picname" value="{{: AttachmentTitle}}" style="display:none"></div></div><div class="item-right">{{: CreateTime}}</div><div class="clear"></div><div class="item-right-icon"><a href="javascript:void(0)" originalUrl="{{: AttachmentUrl}}" onclick="DoDownload(this, \'{{: Id}}\', \'{{: Extension}}\')"><i class="ace-icon fa fa-download"></i></a> <a href="#" traget="_blank" onclick="DoEdit(this, {{: Id}})"><i class="ace-icon fa fa-pencil"></i></a> <a href="#" onclick="DoDelete({{: Id}})"><i class="ace-icon fa fa-trash-o bigger-120"></i></a></div></div></div>';

        //直接传{{: AttachmentUrl}}会进行转译,将/替换成"",导致无法识别url
        function ChangeReviewPic(obj) {
            $("#picReviewSrc").attr("src", $(obj).find('img').attr('originalUrl'));
        }
        /**********************************Test*******************************************/

        function InitImageList() {
            $('#tbody_image').LEAPDataBind({
                renderId: "tbody_image",
                url: "GetList",
                data: "type=" + "Image" + "&appid=" + appId,
                pageSize: 10,
                pagerId: "page_image",
                isPage: true,
                renderHtml: htmlStr,
            });
        }

        function InitAudioList() {
            $('#tbody_audio').LEAPDataBind({
                renderId: "tbody_audio",
                url: "GetList",
                data: "type=" + "Audio" + "&appid=" + appId,
                pageSize: 10,
                pagerId: "page_audio",
                isPage: true,
                renderHtml: audioHtml,
                renderSuccess: function () {
                    $(".voice-bg").click(function () {
                        var $this = $(this).find(".chart-icon");
                        $('.material-voice').find('.audio').each(function (index, item) {
                            $(item).get(0).currentTime = 0;
                            $(item).get(0).pause();
                        })

                        if ($this.hasClass("pause")) {
                            $this.removeClass("pause");


                            // $(".voice-bg").find(".chart-icon").removeClass("pause").addClass("play");
                            // $(this).find(".chart-icon").removeClass("play").addClass("pause");
                            // $.each($(".voice-bg").find(".audio"), function (e, X) {
                            //     if (!X.paused) {
                            //         X.pause()
                            //     }
                            // });
                            // $(this).find(".audio").get(0).currentTime = 0;
                            // $(this).find(".audio").get(0).play();//开始播放
                        } else {
                            if ($('.material-voice').find('.pause').length > 0) {
                                $('.material-voice').find('.pause').removeClass('pause').parent().find('.audio').get(0).pause();
                            }

                            $this.addClass('pause').parent().find('.audio').get(0).play();
                            $this.addClass('pause').parent().find('.audio').on('ended', function () {
                                $(this).parent().find('.pause').removeClass('pause');
                            })

                            // $(this).find(".chart-icon").removeClass("pause");
                            // $(this).find(".chart-icon").addClass("play");
                            // $(this).find(".audio").get(0).pause();//播放停止
                        }
                    });
                    $(".material-voice").mouseover(function () {
                        $(this).css("background-color", "#fffff0");
                        $(this).find(".item-right-icon").css("display", "block");
                    });
                    $(".material-voice").mouseout(function () {
                        $(this).css("background-color", "#ffffff");
                        $(this).find(".item-right-icon").css("display", "none");
                    });
                },
            });
        }

        function InitVideoList() {
            $('#tbody_video').LEAPDataBind({
                renderId: "tbody_video",
                url: "GetList",
                data: "type=" + "Video" + "&appid=" + appId,
                pageSize: 10,
                pagerId: "page_video",
                isPage: true,
                renderHtml: videoHtml,
            });
        }

        function InitFileList() {
            $('#tbody_file').LEAPDataBind({
                renderId: "tbody_file",
                url: "GetList",
                data: "type=" + "File" + "&appid=" + appId,
                pageSize: 10,
                pagerId: "page_file",
                isPage: true,
                renderHtml: fileHtml,
            });
        }

        function InitListByType(currentType) {
            switch (currentType) {
                case "image":
                    InitImageList();
                    break;
                case "video":
                    InitVideoList();
                    break;
                case "audio":
                    InitAudioList();
                    break;
                case "file":
                    InitFileList();
                    break;
                default:
            }
        }

        /**********************************End Test*******************************************/

        function DoDownload(a, fileId, extension) {
            window.location.href = "../FileManage/Download?filePath=" + $(a).attr('originalUrl') + "&fileId=" + fileId + "&extension=" + extension;
        }

        function DoEdit(obj, id) {
            var oldNameDiv = $("div[itemId='" + id + "']");
            var newNameInput = $("input[itemId='" + id + "']");
            $(oldNameDiv).toggle();
            $(newNameInput).toggle();
            $(newNameInput).focus();
            $(newNameInput).unbind("blur");
            $(newNameInput).blur(function () {
                $(oldNameDiv).toggle();
                $(newNameInput).toggle();
                if ($(oldNameDiv).text() != $(newNameInput).val()) {
                    $(oldNameDiv).text($(newNameInput).val());
                    $.ajax({
                        type: "Get",
                        url: "Edit",
                        data: {
                            id: id,
                            type: currentType,
                            AttachmentTitle: $(newNameInput).val(),
                        },
                        success: function (data) {
                            alert("update sueccessful!");
                        },
                        error: function () {
                            alert("update failed!");
                            InitListByType(currentType);
                        }
                    });
                }
            });
        }

        function cleanVideoData() {
            $('#video_title').val('');
            $('#video_summary').val('');
            $('#video_data').data('serverfileName', '').data('targetFilePath', '').data('video-cover-src', '').data('pid', '');
            $('#video_data').attr('video-cover-src', '');
            $('#video-cover-upload-input').val('');
            $('#video_title_display').text('标题');
            $('#video_summary_display').text('简介');
            $('#video_src').attr('src', '');
            $('#video_src').attr('poster', '');
        }

        function DoEditVideo(obj, id, title, video_src, image_src, summary) {
            $('#video_title').val(title);
            $('#video_summary').val(summary);
            var chunk = video_src.split('/');
            var targetFilePath = "", serverfileName = "";
            for (var i = 0, len = chunk.length; i < len - 1; i++) {
                targetFilePath += chunk[i] + '/';
            }
            serverfileName = chunk[chunk.length - 1];
            $('#video_data').data('serverfileName', serverfileName).data('targetFilePath', targetFilePath).data('video-cover-src', image_src).data('pid', id);
            $('#video_data').attr('video-cover-src', image_src);
            $('#video_title_display').text(title);
            $('#video_summary_display').text(summary);
            $('#video_src').attr('src', '/' + video_src);
            $('#video_src').attr('poster', image_src);
            $('#video_src').show();
            $('.placeholder_text_video').hide();
            $('#VideoUploadModal').on('hidden.bs.modal', function (e) {
                cleanVideoData();
            });
            $('#VideoUploadModal').modal('show');
        };

        function DoDelete(id) {
            if (confirm("确认要删除？")) {
                $.ajax({
                    type: "Get",
                    url: "Delete?id=" + id,
                    success: function (data) {
                        InitListByType(currentType);
                    }
                });
            } else {
                window.event.returnValue = false;
            }
        }

        function DoSave(uploadFileType, hiddenInputId, callback) {
            if (hiddenInputId.indexOf('#') != 1) {
                hiddenInputId = '#' + hiddenInputId;
            }
            switch (uploadFileType) {
                case 'video':
                    if ($('#video_title').val() == "") {
                        alert("请输入标题!");
                        $('#msgVideoTitle').focus();
                        return;
                    }
                    if ($('#video-cover-upload-input').val() == "" && $(hiddenInputId).attr('video-cover-src') == "") {
                        alert("请上传封面!");
                        $('#video-cover-upload-input').focus();
                        return;
                    }
                    $.ajax({
                        type: 'post',
                        dataType: 'json',
                        url: '/upload/ThumbImageAndInsertIntoDB',
                        data: {
                            saveFullName: $(hiddenInputId).data('serverfileName'),
                            title: $('#video_title').val(),
                            description: $('#video_summary').val(),
                            targetFilePath: $(hiddenInputId).data('targetFilePath'),
                            uploadFileType: uploadFileType,
                            videoCoverSrc: $(hiddenInputId).attr('video-cover-src'),
                            appid: appId,
                            id: $(hiddenInputId).data('pid') || null,
                        },
                        success: function (data) {
                            InitListByType(currentType);
                            $('#video-upload-input').val("");
                            callback();
                        },
                    });

                    break;
                default:
                    $.ajax({
                        type: 'post',
                        dataType: 'json',
                        url: '/upload/ThumbImageAndInsertIntoDB',
                        data: {
                            saveFullName: $(hiddenInputId).attr('serverfileName'),
                            title: $(hiddenInputId).attr('title'),
                            targetFilePath: $(hiddenInputId).attr('targetFilePath'),
                            uploadFileType: uploadFileType,
                            appid: appId,
                        },
                        success: function (data) {
                            InitListByType(currentType);
                            $('#Img-upload-input').val("");
                            $('#Img-progress-bar .bar').text('');
                            $('#Img-progress-bar .bar').css('width', '0%');
                            $('#audio-upload-input').val("");
                            $('#audio-progress-bar .bar').text('');
                            $('#audio-progress-bar .bar').css('width', '0%');
                            $('#file-upload-input').val("");
                            $('#file-progress-bar .bar').text('');
                            $('#file-progress-bar .bar').css('width', '0%');
                        },
                    });
            }
        }


        $(document).ready(function () {
            appId = $("#AppId")[0].value;
            $("#Img-upload-input").change(function (obj) {
                if (obj.value != "") {
                    $('#Img-upload-input').fileupload({
                        dataType: 'json',
                        url: "/upload/uploadfile?type=image&appid=" + appId,
                        self: obj,
                        replaceFileInput: false,
                        allowExtension: '.png,.jpg,.jpeg',
                        rewriteDocumentId: 'image-src',
                        processBarId: 'Img-progress-bar',
                        add: function (e, data) {
                            var goUpload = true;
                            var uploadFile = data.files[0];
                            if (!(/\.(jpg|jpeg|png)$/i).test(uploadFile.name)) {
                                alert('只能上传png,jpeg,jpg格式！');
                                goUpload = false;
                                $('#Img-upload-input').val('');
                            }
                            if (goUpload && uploadFile.size > 2e6) { // 2mb
                                alert('大小: 不超过2M');
                                goUpload = false;
                                $('#Img-upload-input').val('');
                            }
                            if (goUpload) {
                                $('#image-src').attr('title', uploadFile.name);
                                data.submit();
                            }
                        },
                        done: function (e, data) {
                            $('#image-src').attr('serverFileName', data.result.serverFileName);
                            $('#image-src').attr('targetFilePath', data.result.targetFilePath);
                            DoSave('image', 'image-src');
                        },
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $("#Img-progress-bar .bar").css('width', progress + '%');
                            $("#Img-progress-bar .bar").text(progress + '%');
                        },
                    });
                }
            });
            $("#Img-upload-input").fileupload();

            $("#audio-upload-input").change(function (obj) {
                if (obj.value != "") {
                    $('#audio-upload-input').fileupload({
                        dataType: 'json',
                        url: "/upload/uploadfile?type=audio&appid=" + appId,
                        self: obj,
                        replaceFileInput: false,
                        add: function (e, data) {
                            var goUpload = true;
                            var uploadFile = data.files[0];
                            if (!(/\.(mp3)$/i).test(uploadFile.name)) {
                                alert('只能上传mp3格式!');
                                goUpload = false;
                                $('#audio-upload-input').val('');
                            }
                            if (goUpload && uploadFile.size > 2e6) { // 2mb
                                alert('大小: 不超过2M');
                                goUpload = false;
                                $('#audio-upload-input').val('');
                            }
                            if (goUpload) {
                                $('#audio-upload-input-hidden').attr('title', uploadFile.name);
                                data.submit();
                            }
                        },
                        done: function (e, data) {
                            $('#audio-upload-input-hidden').attr('serverFileName', data.result.serverFileName);
                            $('#audio-upload-input-hidden').attr('targetFilePath', data.result.targetFilePath);
                            DoSave('audio', 'audio-upload-input-hidden');
                        },
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $("#audio-progress-bar .bar").css('width', progress + '%');
                            $("#audio-progress-bar .bar").text(progress + '%');
                        },
                    });
                }
            });
            $("#audio-upload-input").fileupload();

            $("#video-upload-input").change(function (obj) {
                if (obj.value != "") {
                    $('#video-upload-input').fileupload({
                        dataType: 'json',
                        url: "/upload/Breakpoint_Uploadfile?type=video&appid=" + appId,
                        limitConcurrentUploads: 1,
                        sequentialUploads: true,
                        progressInterval: 100,
                        maxChunkSize: 100000,
                        add: function (e, data) {
                            var goUpload = true;
                            var uploadFile = data.files[0];
                            if (goUpload && !(/\.(mp4)$/i).test(uploadFile.name)) {
                                alert('只能上传mp4格式!');
                                goUpload = false;
                                $('#video-upload-input').val("");
                            }
                            if (goUpload && uploadFile.size > 1e7) { // 10mb
                                alert('大小: 不超过10M!');
                                goUpload = false;
                                $('#video-upload-input').val("");
                            }
                            if (goUpload) {
                                $("#hideFile").attr("fileName", uploadFile.name);
                                data.submit();
                            }
                        },
                        done: function (e, data) {
                            $.ajax({
                                type: 'post',
                                url: "/upload/Breakpoint_FileReName",
                                data: {
                                    serverfileName: data.result.serverfileName,
                                    targetFilePath: data.result.targetFilePath,
                                },
                                success: function (nowdata) {
                                    console.log(nowdata)
                                    var newData = JSON.parse(nowdata);
                                    $("#video_data").data("serverfileName", newData.serverfileName);
                                    $("#video_data").data("targetFilePath", newData.targetFilePath);
                                    $('#video_src').attr('src', '/' + newData.targetFilePath + '/' + newData.serverfileName).show();
                                    $('#video_display').removeClass('default-text-box');
                                    $('.placeholder_text_video').hide();

                                }
                            });


                        },
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $("#video-progress-bar .bar").css('width', progress + '%');
                            $("#video-progress-bar .bar").text(progress + '%');
                        },
                    });
                }
            });
            $("#video-upload-input").fileupload();
            $("#video-cover-upload-input").change(function (obj) {
                if (obj.value != "") {
                    $('#video-cover-upload-input').fileupload({
                        dataType: 'json',
                        url: "/upload/uploadfile?type=image&appid=" + appId,
                        self: obj,
                        replaceFileInput: false,
                        allowExtension: '.png,.jpg,.jpeg',
                        rewriteDocumentId: 'video-cover-src',
                        add: function (e, data) {
                            var goUpload = true;
                            var uploadFile = data.files[0];
                            if (!(/\.(jpg|jpeg|png)$/i).test(uploadFile.name)) {
                                alert('只能上传png,jpeg,jpg格式！');
                                goUpload = false;
                                $('#video-cover-upload-input').val("");
                            }
                            if (goUpload) {
                                data.submit();
                            }
                        },
                        done: function (e, data) {
                            $('#video_src').attr('poster', data.result.targetFilePath + data.result.serverFileName);
                            $('#video_src').show();
                            $('.placeholder_text_video').hide();
                            $('#video_data').attr("video-cover-src", data.result.targetFilePath + data.result.serverFileName);
                        },
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $("#video-cover-progress-bar .bar").css('width', progress + '%');
                            $("#video-cover-progress-bar .bar").text(progress + '%');
                        },
                    });
                }
            });
            $("#video-cover-upload-input").fileupload();

            $("#file-upload-input").change(function (obj) {
                if (obj.value != "") {
                    $('#file-upload-input').fileupload({
                        dataType: 'json',
                        url: "/upload/uploadfile?type=file&appid=" + appId,
                        self: obj,
                        replaceFileInput: false,
                        add: function (e, data) {
                            var goUpload = true;
                            var uploadFile = data.files[0];
                            if (!(/\.(txt|xml|pdf|zip|doc|ppt|xls|docx|pptx|xlsx)$/i).test(uploadFile.name)) {
                                alert('只能上传txt,xml,pdf,zip,doc,ppt,xls,docx,pptx,xlsx格式！');
                                goUpload = false;
                                $('#file-upload-input').val("");
                            }
                            if (goUpload && uploadFile.size > 2e7) { // 20mb
                                alert('大小: 不超过20M');
                                goUpload = false;
                                $('#file-upload-input').val("");
                            }
                            if (goUpload) {
                                $('#file-upload-input-hidden').attr('title', uploadFile.name);
                                data.submit();
                            }
                        },
                        done: function (e, data) {
                            $('#file-upload-input-hidden').attr('serverFileName', data.result.serverFileName);
                            $('#file-upload-input-hidden').attr('targetFilePath', data.result.targetFilePath);
                            DoSave('file', 'file-upload-input-hidden');
                        },
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $("#file-progress-bar .bar").css('width', progress + '%');
                            $("#file-progress-bar .bar").text(progress + '%');
                        },
                    });
                }
            });
            $("#file-upload-input").fileupload();

            $('.js_toolbar li').each(function () {
                this.onclick = function () {
                    $('#UploadBtn').attr("title", "");
                    $('#UploadBtn').attr("data-target", "");
                    $("#ImageList").hide();
                    $("#AudioList").hide();
                    $("#VideoList").hide();
                    $("#FileList").hide();
                    currentType = $(this).attr("data-type");
                    switch (currentType) {
                        case "image":
                            $('#UploadBtn').attr("data-target", "#ImageUploadModal");
                            $('#UploadBtn').attr("title", "Upload Image");
                            InitImageList();
                            $("#ImageList").show();
                            break;
                        case "video":
                            //采用断点续传
                            $('#UploadBtn').attr("title", "Upload Video");
                            $('#UploadBtn').attr("data-target", "#VideoUploadModal");
                            InitVideoList();
                            $("#VideoList").show();
                            break;
                        case "audio":
                            $('#UploadBtn').attr("title", "Upload Audio");
                            $('#UploadBtn').attr("data-target", "#AudioUploadModal");
                            InitAudioList();
                            $("#AudioList").show();
                            break;
                        case "file":
                            $('#UploadBtn').attr("title", "Upload File");
                            $('#UploadBtn').attr("data-target", "#FileUploadModal");
                            InitFileList();
                            $("#FileList").show();
                            break;
                        default:
                            $('#UploadBtn').attr("title", "");
                            $('#UploadBtn').attr("data-target", "");
                            break;
                    }
                    $(".js_toolbar li").removeClass("active");
                    $('.js_toolbar li[data-type="' + currentType + '"]').addClass("active");
                }
            });

            InitImageList();

            //--------video
            $('#video_title').on('keyup', function () {
                $('#video_title_display').text($(this).val());
            });
            $('#video_summary').on('keyup', function () {
                $('#video_summary_display').text($(this).val());
            });
            $('#video_submit_button').on('click', function () {
                DoSave('video', 'video_data', function () {
                    cleanVideoData();
                    $('.placeholder_text_video').show();
                    layer.msg('上传成功', { offset: 0 });
                    $('#VideoUploadModal').modal('hide');
                });
            })
        });

    </script>
}