@{
    ViewBag.Title = "同步用户标签";
}

<h2>SyncUserTagIndex</h2>
<div id="syncDiv" style="margin:0 auto;text-align:center;width:100px;height:50px;line-height:50px;display:inline-block;background:green;cursor:pointer">
    <span style="color:#FFF">同步用户标签</span>
</div>

<script>
    $('#syncDiv').on('click', function () {
        $.ajax({
            url: 'SyncUserTag',
            success: function (data) {
                alert(data.Message.Text);
            }
        });
    });
</script>

