
@{
    ViewBag.Title = "CreateConditionalMPMenu";
}

<h2>CreateConditionalMPMenu</h2>
<div>
    <textarea style="width:100%;height:300px" id="menuTextArea"></textarea>
</div>
<div>
    <input type="text" style="width:40%" id="group_id" />
    <button id="saveBtn">保存</button>
</div>
<script type="text/javascript">
    var getUrlParm = function getUrlParm(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        return r != null ? decodeURI(r[2]) : null;
    };
    $(document).ready(function () {
        var appId = getUrlParm('appid');
        if (appId != null && appId.length > 0) {
            $.ajax({
                url: '/AppMenu/GetMPMenu?appId=' + appId,
                success: function (data) {
                    console.log(data);
                    $('#menuTextArea').text(JSON.stringify(data.menu));
                }
            });
            $('#saveBtn').bind("click", function () {
                $.ajax({
                    url: '/AppMenu/DoCreateCreateConditionalMPMenu',
                    type: 'post',
                    data: {
                        'appId': appId,
                        'group_id': $('#group_id').val(),
                        'menuStr': $('#menuTextArea').val(),
                    },
                    success: function (data) {
                        artDialog.alert(data.Message.Text);
                    },
                });
            });
        }
    });
</script>
