@using Innocellence.WeChatMeeting.Domain.Entity;
@model Innocellence.WeChatMeeting.Domain.Entity.MeetingTravelInfo


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Information</title>
    @{
        Layout = null;
    }
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="/Plugins/Innocellence.WeChatMeeting/Content/weui.min.css">
    <link rel="stylesheet" href="/Plugins/Innocellence.WeChatMeeting/Content/font-awesome.min.css">
    <link rel="stylesheet" href="/Plugins/Innocellence.WeChatMeeting/Content/travel_style.css">
    <script src="/Scripts/jquery-1.11.1.min.js"></script>
    <script src="/Plugins/Innocellence.WeChatMeeting/Content/js/weui.min.js"></script>
    <script src="/Scripts/wechatab/lib/layer/layer.js"></script>
    
</head>
<body ontouchstart>
    <input type="hidden" id="meet" value="@ViewBag.MeetingId" />
    <input type="hidden" id="travelList" value="@ViewBag.TravelList" />
    <input type="hidden" id="hid_appid" value="@ViewBag.AppId" />

    <div id="wrapper">
        <div class="travel_item" data-tag="0">
            <div class="weui-cells travel_item_title">
                <div class="weui-cell">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p class="travel_p_title">行程一</p>
                    </div>
                    @*<a class="weui-cell__ft del_btn" href="javascript:;">
                            删除
                        </a>*@
                </div>
            </div>
            <div class="travel_item_wrapper">
                <div class="weui-cells__title font_grey">出行方式</div>
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd pickerBtn"><p id="txtMode0">飞机</p></div>
                        <div class="weui-cell__ft select_icon"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="weui-cells__title font_grey">航班号/车次/轮船班次</div>
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd"><input class="weui-input" type="text" name="txtFlight_Train0" placeholder="请输入航班号/车次/轮船班次"></div>
                    </div>
                </div>
                <div class="weui-cells__title font_grey">出发日期</div>
                <div class="weui-cells">
                    <div class="weui-cell datePickerBtn">
                        <div class="weui-cell__bd "><p id="txtDepartureTime0"></p></div>
                        <div class="weui-cell__ft select_icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="weui-cells__title font_grey">到达日期</div>
                <div class="weui-cells">
                    <div class="weui-cell datePickerStartBtn">
                        <div class="weui-cell__bd "><p id="txtArrivalTime0"></p></div>
                        <div class="weui-cell__ft select_icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="weui-cells__title font_grey">预计到达时间(12小时制)</div>
                <div class="weui-cells">
                    <div class="weui-cell timePickBtn">
                        <div class="weui-cell__bd "><p id="txtExpectArrivalTime0"></p></div>
                        <div class="weui-cell__ft select_icon"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="btn_group weui-btn-area">
        <a href="javascript:;" class="weui-btn add_item">添加更多行程区段</a>
        <a href="javascript:;" class="weui-btn weui-btn_warn_xu" onclick="sub_btn()">确认并提交</a>

    </div>
    
    
    <script src="/Plugins/Innocellence.WeChatMeeting/Content/js/travel.js"></script>
</body>
</html>