@using Innocellence.WeChat.Domain.Entity
@using Innocellence.WeChat.Domain.ModelsView

@model Innocellence.WeChat.Domain.ModelsView.FaqInfoView

@{
    ViewBag.Title = "FAQ搜索";
    Layout = "~/plugins/Innocellence.WeChat/Views/Shared/_wxLayout.cshtml";
}
<style>
    #wx_div {
        height: 100%;
    }
</style>

 @section Header{
    <link rel="stylesheet" href="~/plugins/Innocellence.WeChat/Content/style.css?v=20160422">
}

<form id="FaqForm" method="get" action="SearchResult" class="form-horizontal container">
    <div style="margin-top:10%"></div>
    
        <div class="col-xs-12">
            <img src="~/plugins/Innocellence.WeChat/Content/img/faq1.png" class="img-responsive center-block" style="width:200px;height:165px" />
            <img src="~/plugins/Innocellence.WeChat/Content/img/faq2.png" class="img-responsive center-block" style="width:400px;height:80px" />
        </div>

        <div class="col-xs-12 ">
          
            <div class="input-group">
                <input id="check" name="check" type="text" style="display:none">
                <input id="keyword" name="keyword" class="form-control" type="text" maxlength="100" placeholder="@T("请输入关键字，中间用空格隔开")" />
                <span class="input-group-btn" >
                    <button class="btn btn-default" style="background-color: #3399ff !important;" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div><!-- /input-group -->
        
        @*<div class="col-xs-12 Tips">
            Tips:支持多词并列搜索，中间用空格隔开。<br />例如：小猪计划 或者：小猪 计划
        </div>*@
    </div>
    <br />
    
    <div class="col-xs-12  " id="Faq_keyword">

        @*<p class="Faq_title">最热门关键字</p>*@

        @foreach (var searchKeyword in (List<SearchKeywordView>)ViewBag.hotsearch)
        {
            <span class="keyword"><a href="SearchResult?keyword=@searchKeyword.Keyword">@searchKeyword.Keyword</a></span>
        }

    </div>
</form>