@model Innocellence.WeChat.Domain.ViewModel.NewsInfoView
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.NewsTitle</title>
</head>
<body>
    <div> 
        <img src="@Model.ImageContent"/>
    </div>
    <div>@Model.NewsContent</div>
</body>
</html>
