@using Infrastructure.Web.Domain.Entity;
@{
    ViewBag.Title = "平台管理中心";
    Layout = "~/Plugins/Innocellence.WeChatMain/Views/Shared/_LayoutNoMenu.cshtml";
}
@section easyui_css{
    <link rel="stylesheet" href="~/styles/EasyUI/easyui.css" />
    <link rel="stylesheet" href="~/styles/layout/layout.css" />
    <link rel="stylesheet" href="~/styles/style.css" />
}
<div id="PlateformManage">
        <div class="modal-dialog" id="change-pass">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="blue bigger">请填写以下内容</h4>
                </div>

                <div class="modal-body">
                    <form id="change-password-form" method="post" class="form-horizontal">
                        <input type="hidden" id="Id-popup" name="Id" value="0" />

                        <div class="form-group">
                            <div class="col-sm-2 ">姓名:</div>
                            <div id="name-popup" class="col-sm-10 ">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">原始密码:</div>
                            <div class="col-sm-10">
                                <input type="password" id="password-popup" name="PasswordHash" class="form-control" placeholder="Password" data-bind="value: PasswordHash"
                                       validate="{required:true}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">新密码:</div>
                            <div class="col-sm-10">
                                <input type="password" id="new-password" class="form-control" placeholder="Password" validate="{required:true}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">确认密码:</div>
                            <div class="col-sm-10">
                                <input type="password" id="new-password-confirm" class="form-control" placeholder="Password" validate="{required:true}" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm btn-primary" id="save-btn">
                        <i class="ace-icon fa fa-check"></i>
                        保存
                    </button>
                </div>
            </div>
        </div>  
</div>

@section scripts_Foot
{
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>

    <script type="text/javascript">
        var treeMenu;
        var IdCur;
        var htmlStr = '<tr role="row">' +
                      '<td>{{: UserName}}</td>' +
                      '<td>{{: UserTrueName}}</td>' +
                      '<td>{{: Email}}</td>' +
                      '<td><a href="#" onclick="EditUser(\'{{: Id}}\');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right: 4px;" data-toggle="modal" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a><a href="#" onclick="DeleteUserBtnClick(\'{{: Id}}\');return false;" class="btn btn-danger btn-xs" data-toggle="modal" data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a></td>' +
                      '</tr>';

        function InitImageList() {
            $('#user_list').LEAPDataBind({
                renderId: "user_list",
                url: "/SysUser/GetList",
                data: "search_condition=" + $('#search_condition').val(),
                pageSize: 10,
                pagerId: "page_image",
                isPage: true,
                renderHtml: htmlStr,
            });
        }

        $(document).ready(function () {
            LoadUserInfo();          
        });

        $("#save-btn").on('click', function () {
            var newPWD = $('#change-pass #new-password').val();
            var confirmPWD = $('#new-password-confirm').val();
            if (ValidatePsw('#change-pass', true)) {
                $.ajax({
                    url: "http://" + window.location.host + "/SysUser/ChangePassword?newPWD=" + newPWD,
                    type: "POST",
                    data: $("#change-password-form").serialize(),
                    datatype: "json",
                    success: function (result) {
                        if (result.Status == 200) {
                            artDialog.alertOkCallBack('密码修改成功，点击确定重新登录', "", function () {
                                window.location.href = "http://" + window.location.host ;
                            });
                            
                        }
                        else {
                            artDialog.alert(result.Message);
                        }
                    },
                    error: function (msg) {
                        artDialog.alert(msg);
                    }
                });
            }
        });

        function PWDChanged(modalId) {
            var newPWD = $(modalId + ' #new-password').val();
            var confirmPWD = $(modalId + ' #new-password-confirm').val();
            if (newPWD.length == 0 && confirmPWD.length == 0) {
                $(modalId + ' #new-password').val($(modalId + ' #UserPWDHash').val());
                $(modalId + ' #new-password-confirm').val($(modalId + ' #UserPWDHash').val());
            }
        }

        function ValidatePsw(modalId, checkOldPWD) {
            var oldPWD = $(modalId + " #password-popup").val();
            var newPWD = $(modalId + ' #new-password').val();
            var confirmPWD = $(modalId + ' #new-password-confirm').val();

            if (checkOldPWD && oldPWD.length < 6) {
                artDialog.alert("请重新输入原始密码");
                $(modalId + " #password-popup").focus();
                return false;
            }

            if (!checkPass(newPWD)) {
                artDialog.alert("新密码复杂度不够, 请重新输入(6位及以上, 由数字或英文组成.)");
                $(modalId + ' #new-password').focus();
                return false;
            }

            if (newPWD != confirmPWD) {
                artDialog.alert("两次输入的新密码不同, 请重新输入.");
                return false;
            }
            return true;
        }

        function checkPass(pass) {
            if (pass.length < 6) { return 0; }
            var ls = 0;
            if (pass.match(/([a-z])+/)) { ls++; }
            if (pass.match(/([0-9])+/)) { ls++; }
            if (pass.match(/([A-Z])+/)) { ls++; }
            if (pass.match(/[^a-zA-Z0-9]+/)) { ls++; }
            return ls;
        }

        function LoadUserInfo() {
            $.ajax({
                url: "http://" + window.location.host + "/SysUser/GetCurrentUser?t=" + (new Date()).getTime(),
                type: "get",
                data: {},
                datatype: "json",
                success: function (result) {
                    $("#name-popup").text(result.UserName);
                    //$("#password-popup").val(result.PasswordHash);
                    $("#Id-popup").val(result.Id);
                },
                error: function (msg) {
                }
            });
        }
    </script>
}