@section easyui_css{
    <link rel="stylesheet" href="~/styles/EasyUI/easyui.css" type="text/css" />
}
<script src="/Scripts/multiple-select-master/multiple-select.js"></script>
<link href="/Scripts/multiple-select-master/multiple-select.css" rel="stylesheet">
<div class="row" id="grouplist">
    <div class="col-md-3 col-lg-3">
        <h2 class="user-title">用户</h2>
        <div class="tree-div">
            <form id="SearchForm" method="get" action="GroupList">
                <input type="hidden" id="selected_groupId" name="selectedGroupId" value="-1" />
                <input type="hidden" id="selected_Type" name="selectedType" value="all" />
                <input type="hidden" id="search_UserName" name="searchUserName" />
                @*<input type="hidden" name="searchString" id="searchString" />*@
                @*<a href="#" class="btn btn-sm" id="btnSearch">Search</a>*@
                <div id="user-tag-filter-hidden" style="display:none"></div>
            </form>
            <div class="user-add">
                <div class="input-group">
                    <input class="form-control input-mask-product" id="searchUserNameInput" type="text" placeholder="请输入名称" onkeypress="if (event.keyCode == 13)AddUserTagFilter()">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-sm" onclick="AddUserTagFilter()">
                            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                        </button>
                    </span>
                </div>
            </div>
            <a class="user" id="all-user-btn" style="color:#ee4b46">所有用户</a>
            <a class="user" id="canceled-user-btn">取消订阅用户</a>
            <div class="user-add">
                <!--<input type="text" id="new-group-name" placeholder="请输入组名称" />
                <button onclick="CreateGroup()" class="btn btn-grey btn-sm btn-add">增加</button>-->
                <div class="input-group">
                    <input class="form-control input-mask-product" id="form-field-mask-3" type="text" placeholder="请输入分组名称">
                    <span onclick="CreateGroup()" class="input-group-addon">
                        <i class="ace-icon glyphicon glyphicon-plus"></i>
                    </span>
                </div>
            </div>

            <div id="user-group"> </div>
        </div>
    </div><!--col-md-3 end-->

    <div class="col-md-9 col-lg-9">
        @*<div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control search-query" placeholder="请输入搜索内容" type="text">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                搜索
                            </button>
                        </span>
                    </div>
                </div>
            </div>*@

        <div id="user-tag-filter"></div>
        <div class="table-box tag-height" id="tag-box">

            <div class="tag-manage" id="edit-tag-all">
                <a data-toggle="modal" data-target="#myModal" href="#" class="font-color"><i class="ace-icon glyphicon glyphicon-tags"></i>&nbsp;&nbsp;标签管理</a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" id="edit-close" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">标签管理</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="tag-class">
                                        <input type="hidden" id="selected-user-tag-id" value="-1" />

                                        <a class="tag-class-add" href="#"><span>+</span> 增加标签类</a>

                                        <ul id="tag-group-list"></ul>
                                    </div>

                                </div>

                                <div class="col-md-8">
                                    <div class="tag-add-content" style="display: none;">
                                        <h5>增加标签类名称：</h5>
                                        <input type="text" id="newuser-taggroup-name" value="" placeholder="输入类名" />
                                        <div class="marginTop">
                                            <button id="new-user-tag-group-btn" class="btn btn-primary btn-sm">保存</button>
                                        </div>
                                    </div>

                                    <div class="tag-list-content ">
                                        <div class="input-group">
                                            <input class="form-control input-mask-product" id="form-field-mask-4" type="text" placeholder="请输入名称">
                                            <span class="input-group-addon" id="edit-add-tag-btn">
                                                <i class="ace-icon glyphicon glyphicon-plus"></i>
                                            </span>
                                        </div>

                                        <div class="tag-edit-all">
                                            <ul class="tag" id="edit-user-tag-list"></ul>
                                        </div>
                                    </div>

                                    <div class="tag-rename-content" style="display: none;">
                                        <h5>修改标签类名称：</h5>
                                        <input type="text" id="" value="" placeholder="输入新类名" />
                                        <div class="marginTop">
                                            <button class="btn btn-primary btn-sm">保存</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->

            <div id="tag-list">

            </div>
        </div>

        <div class="pack-up">
            显示条件<i class="arrow fa fa-angle-down show-tag"></i>
        </div>

        <div class="table-box">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th style="width: 10%">@T("ID")</th>
                        <th style="width: 40%">@T("用户信息")</th>
                        <th style="width: 20%">@T("组")</th>
                        <th style="width: 30%">@T("操作")</th>
                        <th style="display:none"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div><!--col-md-9 end-->
</div>
<!--Remarks-->
<div class="modal fade" id="Remarks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">修改备注</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <input type="hidden" id="remark-user-openid" />
                    <div class="col-md-3 text-right">
                        更新备注：
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control limited update" id="form-field-9" maxlength="100" style="height: 100px; margin-left: -20px;"></textarea>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="remark-save" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<!--add tags to user-->
<div class="modal fade" id="Tag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑标签：</h4>
            </div>
            <div class="modal-body">
                <input id="usertag-user-openid" type="hidden" />
                <div class="row">

                    <div class="row marginTop1">
                        <div class="col-md-3 text-right">
                            <p class="edit-tag">编辑标签：</p>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div>
                                    <!-- #section:plugins/input.multiselect -->
                                    <select id="food" style="width:300px;" multiple="multiple"></select>
                                    <!-- /section:plugins/input.multiselect -->
                                </div>

                                <div id="selected-tags">
                                </div>
                            </div>
                            <img />
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="user-tag-save-btn" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

</div>
@*用户详细信息*@
<div class="modal fade" id="UserInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">用户信息：</h4>
            </div>
            <div class="modal-body">
                <input id="usertag-user-openid" type="hidden" />
                <div class="row" id="user-details-info" style="margin-left:30px;">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="mm" class="easyui-menu" style="width: 120px; display:none">
    @*<div id="idArea" data-options="iconCls:'icon-remove'"></div>*@
    <input type="hidden" id="menu_groupId" />
    <input type="hidden" id="menu_groupName" />
    <div onclick="removeit()" data-options="iconCls:'icon-remove'">移除</div>
    @*<div onclick="editit()" data-options="iconCls:'icon-remove'">编辑</div>*@
</div>
@section scripts_Foot{
<script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script>

        //remark related Js
        //remark clicked set openid value
        function remarkClick(obj) {
            var openId = $(obj).data('useropenid');
            debugger;
            $("#remark-user-openid").val(openId);
        }

        $("#user-group").on("contextmenu", ".group-btn", function (e) {
            var groupId = jQuery(this).data("groupid");
            var oldGroupId = $("#selected_groupId").val();
            if (groupId.toString() !== oldGroupId) {
                clickGroupBtn(this);
            }
            $('#menu_groupId').val($(this).attr("data-groupid"));
            $('#menu_groupName').val($(this).find('p').first().text());
            $('#mm').menu('show', {
                left: e.pageX,
                top: e.pageY
            });
            return false;
        });

        //save action
        $('#remark-save').on('click', function () {
            ChangeRemark();
        });

        function removeit() {
            artDialog.confirm("是否确定删除 " + $('#menu_groupName').val() + " ?", function () {
                $.ajax({
                    url: "DeleteGroup",
                    type: "post",
                    data: { "groupId": $('#menu_groupId').val() },
                    datatype: "json",
                    success: function (data) {
                        loadAllGroups();
                        $("#all-user-btn").trigger('click');
                    },
                    error: function (msg) {
                    }
                });
            });
        }

        function ChangeRemark() {
            var openid = $("#remark-user-openid").val();
            var remark = $("#form-field-9").val();
            if (remark == "") {
                artDialog.alert("标记不能为空");
                return;
            }
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/ChangeUserRemark",
                type: "get",
                data: { "openId": openid, "remark": remark },
                datatype: "json",
                success: function (data) {
                    $('#Remarks').modal('hide')
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                    LEAP.Common.MainPop.options.dataTable.fnDraw();
                },
                error: function (msg) {
                }
            });
        }
        //close the remarks reset  hidden values
        $('#Remarks').on('hidden.bs.modal', function (e) {
            $("#remark-user-openid").val('');
            $("#form-field-9").val('');
        })

        //Group related js
        //delete group
        function deletegroup(obj) {
            var groupId = obj;
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/DeleteGroup",
                type: "get",
                data: { "groupId": groupId },
                datatype: "json",
                success: function (data) {
                    loadAllGroups();
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                    LEAP.Common.MainPop.options.dataTable.fnDraw();
                },
                error: function (msg) {
                    //alert("error" + msg);
                }
            });
        }
        //create group
        function CreateGroup() {
            var groupName = $("#form-field-mask-3").val();
            if (groupName == "") {
                artDialog.alert("请输入组名");
                return;
            }
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/AddGroup",
                type: "get",
                data: { "groupName": groupName },
                datatype: "json",
                success: function (data) {
                    if (data.Status == 200) {
                        $("#form-field-mask-3").val('');
                        loadAllGroups();
                        LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
                        LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                        LEAP.Common.MainPop.options.dataTable.fnDraw();
                    }
                    else {
                        artDialog.alert("出现异常：" + data.Message);
                    }

                },
                error: function (msg) {
                }
            });
        }
        // load all groups
        function loadAllGroups() {
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/GetAllGroupList",
                type: "get",
                data: {},
                datatype: "json",
                cache: false,
                success: function (result) {
                    $("#user-group").html("");
                    $.each(result.data, function (i, item) {
                        var test = ''
                        if (item.Id == -1) {
                            test = '   <div><a class="left-float group-btn" data-groupid="' + item.Id + '"><p  class="left-float" >' + item.name
                            + '</p><p  class="left-float">' + '(' + item.count + ')' + '</p></a>'
                            + '<div class="clear"></div></div>'
                        }
                        else {
                            test = '   <div><a class="left-float group-btn" data-groupid="' + item.Id + '"><p  class="left-float" >' + item.name
                            + '</p><p  class="left-float">' + '(' + item.count + ')' + '</p></a>'
                           // + '<a class="import"><input class="input-small" placeholder="输入新类名" type="text"></a>'
                           //  + '<a  class="edit-group" ><i class="ace-icon glyphicon glyphicon-pencil"></i></a>'
                           //+ '<a class="tag-group-delete"  ><i class="ace-icon glyphicon glyphicon-trash"></i></a>'
                            + '<div class="clear"></div></div>'
                        }

                        $("#user-group").append(test);
                    });
                    $("#all-user-btn").text("所有用户(" + result.allFollowedUserCount + ")");
                    $("#canceled-user-btn").text("取消订阅用户(" + result.allCanceledUserCount + ")");
                    $(".group-btn").on('click', function () {
                        clickGroupBtn(this);
                    });
                    //calceled user clicked
                    $("#canceled-user-btn").on('click', function () {
                        $("#canceled-user-btn").css("color", "#ee4b46")
                        $(".group-btn").css("color", "");
                        $("#all-user-btn").css("color", "");
                        getcanceleduser();
                    });
                    //all users clicked
                    $("#all-user-btn").on('click', function () {
                        $("#all-user-btn").css("color", "#ee4b46")
                        $(".group-btn").css("color", "");
                        $("#canceled-user-btn").css("color", "");
                        getalluser();
                    });

                    $('.edit-group').on('click', function () {
                        $(this).parent().find(".group-btn").hide();
                        $(this).parent().find(".import").show();
                        $(this).parent().find(".input-small").show();

                        var oldName = $(this).parent().find("p").eq(0).text();
                        var id = $(this).parent().find("a").eq(0).data('groupid');

                        $(this).parent().find(".input-small").val(oldName);
                        $(this).parent().find(".input-small").focus();
                        $(this).parent().find(".input-small").blur(function () {
                            var newValue = $(this).val();
                            var p_text = $(this).parent().parent().find("p").eq(0);
                            var input_div = $(this).parent().parent().find(".input-small");
                            if (newValue == "") {
                                alert("组名称不能为空。");
                            }
                            else if (newValue == oldName) {
                                input_div.hide();
                                p_text.show();
                            }
                            else {
                                updategroup(id, newValue);
                            }
                        });
                    });
                    $(".tag-group-delete").click(function () {
                        if (confirm("确认要删除？")) {
                            var id = $(this).parent().find("a").eq(0).data('groupid');
                            deletegroup(id);
                        }
                    });
                },
                error: function (msg) {
                }
            });
        }
        //delete group
        function updategroup(groupId, groupName) {
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/UpdateGroupName",
                type: "get",
                data: { "groupId": groupId, 'groupName': groupName },
                datatype: "json",
                success: function (data) {
                    loadAllGroups();
                },
                error: function (msg) {
                    //alert("error" + msg);
                }
            });
        }
        // load group users function
        //load group users
        function changegroup(obj) {
            debugger
            var groupId = jQuery(obj).data("groupid");
            $("#selected_groupId").attr("value", groupId);
            $("#selected_Type").attr("value", "grouped");
            LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
            LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
            LEAP.Common.MainPop.options.dataTable.fnDraw();
        }

        function clickGroupBtn(scope) {
            changegroup(scope);
            $(scope).css("color", "#ee4b46")
            $(scope).parent().siblings().find(".group-btn").css("color", "")
            $("#all-user-btn").css("color", "");
            $("#canceled-user-btn").css("color", "")
        }

        function getalluser() {
            $("#selected_Type").attr("value", "all");
            LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
            LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
            LEAP.Common.MainPop.options.dataTable.fnDraw();
        }
        function getcanceleduser() {
            $("#selected_Type").attr("value", "cancled");
            LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
            LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
            LEAP.Common.MainPop.options.dataTable.fnDraw();
        }
        //syc user from weixin server
        function SycUserInfo(obj) {
            var OpenId = jQuery(obj).data("openid");
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/SycUserToDB",
                type: "post",
                data: { "openId": OpenId },
                datatype: "json",
                success: function (result) {
                    $("#user-details-info").html('');
                    if (result.Status == 200) {
                        var newTime = new Date(result.Data.SubScribeTime * 1000)
                        var html = '<div class="row user-info-item" > <img class="img-header"  src="' + ((result.Data.HeadImgUrl == null || result.Data.HeadImgUrl == "") ? "/images/icon_avatar_default.png" : result.Data.HeadImgUrl) + '" />&nbsp&nbsp&nbsp ' + (result.Data.NickName == null ? "未知" : result.Data.NickName) + '</div>';
                        html = html + '<div class="row user-info-item"> 国家：' + (result.Data.Country == null ? "" : result.Data.Country) + '</div>';
                        html = html + '<div class="row user-info-item"> 地区：' + result.Data.LocationDisplayStr + '</div>';
                        html = html + '<div class="row user-info-item"> 分组：' + result.Data.TagName + '</div>';
                        html = html + '<div class="row user-info-item"> 标签：' + result.Data.UserTagStr + '</div>';
                        html = html + '<div class="row user-info-item"> 备注：' + (result.Data.Remark == null ? "" : result.Data.Remark) + '</div>';
                        html = html + '<div class="row user-info-item"> 用户编号：' + (result.Data.CustomerNO == null ? "" : result.Data.CustomerNO) + '</div>';
                        html = html + '<div class="row user-info-item"> 关注时间：' + newTime.format('yyyy-MM-dd') + '</div>';
                        if (result.Data.IsCanceled) {
                            var caneldate = new Date(result.Data.UnSubScribeTime)
                            html = html + '<div class="row user-info-item"> 关注状态：该用户已取消关注</div>';
                            if (result.Data.UnSubScribeTime !== null) {                          
                                html = html + '<div class="row user-info-item"> 取关时间：' + caneldate.format('yyyy-MM-dd') + '</div>';
                            }
                        }

                        
                        $("#user-details-info").append(html);
                    }
                },
                error: function (msg) {
                    //alert("error" + msg);
                }
            });
        }

        // user  tag edit related js
        //edit user - tag clicked load user tag model
        function editUserTag(obj) {
            var openId = $(obj).parent().data('useropenid');
            $("#usertag-user-openid").val(openId);
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/GetUserSelectedTagList",
                type: "get",
                data: { 'openId': openId },
                datatype: "json",
                success: function (result) {
                    var html = '';
                    $('#selected-tags').html('');
                    $('#food').html('');
                    $.each(result.data, function (i, item) {
                        html += "<optgroup  label='" + item.Key.Name + "' >";
                        if (item.Value) {
                            var checkboxs = item.Value;
                            $.each(checkboxs, function (index, it) {
                                if (it.IsSelected) {
                                    html += "<option value=" + it.Id + " selected='selected' >" + it.Name + "</option>";
                                    var selectedTag = '<div class="selected-tag" id="' + it.Id + '" value="' + it.Id + '">' + it.Name + '</div> ';
                                    $('#selected-tags').append(selectedTag);
                                }
                                else {
                                    html += "<option value=" + it.Id + ">" + it.Name + "</option>";
                                }
                            })
                        }
                        html += "</optgroup>";

                    });
                    html += "</select>";
                    $('#food').append(html);

                    $('#food').multipleSelect({ minimumCountSelected: Infinity });
                    $('input[data-name=selectGroup]').hide();
                    $('input[data-name=selectAll]').change(function () {
                        if ($(this).prop('checked')) {
                            $(this).parents('ul').find('span').each(function () {
                                var value = $(this).parent().find('input').val();
                                var name = $(this).text();
                                var selectedTag = '<div class="selected-tag" id="' + value + '" value="' + value + '">' + name + '</div> ';
                                $('#selected-tags').append(selectedTag);
                            });
                        }
                        else {
                            $('#selected-tags').html('');
                        }
                    });
                    $('input[data-name=selectItem]').change(function () {
                        var name = $(this).parent().find('span').text();
                        var value = $(this).val();
                        if ($(this).prop('checked')) {
                            var selectedTag = '<div class="selected-tag" id="' + value + '" value="' + value + '">' + name + '</div> ';
                            $('#selected-tags').append(selectedTag);
                        }
                        else {
                            $('#selected-tags').find('#' + value).remove();
                        }
                    });
                },
                error: function (msg) {
                }
            });
        }
        //save tags for user
        $('#user-tag-save-btn').on('click', function () {
            var tags = ',';
            $('#selected-tags').children().each(function (i, item) {
                tags = tags + $(item).attr('value') + ',';
            });
            var openId = $("#usertag-user-openid").val();
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/AddUserTagToUser",
                type: "post",
                data: { "openId": openId, 'tagIdstr': tags },
                datatype: "json",
                success: function (data) {
                    $('#Tag').modal('hide')
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                    LEAP.Common.MainPop.options.dataTable.fnDraw();
                },
                error: function (msg) {
                    //alert("error" + msg);
                }
            });
        })

        //page  tags filter related
        //load all user tags for index pages
        function loadAllUserTag() {
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/GetUserTagList",
                type: "get",
                cache: false,
                data: {},
                datatype: "json",
                success: function (result) {
                    $("#tag-list").html("");
                    $.each(result.data, function (i, item) {
                        var html = '<div class="user-tag">'
                            + '<p class="tag-title widthBreak">' + item.Key.Name + ':</p>'
                            + '<ul class="tag">';
                        var inner = '';
                        $.each(item.Value, function (i, it) {
                            inner = inner + '<li data-id="' + it.Id + '" data-name="' + it.Name + '"  class="page-tag">' + it.Name + '</li>';
                        });
                        html = html + inner
                            + '<div class="clear"></div>'
                            + '</ul>'
                            + '</div>	'
                        $("#tag-list").append(html);
                    });
                    $(".page-tag").on('click', function () {
                        AddUserTagFilter(this);
                    });
                },
                error: function (msg) {
                }
            });
        }
        //click tag to filter users with tags
        function AddUserTagFilter(obj) {
            onSearchUserNameInputChanged();
            if (obj != undefined) {
                var id = jQuery(obj).data("id");
                var name = jQuery(obj).data("name");
                if ($("#user-tag-filter").find("#" + id).length <= 0) {
                    var htmlFilter = '<div class="filter-tag" id="' + id + '">'
                              + '<a>' + name + '</a>'
                              + '<a  class="tag-delete-bt"><i class="ace-icon glyphicon glyphicon-remove"></i></a>'
                              + '</div>';
                    var htmlInput = '<div class="filter-tag" id="' + id + '">'
                           + '<input type="hidden" style="display:none" name="SelectedUserTag' + id + '" value="' + id + '" />'
                           + '</div>';
                    $("#user-tag-filter").append(htmlFilter);
                    $('#user-tag-filter-hidden').append(htmlInput);

                    $(".tag-delete-bt").on('click', function () {
                        var deleteId = $(this).parent().attr('id');
                        $('#user-tag-filter-hidden').find('#' + deleteId).remove();
                        removeParent(this);
                        LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
                        LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                        LEAP.Common.MainPop.options.dataTable.fnDraw();
                    });
                }
            }
            LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
            LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
            LEAP.Common.MainPop.options.dataTable.fnDraw();
        }
        //remove tag from filter
        function removeParent(obj) {
            var test = $(obj).parent();
            test.remove();
        }
        //change user group
        function changeUserGroup(obj) {
            debugger;
            var openid = jQuery(obj).data("openid");
            var value = jQuery(obj).val();
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/ChangeGroup",
                type: "get",
                data: { "groupId": value, 'userOpenId': openid },
                datatype: "json",
                success: function (data) {
                    loadAllGroups();
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                    LEAP.Common.MainPop.options.dataTable.fnDraw();
                },
                error: function (msg) {
                }
            });
        }

        //tag edit page related js
        //load edit tags page tags and tag
        $("#edit-tag-all").on('click', function () {
            GetEditUserTag();
        });
        function GetEditUserTag() {
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/GetUserTagList",
                type: "get",
                data: {},
                datatype: "json",
                success: function (result) {
                    $("#tag-group-list").html("");
                    $("#edit-user-tag-list").html("");
                    var activeTag = $("#selected-user-tag-id").val();
                    $.each(result.data, function (i, item) {
                        var html = '';
                        var tagHtml = '';
                        if ((activeTag == -1 && i == 0) ||
                           (activeTag > 0 && activeTag == item.Key.Id)) {
                            html = '<li class="active group-tag" ><p data-id="' + item.Key.Id + '">' + item.Key.Name + '</p><div class="import"><input class="input-small" placeholder="输入新类名" type="text"></div>'
                                + '<a class="tag-group-delete" data-id="' + item.Key.Id + '"><i class="ace-icon glyphicon glyphicon-trash"></i></a><a class="tag-rename"><i class="ace-icon glyphicon glyphicon-pencil"></i></a><div class="clear"></div></li>'
                            $("#selected-user-tag-id").attr('value', item.Key.Id);
                            $.each(item.Value, function (i, it) {
                                tagHtml = tagHtml + '<li >' + '<p data-id="' + it.Id + '">' + it.Name + '</p> '
                                   + '<div class="import" style="display:none"><input class="input-small" placeholder="输入新类名" type="text"></div>'
                                     + '<a class="tag-delete add1" ><i class="ace-icon glyphicon glyphicon-trash"></i></a>'
                                 + '<a class="tag-rename add2" ><i class="ace-icon glyphicon glyphicon-pencil"></i></a>'
                                  + '<div class="clear"></div>'
                                + '</li>';
                            });
                        }
                        else {
                            html = '<li class="group-tag" ><p data-id="' + item.Key.Id + '">' + item.Key.Name + '</p><div class="import"><input class="input-small" placeholder="输入新类名" type="text"></div>'
                                + '<a class="tag-group-delete"  data-id="' + item.Key.Id + '"><i class="ace-icon glyphicon glyphicon-trash"></i></a><a class="tag-rename"><i class="ace-icon glyphicon glyphicon-pencil"></i></a><div class="clear"></div></li>'
                        }

                        $("#tag-group-list").append(html);
                        tagHtml = tagHtml + '<div class="clear"></div>';
                        $("#edit-user-tag-list").append(tagHtml);

                        $("#edit-user-tag-list li").mouseover(function () {
                            $(this).css("padding", "0 10px");
                            $(this).find(".add2").css("display", "block");
                            $(this).find(".add1").css("display", "block");
                        });

                        $("#edit-user-tag-list li").mouseout(function () {
                            $(this).css("padding", "0 29px");
                            $(this).find(".add2").css("display", "none");
                            $(this).find(".add1").css("display", "none");
                        });


                    });
                    $('.group-tag p').on('click', function () {
                        ChangeEditTagGroup(this);
                    });
                    $(".tag-delete").click(function () {
                        if (confirm("确认要删除？")) {
                            var id = $(this).parent().find("p").data('id');
                            DeleteTagGroup(id);
                        }

                    });
                    $(".tag-rename").click(function () {
                        $(this).parent().find("p").hide();
                        $(this).parent().find(".import").show();
                        $(this).parent().find(".input-small").show();

                        var oldName = $(this).parent().find("p").text();
                        var id = $(this).parent().find("p").data('id');

                        $(this).parent().find(".input-small").val(oldName);
                        $(this).parent().find(".input-small").focus();
                        $(this).parent().find(".input-small").blur(function () {
                            var newValue = $(this).val();
                            var p_text = $(this).parent().parent().find("p");
                            var input_div = $(this).parent().parent().find(".input-small");
                            if (newValue == "") {
                                artDialog.alert("标签类名称不能为空。");
                            }
                            else if (newValue == oldName) {
                                input_div.hide();
                                p_text.show();
                            }
                            else {
                                $.ajax({
                                    url: "http://" + window.location.host + "/UserMP/EditUserTagName",
                                    type: "get",
                                    data: { 'tagName': newValue, 'tagId': id },
                                    datatype: "json",
                                    success: function (result) {
                                        if (result.Status == 200) {
                                            p_text.text(newValue);
                                            input_div.hide();
                                            p_text.show();
                                        }
                                        else if (result.Status == 206) {
                                            artDialog.alert(result.Message);
                                        }
                                        else {
                                            artDialog.alert("标签类名称更改失败。");
                                        }
                                    },
                                    error: function (msg) {
                                        artDialog.alert("标签类名称更改失败。");
                                    }
                                });
                            }
                        });
                    });
                    $(".tag-group-delete").click(function () {
                        if (confirm("确认要删除？")) {
                            var id = $(this).data('id');
                            DeleteTagGroup(id);
                        }
                    });
                },
                error: function (msg) {
                }
            });
        }
        //delete tag group
        function DeleteTagGroup(obj) {
            var id = obj;
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/DeleteUserTag",
                type: "get",
                data: { 'tagId': id },
                datatype: "json",
                success: function (result) {
                    if (result.Status == 200) {
                        var activeTag = $("#selected-user-tag-id").attr('value', -1);
                        GetEditUserTag();
                    }
                    else {
                    }
                },
                error: function (msg) {
                }
            });
        }
        //edit page change tag group ,get tags in current group
        function ChangeEditTagGroup(obj) {
            $("#form-field-mask-4").val("");
            var id = jQuery(obj).data("id");
            var activeTag = $("#selected-user-tag-id").attr('value', id);
            GetEditUserTag();
        }
        //edit page add tag group
        $('#new-user-tag-group-btn').on('click', function () {
            addTagGroup();
        });
        function addTagGroup() {
            var name = $("#newuser-taggroup-name").val();
            if (name == "") {
                artDialog.alert("标签类名称不能为空。");
                return;
            }
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/AddUserTag",
                type: "get",
                data: { 'tagName': name },
                datatype: "json",
                success: function (result) {
                    if (result.Status == 200) {
                        $("#newuser-taggroup-name").val("");
                        $(".tag-list-content").show()
                        $(".tag-add-content").hide();
                        $(".tag-class-add").css("background-color", "inherit");
                        $(".tag-rename-content").hide();

                        var activeTag = $("#selected-user-tag-id").attr('value', result.TagId);
                        GetEditUserTag();
                    }
                    else if (result.Status == 206) {
                        artDialog.alert(result.Message);
                    }
                    else {
                    }
                },
                error: function (msg) {
                }
            });
        }

        //edit page add tag
        $("#edit-add-tag-btn").on('click', function () {
            addTag();
        });
        function addTag() {
            var name = $("#form-field-mask-4").val();
            var activeTag = $("#selected-user-tag-id").val();
            if (name == "") {
                artDialog.alert("标签名称不能为空。");
                return;
            }
            if (activeTag == -1) {
                artDialog.alert("选择标签类。");
                return;
            }
            $.ajax({
                url: "http://" + window.location.host + "/UserMP/AddUserTag",
                type: "get",
                data: { 'tagName': name, 'parentId': activeTag },
                datatype: "json",
                success: function (result) {
                    if (result.Status == 200) {
                        GetEditUserTag();
                        $("#form-field-mask-4").val("");
                    }
                    else if (result.Status == 206) {
                        artDialog.alert(result.Message);
                    }
                    else {
                    }
                },
                error: function (msg) {
                }
            });
        }
        //edit tag page dismiss
        $('#myModal').on('hidden.bs.modal', function (e) {
            loadAllUserTag();
        })

        function onSearchUserNameInputChanged() {
            $('#search_UserName').val($('#searchUserNameInput').val());
        }

        $(document).ready(function () {
            loadAllGroups();
            loadAllUserTag();
            //table loaded
            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": {
                    "url": "GetList",
                },
                "paging": true,
               // "info": false,
                "aoColumns": [
                    { "mData": 'Id' },
                    { "mData": 'NickName' },
                    { "mData": 'TagIdList' },
                    { "mData": "Operation" }
                ],
                "columnDefs": [
                    {
                        "targets": 1,
                        "render": function (data, type, full, meta) {
                            var html = '<img class="img-header" src="' + ((full.HeadImgUrl == "" || full.HeadImgUrl == null) ? "/images/icon_avatar_default.png" : full.HeadImgUrl) + '"/>&nbsp;&nbsp;&nbsp;' + '<a data-toggle="modal" data-target="#UserInfo" data-OpenId="' + full.OpenId + '" onclick="SycUserInfo(this)">' + ((data == "" || data == null) ? "未知" : data) + '</a>';
                            return html;
                        }
                    },
                     {
                         "targets": 2,
                         "render": function (data, type, full, meta) {
                             if (full.IsCanceled) {
                                 var htmlStr = '<select class="table-select" data-openid="' + full.OpenId + '" data-originalgroupid="' + full.TagIdList + '" disabled="disabled">'
                                 $.each(full.GroupList, function (i, item) {
                                     var isSelected = (item.Id == full.TagIdList) ? 'Selected="selected"' : '';
                                     htmlStr = htmlStr + '<option ' + isSelected + ' value="' + item.Id + '">' + item.name + '</option>'
                                 });
                                 htmlStr = htmlStr + '</select>';
                                 return htmlStr;

                             } else {
                                 var htmlStr = '<select class="table-select" onchange="changeUserGroup(this)" data-openid="' + full.OpenId + '" data-originalgroupid="' + full.TagIdList + '">'
                                 $.each(full.GroupList, function (i, item) {
                                     var isSelected = (item.Id == full.TagIdList) ? 'Selected="selected"' : '';
                                     htmlStr = htmlStr + '<option ' + isSelected + ' value="' + item.Id + '">' + item.name + '</option>'
                                 });
                                 htmlStr = htmlStr + '</select>';
                                 return htmlStr;

                             }
                         }
                     },
                      {
                          "targets": 3,
                          "render": function (data, type, full, meta) {
                              if (full.IsCanceled) {
                                  return '';
                                  return '<div id="' + full.Id + '" data-useropenid="' + full.OpenId + '"><a class="table-a" data-useropenid="' + full.OpenId + '>修改备注</a>&nbsp;&nbsp; '
                                      + '<a class="table-a"> 编辑标签 </a>'
                                      + '</div>'
                                  ;

                              } else {
                                  return '<div id="' + full.Id + '" data-useropenid="' + full.OpenId + '"><a class="table-a" onclick="remarkClick(this)" data-useropenid="' + full.OpenId + '" data-toggle="modal" data-target="#Remarks">修改备注</a>&nbsp;&nbsp; '
                                      + '<a class="table-a" onclick="editUserTag(this)"  data-toggle="modal" data-target="#Tag"> 编辑标签 </a>'
                                      + '</div>'
                                  ;
                              }
                          }
                      },
                ],
                fnDrawCallback: function () {

                    $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
                    $('ul.pagination').append("<li class='paginate_button'><input type='text' style='width:30px;float:left' id='go_page'></li><li class='paginate_button'><a class='gotopage'>Go</a></li>")
                    $('.gotopage').click(function () {
                       var gopage = (/^[0-9]+$/).test($('#go_page').val()) ? $('#go_page').val() : "1";
        $('.data-table').dataTable().api().page(parseInt(gopage) - 1).draw(false)
                    })

                }

            }));
            LEAP.Common.MainPop.options.afterShowModal = function () {
                loadAllGroups();
            };
            LEAP.Common.MainPop.options.afterBindData = function (o) {
            };


            // 收起标签
            $(".pack-up").click(function () {
                $("#tag-box").toggleClass("tag-height");
                var packTag = $(this).html();
                if (packTag == '收起条件<i class="arrow fa fa-angle-up show-tag"></i>') {
                    $(this).html('显示条件<i class="arrow fa fa-angle-down show-tag"></i>');
                } else {
                    $(this).html('收起条件<i class="arrow fa fa-angle-up show-tag"></i>');
                }
            });

            //  标签管理
            $(".tag-class-add").click(function () {
                $(".tag-add-content").show();
                $(".tag-list-content").hide();
                $("#tag-group-list li").removeClass("active");
                $(".tag-class-add").css("background-color", "#fff");
                $(".tag-rename-content").hide();

            });

            $("#tag-group-list").click(function () {
                $(".tag-list-content").show()
                $(".tag-add-content").hide();
                $(".tag-class-add").css("background-color", "inherit");
                $(".tag-rename-content").hide();
            });

            //  编辑管理
            $('.multiselect').multiselect({
                enableFiltering: true,
                buttonClass: 'btn btn-white btn-primary',
                templates: {
                    button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"></button>',
                    ul: '<ul class="multiselect-container dropdown-menu"><p>未分类</p></ul>',
                    filter: '<li class="multiselect-item filter"><div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span><input class="form-control multiselect-search" type="text"></div></li>',
                    filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default btn-white btn-grey multiselect-clear-filter" type="button"><i class="fa fa-times-circle red2"></i></button></span>',
                    li: '<li><a href="javascript:void(0);"><label></label></a></li>',
                    divider: '<li class="multiselect-item divider"></li>',
                    liGroup: '<li class="multiselect-item group"><label class="multiselect-group"></label></li>'
                }
            });

            //in ajax mode, remove remaining elements before leaving page
            $(document).one('ajaxloadstart.page', function (e) {
                $('[class*=select2]').remove();
                $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox('destroy');
                $('.rating').raty('destroy');
                $('.multiselect').multiselect('destroy');
            });

        });
        Date.prototype.format = function (format) {
            var date = {
                "M+": this.getMonth() + 1,
                "d+": this.getDate(),
                "h+": this.getHours(),
                "m+": this.getMinutes(),
                "s+": this.getSeconds(),
                "q+": Math.floor((this.getMonth() + 3) / 3),
                "S+": this.getMilliseconds()
            };
            if (/(y+)/i.test(format)) {
                format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
            }
            for (var k in date) {
                if (new RegExp("(" + k + ")").test(format)) {
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1
                           ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
                }
            }
            return format;
        }
    </script>
}

<style>
    .dropdown-menu {
        min-width: 252px;
        height: 500px;
        overflow: auto;
    }

        .dropdown-menu p {
            padding-left: 10px;
            font-weight: bolder;
            margin: 0;
        }


    #selected-tags {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .selected-tag {
        display: inline-block;
        padding: 2px 6px;
        margin-right: 8px;
        margin-bottom: 10px;
        border: 1px solid #ee4b46;
        color: #ee4b46;
    }

    .table-a {
        display: inline-block;
        padding-top: 18px;
    }

    .table-select {
        margin-top: 11px !important;
    }

    .user-info-item {
        word-wrap: break-word;
        word-break: break-all;
        margin: 5px;
    }

    .img-header {
        width: 50px;
    }

    .left-float {
        float: left;
    }
</style>