<div class="row">
    <div class="col-sm-8">
        <div class="widget-content nopadding">
            <table class="table table-bordered" id="LedReport">
                <thead>
                    <tr>
                        <th style="width: 40%; text-align: center;">@T("报告 名称")</th>
                        <th style="width: 60%; text-align: center;">@T("Operation")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>课程访问量</td>
                        <td align="center">
                            <a href="/wechatmain/articlereport/LedIndex?MenuKey=LED_COURSES" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Course Report" target="_blank">
                                <i class="glyphicon glyphicon-link"></i> Open
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>新闻访问量</td>
                        <td align="center">
                            <a href="/wechatmain/articlereport/LedIndex?MenuKey=LED_NEWS" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="New Report" target="_blank">
                                <i class="glyphicon glyphicon-link"></i> Open
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>课堂间访问量</td>
                        <td align="center">
                            <a href="/wechatmain/articlereport/LedIndex?MenuKey=LED_MICROCOURSES" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Micro Course Report" target="_blank">
                                <i class="glyphicon glyphicon-link"></i> Open
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>菜单点击量</td>
                        <td align="center">
                            <a href="/wechatmain/menureport/AppIndex?Id=13" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Menu Report" target="_blank">
                                <i class="glyphicon glyphicon-link"></i> Open
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Channel访问量</td>
                        <td align="center">
                            <a href="/wechatmain/AppAccessReport/AppIndex?Id=13" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="App Access Report" target="_blank">
                                <i class="glyphicon glyphicon-link"></i> Open
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
