@model Innocellence.WeChat.Domain.ModelsView.WechatFollowReportView
@{
    ViewBag.Title = "WechatFollow Report";
}

<div class="row">
    <div class="col-sm-12">

        <form class="form-inline" id="SearchForm" method="post">
            <div class="form-group">
                <div data-date-format="yyyy-mm-dd" class="input-daterange input-group">
                    <input type="datetime" id="txtStartTime" name="txtStartTime" class="form-control" placeholder="开始日期" />
                    <span class="input-group-addon">
                        <i class="fa fa-exchange"></i>
                    </span>
                    <input type="datetime" id="txtEndTime" name="txtEndTime" class="form-control" placeholder="结束日期" />
                </div>
                <a href="#" class="btn btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
            </div>
            <div class="form-group pull-right">
                <a href="#" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="导出" id="btnExport">
                    <i class="fa fa-download"></i>导出CSV
                </a>
                <a href="#" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Statistics" id="btnReportGenerate">
                    <i class="fa fa-bar-chart"></i>当日统计
                </a>
            </div>
        </form>

        <div class="widget-box">
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width: 5%;">@T("Id")</th>
                            <th style="width: 40%">@T("StatisticsDate")</th>
                            <th style="width: 30%">@T("FollowCount")</th>
                            <th style="width: 30%">@T("UnFollowCount")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>

@section scripts_Foot
{
    <script>
        var uploader;
        $(document).ready(function () {

            $('#btnReportGenerate').click(function() {

                $.ajax({
                    type: 'Get',
                    url: 'ReportGenerate',
                    cache: false,
                    success: function(data) {
                        artDialog.alert("微信关注统计成功!");
                    }
                });

            });

            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": { "url": "GetList" },
                "deferLoading": 0,
                "aoColumns": [
                  { "mData": "Id" },
                  { "mData": "StatisticsDate" },
                  { "mData": "FollowCount" },
                  { "mData": "UnFollowCount" }
                ],
                "columnDefs": jQuery.extend(true, datatableSetting.columnDefs, [
                {
                    "targets": 0,
                    "render": function (data, type, full, meta) {
                        return data;
                    }
                }]),

                fnDrawCallback: function () {
                    $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
                    //var item = $('.data-table td');
                    //var count = item.length;
                    //if (count > 1) {
                    //    $(".widget-box").show();
                    //}
                    //else {
                    //    $(".widget-box").hide();
                    //}
                }
            }));


            $('.input-daterange').datepicker({
                autoclose: true,
                todayHighlight: true,
                dateFormat: 'yyyy-mm-dd',
                minDate: -10,
                maxDate: "+1M +10D",
                todayBtn: "linked",
                clearBtn: true
            });

        });

        function BeforeExport(objForm) {
            var start = $("#txtStartTime").val();
            var end = $("#txtEndTime").val();
            if (start == null || start.length == 0) {
                artDialog.alert("起始日期不能为空");
                return false;
            }
            if (end == null || end.length == 0) {
                artDialog.alert("截止日期不能为空");
                return false;
            }

            var startime = new Date(start);
            var endtime = new Date(end);
            if (startime.getTime() > endtime.getTime()) {
                artDialog.alert("截止日期不能早于起始日期。");
                return false;
            } else if (endtime.getTime() - startime.getTime() > 24 * 3600 * 1000 * 60) {
                artDialog.alert("间隔时间不能超过两个月。");
                return false;
            }

            return true;
        };

        function BeforeSearch() {
            var start = $("#txtStartTime").val();
            var end = $("#txtEndTime").val();
            if (start == null || start.length == 0) {
                artDialog.alert("起始日期不能为空");
                return false;
            }
            if (end == null || end.length == 0) {
                artDialog.alert("截止日期不能为空");
                return false;
            }

            var startime = new Date(start);
            var endtime = new Date(end);
            if (startime.getTime() > endtime.getTime()) {
                artDialog.alert("截止日期不能早于起始日期。");
                return false;
            } else if (endtime.getTime() - startime.getTime() > 24 * 3600 * 1000 * 60) {
                artDialog.alert("间隔时间不能超过两个月。");
                return false;
            }

            return true;
        };

        //Array.forEach implementation for IE support..  
        //https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Array/forEach  
        if (!Array.prototype.forEach) {
            Array.prototype.forEach = function (callback, thisArg) {
                var T, k;
                if (this == null) {
                    throw new TypeError(" this is null or not defined");
                }
                var O = Object(this);
                var len = O.length >>> 0; // Hack to convert O.length to a UInt32  
                if ({}.toString.call(callback) != "[object Function]") {
                    throw new TypeError(callback + " is not a function");
                }
                if (thisArg) {
                    T = thisArg;
                }
                k = 0;
                while (k < len) {
                    var kValue;
                    if (k in O) {
                        kValue = O[k];
                        callback.call(T, kValue, k, O);
                    }
                    k++;
                }
            };
        }
    </script>
}
