@{
    ViewBag.Title = "Home Page";
    Style.Include("ace1.css");
}

<div class="container">
    <p><a href="~/wechatmain/Report/Department" class="btn btn-primary btn-large">Export1</a></p>
</div>

