<div class="main-div">
    微信公众账号信息
    <div class="form-group row">
        <div class="col-md-2">
            <div>
                <img id="account-logo"  style="width:100px;max-height:100px" />
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-3">名称：</div><div id="account-name" class="col-md-9"> </div>
            </div>
            <div class="row">
                <div class="col-md-3">账号：</div><div id="corp-id" class="col-md-9"> </div>
            </div>
            <div class="row">
                <div class="col-md-3">类型：</div> <div id="account-type" class="col-md-9"> </div>
            </div>
        </div>
    </div>
    <form id="postForm" action="UploadImg" method="post" enctype="multipart/form-data" >
        <input id="hidden-id" name="id" hidden="hidden" value="@ViewBag.AccountManageid" />
        <div class="form-group row">
            <div class="col-md-2">
                <div>
                    <img id="qr-code" style="width:100px;max-height:100px" />
                </div>
            </div>
            <input type="file" id="QrCode" name="QrCode" onchange="uploadimg()"/>
        </div>

        <div class="form-group row">
            <div class="col-md-2">
                <div>
                    <img id="account-logo-changed" style="width:100px;max-height:100px"  />
                </div>
            </div>
            <input type="file" id="AccountLogo" name="AccountLogo" onchange="uploadimg()" />
        </div>
    </form>
    <div id="test2"></div>
</div>
<style>
    .main-div{
        border:2px,solid,#b6ff00;
        width:98%;
        height:98%;
    }
</style>
<script>
    $(document).ready(function () {
        LoadAccountInfo();
    });
    function uploadimg() {
         $('#postForm').submit();
    }

    function LoadAccountInfo()
    {
        var id = $("#hidden-id").val();
        $.ajax({
            url:  "../AccountDetail/Get",
            type: "get",
            data: { 'id': id },
            datatype: "json",
            success: function (result) {
                $("#account-name").append( result.AccountName);
                $("#corp-id").append(result.CorpId);
                $("#account-logo").attr('src', result.AccountLogoPath);
                $("#account-logo-changed").attr('src', result.AccountLogoPath);
                $("#qr-code").attr('src', result.QrCodePath);
                $("#hidden-id").val(result.Id);
                if (result.AccountType == 0) {
                    $("#account-type").append('企业号');
                }
                else {
                    $("#account-type").append( '服务号');
                }
            },
            error: function (msg) {
            }
        });
    }
</script>