<!--Action boxes-->
@{
    Layout = null;//"~/plugins/Innocellence.Authentication/Views/Shared/_AutopostLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>WeChat Admin</title>
    <script language="javascript">
        function submitForm() {
            var myForm = document.forms['form'];
            myForm.submit();
        }
    </script>
</head>

<body class="no-skin" onload="submitForm()">
    <form name="form" method="post" action="@ViewBag.RelayState">
        <input name="SAMLResponse" type="hidden" value="@ViewBag.samlResponse" />
        <input name="RelayStateSource" type="hidden" value="@ViewBag.RelayState" />
    </form>
</body>
</html>
