@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12" style="font-size: 32px;">

        <input type="button" onclick="syncProject()" value="Sync Project" />
        <input type="button" onclick="syncUser()" value="Sync User" />
        <input type="button" onclick="syncGroup()" value="Sync Group" />
        <input type="button" onclick="syncClient()" value="Sync Client" />
        <input type="button" onclick="syncTimeEntry()" value="Sync Time Entries" />
    </div>
</div>

<script language="javascript">
    function syncProject() {
        $.ajax({
            type: "POST",
            url: "syncprojects",
            success: function (result) {
                layer.msg(result.Message);
            }
        });
    }

    function syncUser() {
        $.ajax({
            type: "POST",
            url: "syncusers",
            success: function (result) {
                layer.msg(result.Message);
            }
        });
    }

    function syncGroup() {
        $.ajax({
            type: "POST",
            url: "syncgroups",
            success: function (result) {
                layer.msg(result.Message);
            }
        });
    }

    function syncClient() {
        $.ajax({
            type: "POST",
            url: "syncclients",
            success: function (result) {
                layer.msg(result.Message);
            }
        });
    }

    function syncTimeEntry() {
        $.ajax({
            type: "POST",
            url: "syncTimeEntry",
            data: {
                startTime: '2020-04-02',
                endTime: '2020-10-01'
            },
            success: function (result) {
                layer.msg(result.Message);
            }
        });
    }


</script>
