
<script src="/Scripts/wechatab/lib/layer/layer.js"></script>
<style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
        display: none !important;
    }

    ng\:form {
        display: block;
    }

    .ng-animate-block-transitions {
        transition: 0s all !important;
        -webkit-transition: 0s all !important;
    }

    .ng-hide-add-active, .ng-hide-remove {
        display: block !important;
    }

    .mod-send-message__audio-timeimage-wrap {
        width: 128px;
        height: 31px;
        background-image: url(images/style-old-global_801b41ce.png);
        background-position: -106px -503px;
        display: inline-block;
        position: relative;
        margin: 5px 5px 5px 20px;
        float: left;
    }

    .mod-send-message__audio-time {
        width: 30px;
        display: inline-block;
        vertical-align: 6px;
        color: #75777A;
    }

    .icon_filetype {
        width: 80px;
        height: 80px;
        display: inline-block;
    }

    .filetype_doc, .filetype_docx {
        background-image: url(/images/style-old-global_801b41ce.png);
        background-position: -450px -320px;
    }

    .filetype_zip {
        background-image: url(/images/style-old-global_801b41ce.png);
        background-position: -160px -160px;
        background-size: 278px;
    }

    .filetype_txt {
        background-image: url(/images/style-old-global_801b41ce.png);
        background-position: -450px -160px;
    }

    .filetype_video {
        background-image: url(/images/style-old-global_801b41ce.png);
        background-position: 0 -80px;
        background-size: 278px;
    }

    .filetype_ppt {
        background-image: url(/images/style-old-global_801b41ce.png);
        background-position: -160px 0;
        background-size: 278px;
    }

    .filetype_xls.filetype_xlsx {
        background-image: url(/images/style-old-global_801b41ce.png);
        background-position: -160px -80px;
        background-size: 278px;
    }

    .filetype_pdf {
        background-image: url(/images/style-old-global_801b41ce.png);
        background-position: 0 -160px;
        background-size: 278px;
    }

    .filetype_others, .filetype_psd, .filetype_xml {
        background-image: url(/images/style-old-global_801b41ce.png);
        background-position: -80px -160px;
        background-size: 278px;
    }

    .mod-send-message__audio-timeimage-wrap {
        width: 128px;
        height: 31px;
        background-image: url(images/style-old-global_801b41ce.png);
        background-position: -106px -503px;
        display: inline-block;
        position: relative;
        margin: 5px 5px 5px 20px;
        float: left;
    }

    .mod-send-message__audio-timeimage {
        width: 12px;
        height: 17px;
        position: absolute;
        background-image: url(images/style-old-global_801b41ce.png);
        background-position: -578px -228px;
        display: inline-block;
        left: 20px;
        top: 7px;
    }

    .mod-send-message__audio-time {
        width: 30px;
        display: inline-block;
        vertical-align: 6px;
        color: #75777A;
    }

    .datepicker table tr td.old, .datepicker table tr td.new {
        color:#333333;
     }
    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
        background: none;
        color: #999999;
        cursor: default;
    }
</style>

<!--<link href="/styles/bootstrap.css" rel="stylesheet" type="text/css">-->
<link href="/styles/bootstrapValidator.min.css" rel="stylesheet" type="text/css">
<link href="/styles/BMain.css" rel="stylesheet" type="text/css">
<!--<link href="/styles/font-awesome.min.css" rel="stylesheet" type="text/css">-->
<link href="/styles/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
<link href="/styles/ui-dialog.css" rel="stylesheet" type="text/css">
<link href="/styles/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
<link href="/styles/Sendmessage.css" rel="stylesheet" type="text/css">
<!--<link href="/styles/style-responsive.css" rel="stylesheet" type="text/css">-->
<!--if lt IE 9
script(src='/Scripts/html5.js', type='text/javascript')
-->
@*<script src="/Scripts/jquery-1.11.1.min.js" type="text/javascript"></script>*@
<script src="/Scripts/angular.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery.cookie.js" type="text/javascript"></script>
<script src="/Scripts/news-preview.js" type="text/javascript"></script>
<script src="/Scripts/jsviews.min.js" type="text/javascript"></script>
<script src="/Scripts/pages.js" type="text/javascript"></script>
<script src="/Scripts/p.list.bind.js" type="text/javascript"></script>

<script>
    (function (d) {
        d.className = "dyn" + d.className.substring(6, d.className.length);
    })(document.documentElement);
</script>
<link rel="stylesheet" href="/Scripts/wechatab/lib/layer/skin/layer.css" id="layui_layer_skinlayercss">
<script src="/Scripts/ueditor/lang/zh-cn/zh-cn.js" type="text/javascript" defer="defer"></script>
<link href="/Scripts/ueditor/themes/default/css/ueditor.css" type="text/css" rel="stylesheet">
<script src="/Scripts//ueditor/third-party/codemirror/codemirror.js" type="text/javascript" defer="defer"></script>
<link rel="stylesheet" type="text/css" href="/Scripts/ueditor/third-party/codemirror/codemirror.css">
<script src="/Scripts/ZeroClipboard/ZeroClipboard.js" type="text/javascript" defer="defer"></script>
<!--local widget-->
<script src="/Scripts/materialControl/materialControl.js"></script>
<script src="/Scripts/wechatab/dist/wechatab.js"></script>
<!-- jqueryUpload------->
<script src="/Scripts/jQuery-File-Upload-9.12.5/js/jquery.iframe-transport.js"></script>
<script src="/Scripts/jQuery-File-Upload-9.12.5/js/vendor/jquery.ui.widget.js"></script>
<link rel="stylesheet" href="/Scripts/jQuery-File-Upload-9.12.5/css/jquery.fileupload.css">
<script src="/Scripts/jQuery-File-Upload-9.12.5/js/jquery.fileupload.js"></script>
<!--script(src='/Scripts/jQuery-File-Upload-9.12.5/js/jquery.fileupload-image.js')-->
<script src="/Scripts/jQuery-File-Upload-9.12.5/js/jquery.fileupload-video.js"></script>
<!--jqueryUpload end-------->
<script src="/Scripts/appmp.js"></script>
<div id="" class="group">
    <div class="zone zone-content">
        <script src="/Scripts/ueditor/third-party/webuploader/webuploader.min.js"></script>

        <style>
            .item .info {
                border-radius: 4px;
                overflow: hidden;
            }

                .item .info img {
                    width: 80px;
                    height: 80px;
                    border-radius: 4px;
                }

            .layui-layer-msg {
                background-color: rgba(243, 112, 33, 0.8);
                border-color: #f37021;
            }
        </style>

        <div class="subpage-title">
            <div class="pull-left">
                发消息
            </div>
            <div class="clear"></div>
        </div>


        <div ng-app="newsEdit" ng-controller="NewsEdit" class="content-box news-container" style="margin-top: 65px;">
            <div>
                <div class="edit-box">
                    <form id="bigForm" name="bigForm" class="form-horizontal">
                        <fieldset>
                            <input id="hiddenAppId" type="hidden" name="appidhid" value="0">
                            <div class="row-fluid sortable">
                                <div id="wechatab-v2"></div>
                            </div>
                            <div id="semdMsg-content" class="row-fluid sortable">
                                <input id="hiddenType" type="hidden" name="msgtype" value="1">
                                <div id="tabMsgType" class="box-part">
                                    <!-- 类型区域-->
                                    <ul id="msgType" class="nav tab-menu nav-tabs pull-left">
                                        <li class="active"><a href="#msgType-word" class="msgType-word">文字</a></li>
                                        <li><a href="#msgType-wordpic">图文</a></li>
                                        <li><a href="#msgType-pic">图片</a></li>
                                        <li><a href="#msgType-video">视频</a></li>
                                        <li><a href="#msgType-sound">语音</a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    <div id="myTabContent" class="tab-content" style="min-height: 400px;">
                                        <!-- 文字-->
                                        <div id="msgType-word" data-msg-type="1" class="tab-pane active">
                                            <div class="control-group">
                                                <div style="display:none" class="controls">
                                                    <textarea id="msgType-text" name="msgType-text" style="height: 200px;" class="span6"></textarea><span class="errorMsg type1ErrorText">请输入文字</span>
                                                </div>
                                                <div class="controls">
                                                    <div class="comment">
                                                        <div class="com_form">
                                                            <textarea id="saytext" name="saytext" class="input" maxlength="600"></textarea>
                                                            <div class="com_info">
                                                                <p id="count"></p>
                                                                <p><span class="emotion">表情</span></p>
                                                            </div>
                                                            <div class="em_wrap">
                                                                <div class="em_nr"><a title="微笑" href="javascript:;"></a><a title="撇嘴" href="javascript:;"></a><a title="色" href="javascript:;"></a><a title="发呆" href="javascript:;"></a><a title="得意" href="javascript:;"></a><a title="流泪" href="javascript:;"></a><a title="害羞" href="javascript:;"></a><a title="闭嘴" href="javascript:;"></a><a title="睡" href="javascript:;"></a><a title="大哭" href="javascript:;"></a><a title="尴尬" href="javascript:;"></a><a title="发怒" href="javascript:;"></a><a title="调皮" href="javascript:;"></a><a title="呲牙" href="javascript:;"></a><a title="惊讶" href="javascript:;" class="borderRightNone"></a><a title="难过" href="javascript:;"></a><a title="酷" href="javascript:;"></a><a title="冷汗" href="javascript:;"></a><a title="折磨" href="javascript:;"></a><a title="吐" href="javascript:;"></a><a title="偷笑" href="javascript:;"></a><a title="愉快" href="javascript:;"></a><a title="白眼" href="javascript:;"></a><a title="傲慢" href="javascript:;"></a><a title="饥饿" href="javascript:;"></a><a title="困" href="javascript:;"></a><a title="惊恐" href="javascript:;"></a><a title="流汗" href="javascript:;"></a><a title="憨笑" href="javascript:;"></a><a title="悠闲" href="javascript:;" class="borderRightNone"></a><a title="奋斗" href="javascript:;"></a><a title="咒骂" href="javascript:;"></a><a title="疑问" href="javascript:;"></a><a title="嘘" href="javascript:;"></a><a title="晕" href="javascript:;"></a><a title="抓狂" href="javascript:;"></a><a title="衰" href="javascript:;"></a><a title="骷髅" href="javascript:;"></a><a title="敲打" href="javascript:;"></a><a title="再见" href="javascript:;"></a><a title="擦汗" href="javascript:;"></a><a title="抠鼻" href="javascript:;"></a><a title="鼓掌" href="javascript:;"></a><a title="糗大了" href="javascript:;"></a><a title="坏笑" href="javascript:;" class="borderRightNone"></a><a title="左哼哼" href="javascript:;"></a><a title="右哼哼" href="javascript:;"></a><a title="哈欠" href="javascript:;"></a><a title="鄙视" href="javascript:;"></a><a title="委屈" href="javascript:;"></a><a title="快哭了" href="javascript:;"></a><a title="阴险" href="javascript:;"></a><a title="亲亲" href="javascript:;"></a><a title="吓" href="javascript:;"></a><a title="可怜" href="javascript:;"></a><a title="菜刀" href="javascript:;"></a><a title="西瓜" href="javascript:;"></a><a title="啤酒" href="javascript:;"></a><a title="篮球" href="javascript:;"></a><a title="乒乓" href="javascript:;" class="borderRightNone"></a><a title="咖啡" href="javascript:;"></a><a title="饭" href="javascript:;"></a><a title="猪头" href="javascript:;"></a><a title="玫瑰" href="javascript:;"></a><a title="凋谢" href="javascript:;"></a><a title="嘴唇" href="javascript:;"></a><a title="爱心" href="javascript:;"></a><a title="心碎" href="javascript:;"></a><a title="蛋糕" href="javascript:;"></a><a title="闪电" href="javascript:;"></a><a title="炸弹" href="javascript:;"></a><a title="刀" href="javascript:;"></a><a title="足球" href="javascript:;"></a><a title="瓢虫" href="javascript:;"></a><a title="便便" href="javascript:;" class="borderRightNone"></a><a title="月亮" href="javascript:;"></a><a title="太阳" href="javascript:;"></a><a title="礼物" href="javascript:;"></a><a title="拥抱" href="javascript:;"></a><a title="强" href="javascript:;"></a><a title="弱" href="javascript:;"></a><a title="握手" href="javascript:;"></a><a title="胜利" href="javascript:;"></a><a title="抱拳" href="javascript:;"></a><a title="勾引" href="javascript:;"></a><a title="拳头" href="javascript:;"></a><a title="差劲" href="javascript:;"></a><a title="爱你" href="javascript:;"></a><a title="NO" href="javascript:;"></a><a title="OK" href="javascript:;" class="borderRightNone"></a><a title="爱情" href="javascript:;" class="borderBottomNone"></a><a title="飞吻" href="javascript:;" class="borderBottomNone"></a><a title="跳跳" href="javascript:;" class="borderBottomNone"></a><a title="发抖" href="javascript:;" class="borderBottomNone"></a><a title="怄火" href="javascript:;" class="borderBottomNone"></a><a title="转圈" href="javascript:;" class="borderBottomNone"></a><a title="磕头" href="javascript:;" class="borderBottomNone"></a><a title="回头" href="javascript:;" class="borderBottomNone"></a><a title="跳绳" href="javascript:;" class="borderBottomNone"></a><a title="投降" href="javascript:;" class="borderBottomNone"></a><a title="激动" href="javascript:;" class="borderBottomNone"></a><a title="乱舞" href="javascript:;" class="borderBottomNone"></a><a title="献吻" href="javascript:;" class="borderBottomNone"></a><a title="左太极" href="javascript:;" class="borderBottomNone"></a><a title="右太极" href="javascript:;" class="borderRightNone borderBottomNone"></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 图文-->
                                        <div id="msgType-wordpic" data-msg-type="2" class="tab-pane">
                                            <div id="firstItem">
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <div id="img_material"></div>
                                                        <script>
                                                            $('#img_material').materialControl({
                                                                category: 'image_1'
                                                            });
                                                        </script>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <p class="help-block">标题<sup>*</sup></p>
                                                        <input type="text" name="msgPictitle" maxlength="64" ng-model="firstitem.msgtitle" class="msgPictitle">
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <p class="help-block">封面图片</p>
                                                        <!--#uploader1--><span class="btn btn-white btn-primary fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i><span>增加图片</span>
                                                            <!-- The file input field used as target for the file upload widget-->
                                                            <input type="file" multiple="" name="file" class="uploader_news_cover" accept="image/png,image/jpeg">
                                                        </span>
                                                        <div class="progress1">
                                                            <div style="width: 0%;height: 18px;background: green;display:none" class="bar"></div>
                                                        </div>
                                                        <input id="image1-src" readonly="readonly" ng-model="firstitem.msgfileImg" style="width:280px" type="text" name="" placeholder="点击上传封面，此处自动填写上传图片地址。" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <p class="help-block">摘要(摘要只在发送消息为单图文时显示，且不超过120个字符)</p>
                                                        <textarea name="msgtips" style="width:400px;height:100px" ng-model="firstitem.msgtips" class="msgtips"></textarea>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <p class="help-block">正文</p>
                                                        <input id="editorvalue1" type="hidden" ng-model="firstitem.msgmaintext" name="name">
                                                        <textarea id="editor1" class="msgmaintext"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="secondItem" style="display:none">
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <div id="img_2_material"></div>
                                                        <script>
                                                            $('#img_2_material').materialControl({
                                                                category: 'image_2'
                                                            });
                                                        </script>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <p class="help-block">标题<sup>*</sup></p>
                                                        <input type="text" name="msgPictitle" maxlength="64" ng-model="msgtitle" validate="{required:true,messages:{required:'请填写标题内容。'}}" class="msgPictitle">
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <p class="help-block">封面图片</p><span class="btn btn-white btn-primary fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i><span>增加文件</span>
                                                            <!-- The file input field used as target for the file upload widget-->
                                                            <input type="file" multiple="" name="file" class="uploader_image">
                                                        </span>
                                                        <div class="progress1">
                                                            <div style="width: 0%;height: 18px;background: green;display:none" class="bar"></div>
                                                        </div>
                                                        <input id="image2-src" readonly="readonly" ng-model="msgfileImg" style="width:280px" type="text" name="" placeholder="点击上传封面，此处自动填写上传图片地址。" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <p class="help-block">摘要(摘要只在发送消息为单图文时显示，且不超过120个字符)</p>
                                                        <textarea name="msg-tips" style="width:400px;height:100px" ng-model="msgtips" class="msgtips"></textarea>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <p class="help-block">正文</p>
                                                        <input id="editorvalue2" type="hidden" ng-model="msgmaintext" name="">
                                                        <textarea id="editor2" class="msgmaintext"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 图片-->
                                        <div id="msgType-pic" data-msg-type="3" class="tab-pane">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <div id="img3_material"></div>
                                                    <script>
                                                        $('#img3_material').materialControl({
                                                            category: 'image_3'
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="controls">
                                                <p class="help-block">选择图片</p><span class="btn btn-white btn-primary fileinput-button">
                                                    <i class="glyphicon glyphicon-plus"></i><span>增加图片</span>
                                                    <!-- The file input field used as target for the file upload widget-->
                                                    <input type="file" accept="image/png,image/jpeg" name="file" class="uploader_image">
                                                </span>
                                                <div class="progress1">
                                                    <div style="width: 0%;height: 18px;background: green;display:none" class="bar"></div>
                                                </div>
                                                <input id="image3-src" readonly="readonly" ng-model="type3_msgImg" style="width:280px" type="text" name="" placeholder="点击上传图片，此处自动填写上传图片地址。" class="form-control">
                                            </div>
                                        </div>
                                        <!--视频-->
                                        <div id="msgType-video" data-msg-type="4" class="tab-pane">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <div id="video_material"></div>
                                                    <script>
                                                        $('#video_material').materialControl({
                                                            category: 'Video'
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <p class="help-block">视频 (格式支持mp4，文件大小不超过10M)</p><span class="btn btn-white btn-primary fileinput-button">
                                                        <i class="glyphicon glyphicon-plus"></i><span>增加视频</span>
                                                        <!-- The file input field used as target for the file upload widget-->
                                                        <input type="file" name="file" accept="video/mp4,audio/mp4" class="uploader_video">
                                                    </span>
                                                    <div class="progress1">
                                                        <div style="width: 0%;height: 18px;background: green;display:none" class="bar"></div>
                                                    </div>
                                                    <input id="image4-src" readonly="readonly" ng-model="type4_msgVideoSrc" style="width:280px;display:none" type="text" name="" placeholder="点击视频，此处自动填写上传的视频地址。" class="form-control">
                                                </div>
                                            </div>
                                            @*<div class="control-group">
                                        <div class="controls">
                                            <p class="help-block">视频封面</p><span class="btn btn-white btn-primary fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i><span>增加封面</span>
                                                <input type="file" multiple="" name="file" class="uploader_image">
                                            </span>
                                            <div class="progress1">
                                                <div style="width: 0%;height: 18px;background: green;display:none" class="bar"></div>
                                            </div>
                                            <input id="image7-src" readonly="readonly" ng-model="type4_msgVideoImg" style="width:280px;display:none" type="text" name="" placeholder="点击视频，此处自动填写上传的视频地址。" class="form-control">
                                        </div>
                                    </div>*@
                                            <div class="control-group">
                                                <div class="controls">
                                                    <p class="help-block">标题<sup>*</sup></p>
                                                    <input id="msgVideoTitle" type="text" name="msgVideoTitle" ng-model="type4_msgVideoTitle" class="msgVideoTitle">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <p class="help-block">简介(选填)</p>
                                                    <textarea id="msgVideoDesc" name="msgVideoDesc" style="width:400px;height:100px" ng-model="type4_msgVideoDesc"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 语音-->
                                        <div id="msgType-sound" data-msg-type="5" class="tab-pane">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <div id="audio_material"></div>
                                                    <script>
                                                        $('#audio_material').materialControl({
                                                            category: 'Audio'
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <p class="help-block">语音（格式支持mp3，文件大小不超过2M，语音时长不超过1分钟）</p>
                                                    <span class="btn btn-white btn-primary fileinput-button">
                                                        <i class="glyphicon glyphicon-plus"></i><span>增加文件</span>
                                                        <!-- The file input field used as target for the file upload widget-->
                                                        <input type="file" accept="audio/mpeg" name="file" class="uploader_audio">
                                                    </span>
                                                    <div class="progress1">
                                                        <div style="width: 0%;height: 18px;background: green;display:none" class="bar"></div>
                                                    </div>
                                                    <input id="image5-src" readonly="readonly" ng-model="type5_SoundSrc" style="width:280px;display:none" type="text" name="" class="form-control">
                                                    <input id="image5-src_duration" readonly="readonly" ng-model="type5_duration" style="width:280px;display:none" type="text" name="" class="form-control">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="msgbox-footer">
                                        <button id="submitBtn" type="submit" class="btn btn-primary"><span>推送</span></button>&nbsp;
                                        <button id="deferSubmitBtn" class="btn btn-info"><span>定时推送</span></button>&nbsp;
                                        <div class="visible-range" style="display:none;">
                                            <p>可见范围：</p>
                                            <select class="form-control" id="SecurityLevel">
                                                <option value="0">所有关注人员</option>
                                                <option value="1">仅收到消息的人</option>
                                                <option value="3">所有人</option>
                                            </select>
                                            <div class="clear"></div>
                                        </div>

                                    </div>
                                </div>
                                <input type="hidden" value="null" id="materialId" />
                                <div style="display:none" class="obj_firstItem">{{firstitem}}</div>
                                <div style="display:none" class="obj_news">{{news}}</div>
                                <button style="display:none" ng-click="_ng_reset()" class="go-ng-reset">reset news[]</button>
                                <button style="display:none" ng-click="_ng_resetImg()" class="go-ng-resetImg">reset img</button>
                                <button style="display:none" ng-click="_ng_resetVideo()" class="go-ng-resetVideo">reset video</button>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="Timed" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">延时发送</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>选择定时发送的时间:(定时时间不可超过7天)</p>
                                            <input type="text" id="pickDate">
                                            <select id="date_hour">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>

                                            </select>
                                            <span>时:</span>
                                            <select id="date_minutes">
                                                <option value="0">00</option>
                                                <option value="5">05</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="25">25</option>
                                                <option value="30">30</option>
                                                <option value="35">35</option>
                                                <option value="40">40</option>
                                                <option value="45">45</option>
                                                <option value="50">50</option>
                                                <option value="55">55</option>


                                            </select>
                                            <span>分</span>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <button type="button" class="btn btn-primary" id="deferPostSubmit">延时推送</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>

            <!-- watch text-->
            <div class="main-preview">

                <div class="preview-box type1">
                    <div class="preview-list">
                        <div class="preview_text">
                            <p class="pt_header">
                                <a data-toggle="modal" data-target="#myModal" href="#" class="font-color">
                                    <span  class="btn btn btn-white btn-primary btn-lg">
                                        <i class="ace-icon fa fa-share"></i>在微信中预览
                                    </span>
                                </a>
                            </p>
                        </div>

                        <div class="row watchtextRow">
                            <div class="watch_appImg col-xs-2"><img src="@ViewBag.AppImg" alt="app image" title=""></div>
                            <div class="col-xs-10 ma-right">
                                <span class="fa fa-caret-left caret-add watch_angle"></span>
                                <div id="for-msgType-text"></div>
                            </div>
                        </div>
                        <!-- Modal -->
                       
                </div>
                </div>
                <div style="display: none" class="preview-box type2Preview">
                    <div class="preview-list">
                        <div class="preview_text">
                            <p class="pt_header">
                                <a data-toggle="modal" data-target="#myModal" href="#" class="font-color">
                                    <span class="btn btn btn-white btn-primary btn-lg">
                                        <i class="ace-icon fa fa-share"></i>在微信中预览
                                    </span>
                                </a>
                            </p>
                        </div>
                        <ul>
                            <li class="default-item">
                                <p>{{firstitem.msgtitle || '标题'}}</p>
                                <div ng-if="checkImg(1)" class="default-img-box"><img ng-src="{{firstitem.msgfileImg}}"></div>
                                <p ng-if="checkImg(0)" class="default-text-box"><span class="placeholder_text">封面图片推荐尺寸: <br>单图文封面推荐 900*500<br>多图文首个图文封面推荐 900*500, 其余封面推荐 200*200</span></p>
                                <p>{{firstitem.msgtips || '摘要'}}</p>
                            </li>
                            <li id="fi-item" ng-click="activeFirst()" class="first-item">
                                <a href="#">
                                    <div ng-if="checkImg(1)" class="default-img-box"><img ng-src="{{firstitem.msgfileImg}}"></div>
                                    <p ng-if="checkImg(0)" class="default-text-box"><span class="placeholder_text">封面图片推荐尺寸: <br>单图文封面推荐 900*500<br>多图文首个图文封面推荐 900*500, 其余封面推荐 200*200</span></p>
                                    <div ng-click="firstDown($event)" class="order"><b class='arrow fa fa-angle-down'></b></div>

                                    <p class="title"><span>{{firstitem.msgtitle || '标题'}}</span></p>
                                    <button class="rep-del" ng-click="deleteFirst()"><i class="ace-icon glyphicon glyphicon-remove"></i></button>

                                </a>
                            </li>
                            <item></item>
                            <li ng-click="AddNewItem()" class="last-item"><a href="#"><span><i class="ace-icon glyphicon glyphicon-plus"></i></span></a></li>
                        </ul>
                    </div>
                </div>
                <div style="display: none" class="preview-box type3">
                    <div class="preview-list">
                        <div class="preview_text">
                            <p class="pt_header">
                                <a data-toggle="modal" data-target="#myModal" href="#" class="font-color">
                                    <span class="btn btn btn-white btn-primary btn-lg">
                                        <i class="ace-icon fa fa-share"></i>在微信中预览
                                    </span>
                                </a>
                            </p>
                        </div>
                        <div class="row watchtextRow">
                            <div class="watch_appImg col-xs-2"><img src="@ViewBag.AppImg" alt="app image" title=""></div><!--<span class="fa fa-caret-left caret-add watch_angle"></span>-->
                            <pre id="for-msgType-img" ng-if="checkType3img()"><img ng-src="{{type3_msgImg}}"></pre>
                        </div>
                    </div>
                </div>
                @*
                         <div style="display: none" class="preview-box type6">
                        <div class="preview-list">
                            <div class="preview_text">
                                <p class="pt_header"><span id="yulanJustLook6" class="btn btn btn-white btn-primary btn-lg"><i class="ace-icon fa fa-share "></i>在微信中预览</span></p>
                            </div>
                            <div class="row watchtextRow">
                                <div class="watch_appImg col-xs-2"><img src="@ViewBag.AppImg" alt="app image" title=""></div><!--<span class="fa fa-caret-left caret-add watch_angle"></span>-->
                                <pre id="for-msgType-file" ng-if="checkType6file()">
                                <div class="mc_detail">
                                <div class="mc_detail"><span class="icon_filetype filetype_{{type6_msgFileType}}"></span><div class="file_detail_info"><span class="name">{{type6_msgFileTitle}}</span><span class="gray size">{{type6_msgFileSize}}</span></div></div>
                                                    </div>
                                                </pre>
                            </div>
                        </div>
                    </div>
                *@

                <div style="display: none" class="preview-box type4">
                    <div class="preview-list">
                        <div class="preview_text">
                            <p class="pt_header">
                                <a data-toggle="modal" data-target="#myModal" href="#" class="font-color">
                                    <span class="btn btn btn-white btn-primary btn-lg">
                                        <i class="ace-icon fa fa-share"></i>在微信中预览
                                    </span>
                                </a>
                            </p>
                        </div>
                        <ul>
                            <li class="default-item">
                                <!-- class="default-video "-->
                                <p>{{type4_msgVideoTitle || '标题'}}</p>
                                <div ng-if="checkType4video(1)" class="default-img-box">
                                    <video ng-src="{{type4_msgVideoSrc}}" controls="controls"></video>
                                </div>
                                <p ng-if="checkType4video(0)" class="default-text-box"><span class="placeholder_text_video">视频预览区域</span></p>
                                <p>{{type4_msgVideoDesc || '简介'}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="display: none" class="preview-box type3">
                    <div class="preview-list">
                        <div class="preview_text">
                            <p class="pt_header">
                                <a data-toggle="modal" data-target="#myModal" href="#" class="font-color">
                                    <span class="btn btn btn-white btn-primary btn-lg">
                                        <i class="ace-icon fa fa-share"></i>在微信中预览
                                    </span>
                                </a>
                            </p>
                        </div>
                        <div class="row watchtextRow">
                            <div class="watch_appImg col-xs-2"><img src="@ViewBag.AppImg" alt="app image" title=""></div>
                            <div id="for-msgType-sound" ng-if="checktype5Sound()">
                                <div class="js_audio" style="float: left">
                                    <span class="mod-send-message__audio-timeimage-wrap">
                                        <span class="mod-send-message__audio-timeimage"></span>
                                    </span>
                                    <span class="mod-send-message__audio-time" style="padding-top: 10px;">{{type5_duration}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 配置文件-->
    <script type="text/javascript" src="/Scripts/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件-->
    <script type="text/javascript" src="/Scripts/ueditor/ueditor.all.js"></script>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="yulanModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="edit-close" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">输入发送人员</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="col-xs-3">&nbsp;&nbsp;&nbsp;&nbsp;发送人员昵称：</span>
                        <div class="col-xs-8">
                            <input type="hidden" class="bigdrop multiple-select-yulan" style="width:100%" />
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="yulanJustLook1" class="btn btn-primary">发送</button>
            </div>
        </div>
    </div>
    <!-- Modal -->
</div>