<script src="~/Scripts/third-party/highcharts/highcharts.js"></script>
<script src="~/Scripts/third-party/highcharts/modules/exporting.js"></script>
<script src="~/Scripts/third-party/highcharts/modules/data.src.js"></script>
<style>
    .report-table {
        background: #fff;
        margin-bottom: 30px;
        text-align: left;
        border: 1px solid #efefef;
        padding: 20px;
    }

    .table > thead > tr {
        background: #fff;
        color: #000;
    }

    .table td,
    .table th {
        border: 1px solid #efefef !important;
    }

    .input-group {
        float: left;
    }

    .textcenter {
        text-align: center;
    }

    .dataTable .title {
        color: white;
        background: #ee4a46;
    }
</style>
<input type="hidden" id="appid" value="@ViewBag.Appid">
<div class="row">
    <div class="col-md-12">
        <div class="report-table-all report-table">
            <table class="dataTable table">
                <tbody></tbody>
            </table>
        </div>
        <div class="report-table-message report-table">
            <table class="dataTable table">
                <tbody></tbody>
            </table>
        </div>
        <div class="report-chart">
            <div class="form-group pull-left">
                <div data-date-format="yyyy-mm-dd" class="input-daterange input-group">
                    <input type="datetime" name="BeginDate" id="BeginDate" class="form-control" placeholder="开始日期" />
                    <span class="input-group-addon">
                        <i class="fa fa-exchange"></i>
                    </span>
                    <input type="datetime" name="EndDate" id="EndDate" class="form-control" placeholder="结束日期" />
                </div>
                <button type="button" class="btn btn-sm" id="reportSearch"><i class="fa fa-search"></i></button>
            </div>
            <div class="form-group pull-right">
                <button type="button" class="btn btn-sm btn-success" id="reportExport">
                    <i class="fa fa-download"></i>输出
                </button>
            </div>
            <div class="highchart"></div>
        </div>
    </div>
</div>


@section scripts_Foot
{
    <script>
        $(document).ready(function () {

            $("#reportExport").on("click", function () {
                window.location.href = "/WeChatMain/AppReport/MpExportCSV?appId=" + $("#appid").val() + "&BeginDate" + $("#BeginDate").val() + "&EndDate" + $("#EndDate").val();

            })

            getData($("#BeginDate").val(), $("#EndDate").val(), true)
            $("#reportSearch").on('click', function () {
                var start = $("#BeginDate").val();
                var end = $("#EndDate").val();

                if (checkdate(start, end)) {
                    getData(start, end, false)
                }

            })
            //日期控件
            $('.input-daterange').datepicker({
                autoclose: true,
                todayHighlight: true,
                dateFormat: 'yyyy-mm-dd',
                minDate: -10,
                maxDate: "+1M +10D",
                todayBtn: "linked",
                clearBtn: true
            });
            

        });
        var getData = function (start, end, defaultval) {
                $.ajax({
                    url: "/WeChatMain/AppReport/JsonForAppReport",
                    type: "get",
                    data: {
                        "appid": $("#appid").val(),
                        "BeginDate": start,
                        "EndDate": end
                    },
                    contentType: "application/json",
                    success: function (data) {
                        var newdata = JSON.parse(data);
                       
                        if (defaultval) {
                            drawMpTable(newdata);
                        }
                        drawHighchart(newdata.monthSubDetailList);
                    }
                });
            }
        var drawMpTable = function (data) {
            //first table
            $(".report-table-all table tbody").append("<tr><th>总人数</th><th>已关注</th><th>未关注</th><th>关注百分比</th><th>本月新增关注</th></tr>" +         
            "<tr><td>" + data.allcountnum + "</td><td>" + data.subscribeCountnum + "</td><td>" + data.unSubscribeCountnum + "</td><td>" + Math.round(data.subscribeCountnum * 100 / data.allcountnum) + "%</td><td>" + data.subScribeCountnumThisMonth + "</td></tr>")
           
            //second table
            
            $(".report-table-message table tbody").append("<tr><th>本月发送消息</th><th>累计发送消息 </th><th>本月阅读人数 </th><th>累计阅读人数</th><th>本月互动</th><th>累计互动</th></tr>" +
           "<tr><td>" + data.interacAndReadCount.MsgThisMonth + "</td><td>" + data.interacAndReadCount.TotalMsg + "</td><td>" + data.interacAndReadCount.ReadCountThisMonth +
           "</td><td>" + data.interacAndReadCount.ReadCountTotal + "</td><td>" + data.interacAndReadCount.InteractThisMonth + "</td><td>" + data.interacAndReadCount.TotalInteract + "</td></tr>")


        }
        var drawHighchart = function (data) {

            var xdata = []
            var ydataSubscribe = []

            for (var i = 0; i < data.length; i++) {
                xdata[i] = data[i].dateTime
                ydataSubscribe[i] = data[i].SubNum
            }

            $('.highchart').highcharts({
                title: {
                    text: '新增关注人数曲线图',
                    x: 0 //center
                },
                chart: {
                    height: 500,
                },
                exporting: {
                    enabled: false,
                },
                credits: {
                    enabled: false,
                },
                xAxis: {
                    categories: xdata,
                    tickInterval: 4
                },
                yAxis: {
                    title: {
                        text: '人数'
                    },
                    allowDecimals: false,
                    min: 0,
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: '关注',
                    data: ydataSubscribe
                } ]

            })


        }
        var checkdate = function (start, end) {
            if (start == null || start.length == 0) {
                artDialog.alert("起始日期不能为空");
                return false;
            }
            if (end == null || end.length == 0) {
                artDialog.alert("截止日期不能为空");
                return false;
            }

            var startime = new Date(start);
            var endtime = new Date(end);
            if (startime.getTime() > endtime.getTime()) {
                artDialog.alert("截止日期不能早于起始日期。");
                return false;
                //Math.floor(date3 / (24 * 3600 * 1000))
            } else if (Math.floor((endtime.getTime() - startime.getTime()) / (24 * 3600 * 1000)) > 60) {
                artDialog.alert("间隔时间不能超过两个月。");
                return false;
            }
            return true;
        }
    </script>
}
