
@{
    Layout = "AddAccountManage";
}

    <form action="/Home/AddAccountManage" method="post" class="form-horizontal" id="replyForm">
        <div>
 
            <input id="AccountName" type="text" />   AccountName
            <input id="AccountDescription" type="text" />    AccountDescription
            <input id="AccountLogo" type="text" />              AccountLogo
            <input id="QrCode" type="text" />           QrCode
            <input id="AccountType" type="text" />       AccountType
             <submit>确认</submit>
        </div>
        </form>
 
